# Data wrangling

Open RStudio.

Open a new R script in R and **save it as** `wpa_4_LastFirst.R` (where Last and First is your last and first name). 

Careful about: capitalizing, last and first name order, and using `_` instead of `-`.

At the top of your script, write the following (**with appropriate changes**):

In [39]:
# Assignment: WPA 4
# Name: Laura Fontanesi
# Date: 23 March 2020

#### Load some data in R

In [40]:
library(tidyverse)
library(haven) # NOTE: you might need to install.packages("haven") first

# Load data in R
survey_data = read_spss("https://github.com/laurafontanesi/r-seminar/raw/main/data/ccam_original.sav")

glimpse(survey_data)

Rows: 20,024
Columns: 54
$ case_ID                     <dbl> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ year                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ weight_wave                 <dbl> 0.54, 0.85, 0.49, 0.29, 1.29, 2.56, 0.23, …
$ weight_aggregate            <dbl> 0.2939263, 0.4626617, 0.2667109, 0.1578493…
$ happening                   <dbl+lbl> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3,…
$ cause_original              <dbl+lbl> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1,…
$ cause_other_text            <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ cause_recoded               <dbl+lbl> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6,…
$ sci_consensus               <dbl+lbl> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4,…
$ worry                       <dbl+lbl> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3,…
$ harm_personally             <dbl+lbl> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3,…
$ harm_US                     <dbl+lbl>  3, -1,  1,  2,  0,  0,  3,  3,  1,  0…
$ harm_dev_countries          <dbl+lbl> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4,…
$ harm_future_gen             <dbl+lbl> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4,…
$ harm_plants_animals         <dbl+lbl> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4,…
$ when_harm_US                <dbl+lbl> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5,…
$ reg_CO2_pollutant           <dbl+lbl> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4,…
$ reg_utilities               <dbl+lbl> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4,…
$ fund_research               <dbl+lbl> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3,…
$ reg_coal_emissions          <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <dbl+lbl> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2,…
$ hear_GW_media               <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <dbl+lbl> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2,…
$ age                         <dbl> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <dbl+lbl> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3,…
$ generation                  <dbl+lbl> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5,…
$ educ                        <dbl+lbl>  9,  6, 14, 13, 10, 12, 12, 12, 12, 12…
$ educ_category               <dbl+lbl> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2,…
$ income                      <dbl+lbl> 12,  9,  9, 16, 13, 14,  3, 12, 16, 17…
$ income_category             <dbl+lbl> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3,…
$ race                        <dbl+lbl> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1,…
$ ideology                    <dbl+lbl> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3,…
$ party                       <dbl+lbl> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3,…
$ party_w_leaners             <dbl+lbl> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2,…
$ party_x_ideo                <dbl+lbl>  5, -2,  5,  5,  5,  5,  5,  3,  3,  5…
$ registered_voter            <dbl+lbl> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ region9                     <dbl+lbl> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2,…
$ region4                     <dbl+lbl> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1,…
$ religion                    <dbl+lbl>  2,  2,  4,  2,  1, 11,  4, 15,  2,  1…
$ religion_other_nonchristian <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ evangelical                 <dbl+lbl> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2,…
$ service_attendance          <dbl+lbl> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2,…
$ marit_status                <dbl+lbl> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1,…
$ employment                  <dbl+lbl> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5,…
$ house_head                  <dbl+lbl> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,…
$ house_size                  <dbl> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <dbl> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <dbl> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <dbl+lbl> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1,…
$ house_own                   <dbl+lbl> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1,…

## 1. What is data wrangling?

Data wrangling is the process of transforming data from a raw format (in which they were collected) into another format with the intent of making it more appropriate and valuable for exploratory and confirmatory data analyses.

Until now, we only worked with "tidy" datasets, i.e., dataset that were already ready for being plotted/analysed. But this is an exeption. Especially when collecting your own data, but also when accessing another researcher's data, we typically have to go through a few steps before being able to run analysese or plotting.

Today's class is based on specific functions in the tidyverse that will serve exactly this purpuse.

## 2. Functions to know and some examples

Virtually all you need to know is in [this cheatsheet](https://rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf).

The more frequent functions you will use are:

- `%>%`: The pipe operator, to chain functions (not recommended at the beginning).

- `arrange`: order the dataframe based on values of variables.

- `rename`: to rename specific columns.

- `filter` and `slice`: to select subsets of rows.

- `select`: to select subsets of columns.

- `mutate`: make new columns based on modifications of existing ones.

- `mutate_all`: make the same modification on all columns. 

- `mutate_if`: make the same modification on columns satisfying specific conditions. 

Look [here](https://dplyr.tidyverse.org/reference/mutate_all.html) for other kinds of mutate.

- `summarize`: to calculate summary statistics.

- `summarize_all`: to calculate summary statistics on all columns. 

- `summarize_if`: to calculate summary statistics on columns satisfying specific conditions. 

Look [here](https://dplyr.tidyverse.org/reference/summarise_all.html) for other kinds of summarize.

- `group_by`: to group the data based on some variables, so that subsequent calculations are done on such variables.

- `full_join`, `left_join`, `right_join`: to join separate dataframes.

- `bind_rows` and `bind_cols`: to append dataframes vertically or horizontally.

- `gather` and `spread`: bring wide form to long form and viceversa.

- `unite`: make a column from multiple columns.

- `separate`: make multiple columns from one column.

In [41]:
# only select columns of interest equivalent to data.frame[,interesting_columns]
interesting_columns = c('wave', 'year', 'happening', 'cause_recoded', 'sci_consensus', 'worry', 'harm_personally', 
                        'harm_US', 'harm_dev_countries', 'harm_future_gen', 'harm_plants_animals', 'when_harm_US',
                        'reg_CO2_pollutant', 'reg_utilities', 'fund_research', 'discuss_GW',
                        'gender', 'age_category', 'educ_category', 'income_category', 'race', 'party_x_ideo', 'region4', 'employment')

columns_to_drop = c('case_ID', 'weight_wave', 'weight_aggregate', 'cause_original', 'cause_other_text',
                    'reg_coal_emissions', 'hear_GW_media', 'age', 'generation', 'educ', 'income', 'ideology',
                    'party', 'party_w_leaners', 'registered_voter', 'region9', 'religion', 'religion_other_nonchristian',
                    'evangelical', 'service_attendance', 'marit_status', 'house_head', 'house_size',
                    'house_ages0to1', 'house_ages2to5', 'house_ages6to12', 'house_ages13to17', 'house_ages18plus',
                    'house_type', 'house_own')

new_survey_data = select(survey_data, all_of(interesting_columns))

#or:
new_survey_data = select(survey_data, -all_of(columns_to_drop))

glimpse(new_survey_data)

Rows: 20,024
Columns: 24
$ wave                <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ year                <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ happening           <dbl+lbl> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, 3, 2…
$ cause_recoded       <dbl+lbl> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6, 6, 5, 4…
$ sci_consensus       <dbl+lbl> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4, 4, 4, 2…
$ worry               <dbl+lbl> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, 4, 2…
$ harm_personally     <dbl+lbl> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, 4, 2…
$ harm_US             <dbl+lbl>  3, -1,  1,  2,  0,  0,  3,  3,  1,  0,  0,  0…
$ harm_dev_countries  <dbl+lbl> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, 4, 2…
$ harm_future_gen     <dbl+lbl> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, 4, 3…
$ harm_plants_animals <dbl+lbl> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, 4, 3…
$ when_harm_US        <dbl+lbl> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, 5, 2…
$ reg_CO2_pollutant   <dbl+lbl> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, 3, 2…
$ reg_utilities       <dbl+lbl> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, 2, 2…
$ fund_research       <dbl+lbl> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, 4, 3…
$ discuss_GW          <dbl+lbl> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, 3, 2…
$ gender              <dbl+lbl> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2…
$ age_category        <dbl+lbl> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 3, 1…
$ educ_category       <dbl+lbl> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, 2, 4…
$ income_category     <dbl+lbl> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, 1, 3…
$ race                <dbl+lbl> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 3, 1…
$ party_x_ideo        <dbl+lbl>  5, -2,  5,  5,  5,  5,  5,  3,  3,  5,  2,  5…
$ region4             <dbl+lbl> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1, 2, 3, 3…
$ employment          <dbl+lbl> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5, 5, 1, 7…

In [42]:
# sort by one variable, and only show the first 6 values
head(arrange(survey_data, weight_wave), 6)

  case_ID wave year weight_wave weight_aggregate happening cause_original
1 7159    3    2    0.06        0.06901654       3         1
2 7279    3    2    0.06        0.06901654       3         1
3 7354    3    2    0.06        0.06901654       1         4
4 3568    2    2    0.08        0.09413645       2         2
5 4092    2    2    0.08        0.09413645       3         1
6 4109    2    2    0.08        0.09413645       3         3
  cause_other_text                    cause_recoded sci_consensus ⋯ employment
1                                     6             4             ⋯ 1
2                                     6             4             ⋯ 1
3                                     3             1             ⋯ 1
4                                     4             2             ⋯ 1
5                                     6             4             ⋯ 1
6 both natural withthe help of humans 5             2             ⋯ 1
  house_head house_size house_ages0to1 house_ages2to5 house_ages6to12
1 2          4          0              1              0
2 2          4          0              0              0
3 2          3          0              0              0
4 2          4          0              0              1
5 2          3          0              0              0
6 2          4          0              0              1
  house_ages13to17 house_ages18plus house_type house_own
1 1                2                1          1
2 1                3                1          1
3 1                2                1          1
4 1                2                1          1
5 1                2                1          1
6 1                2                1          1

In [43]:
# sort by 2 variables (one in opposite order), and only show the last 10 values
tail(arrange(survey_data, weight_wave, desc(weight_aggregate)), 10)

   case_ID wave year weight_wave weight_aggregate happening cause_original
1  2432    1    1    5.12        2.786857         3          1
2  2469    1    1    5.12        2.786857         3          3
3  3138    2    2    5.28        6.213006         2         -1
4  3511    2    2    5.28        6.213006         2          2
5  3572    2    2    5.28        6.213006         1          4
6  3598    2    2    5.28        6.213006         1          2
7  3613    2    2    5.28        6.213006         1         -1
8  3634    2    2    5.28        6.213006         3          1
9  3667    2    2    5.28        6.213006         3          2
10 3736    2    2    5.28        6.213006         1          2
   cause_other_text
1
2  by alll the polution from airplanes and rockets they send into space
3
4
5
6
7
8
9
10
   cause_recoded sci_consensus ⋯ employment house_head house_size
1   6             4            ⋯ 1          1          4
2   6             2            ⋯ 5          2          2
3  -1             1            ⋯ 1          2          2
4   4             1            ⋯ 1          2          3
5   3             4            ⋯ 1          2          2
6   4             1            ⋯ 7          2          5
7  -1            -1            ⋯ 1          2          1
8   6             4            ⋯ 5          2          2
9   4             4            ⋯ 7          1          4
10  4             2            ⋯ 1          2          5
   house_ages0to1 house_ages2to5 house_ages6to12 house_ages13to17
1  0              0              0               0
2  0              0              0               0
3  0              0              0               0
4  1              0              0               0
5  0              0              0               0
6  1              0              2               0
7  0              0              0               0
8  0              0              0               0
9  0              0              0               0
10 0              0              1               0
   house_ages18plus house_type house_own
1  4                1          1
2  2                1          1
3  2                3          2
4  2                1          1
5  2                3          2
6  2                1          1
7  1                1          1
8  2                1          1
9  4                1          1
10 4                1          1

In [44]:
# another way to select rows (equivalent to data.frame[200:210,])
slice(survey_data, 200:210)

   case_ID wave year weight_wave weight_aggregate happening cause_original
1  217     1    1    0.78        0.4245602        3         3
2  218     1    1    0.42        0.2286093        2         2
3  219     1    1    0.67        0.3646863        1         2
4  220     1    1    0.87        0.4735479        2         2
5  221     1    1    0.93        0.5062064        1         2
6  222     1    1    0.77        0.4191171        3         1
7  223     1    1    2.09        1.1376036        3         1
8  224     1    1    0.79        0.4300033        3         3
9  225     1    1    2.35        1.2791236        3         1
10 226     1    1    0.59        0.3211417        3         1
11 227     1    1    1.97        1.0722866        1         2
   cause_other_text                                  cause_recoded
1  human and  natural occurences                     5
2                                                    4
3                                                    4
4                                                    4
5                                                    4
6                                                    6
7                                                    6
8  caused by a combination of both humans and nature 5
9                                                    6
10                                                   6
11                                                   4
   sci_consensus ⋯ employment house_head house_size house_ages0to1
1  2             ⋯ 1          1          4          0
2  2             ⋯ 1          2          3          0
3  2             ⋯ 6          1          1          0
4  2             ⋯ 4          2          4          0
5  2             ⋯ 1          2          2          0
6  4             ⋯ 4          2          6          0
7  4             ⋯ 7          2          4          0
8  4             ⋯ 1          2          4          0
9  4             ⋯ 7          2          1          0
10 4             ⋯ 5          2          1          0
11 2             ⋯ 2          2          6          0
   house_ages2to5 house_ages6to12 house_ages13to17 house_ages18plus house_type
1  0              0               0                4                1
2  0              0               0                3                1
3  0              0               0                1                1
4  0              2               0                2                1
5  0              0               0                2                1
6  0              1               1                4                1
7  1              1               0                2                1
8  0              0               0                4                1
9  0              0               0                1                2
10 0              0               0                1                1
11 0              0               3                3                1
   house_own
1  1
2  2
3  2
4  1
5  1
6  1
7  1
8  1
9  1
10 1
11 1

In [45]:
# eliminate people (i.e., rows) who didn't reply in some variables of interest (an absence of reply was coded as -1 here)
survey_data = filter(survey_data, 
                     happening > 0, 
                     cause_recoded > 0, 
                     sci_consensus > 0, 
                     worry > 0)

glimpse(survey_data)

Rows: 18,514
Columns: 54
$ case_ID                     <dbl> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ year                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ weight_wave                 <dbl> 0.54, 0.85, 0.49, 0.29, 1.29, 2.56, 0.23, …
$ weight_aggregate            <dbl> 0.2939263, 0.4626617, 0.2667109, 0.1578493…
$ happening                   <dbl+lbl> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3,…
$ cause_original              <dbl+lbl> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1,…
$ cause_other_text            <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ cause_recoded               <dbl+lbl> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6,…
$ sci_consensus               <dbl+lbl> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4,…
$ worry                       <dbl+lbl> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3,…
$ harm_personally             <dbl+lbl> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3,…
$ harm_US                     <dbl+lbl>  3, -1,  1,  2,  0,  0,  3,  3,  1,  0…
$ harm_dev_countries          <dbl+lbl> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4,…
$ harm_future_gen             <dbl+lbl> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4,…
$ harm_plants_animals         <dbl+lbl> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4,…
$ when_harm_US                <dbl+lbl> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5,…
$ reg_CO2_pollutant           <dbl+lbl> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4,…
$ reg_utilities               <dbl+lbl> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4,…
$ fund_research               <dbl+lbl> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3,…
$ reg_coal_emissions          <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <dbl+lbl> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2,…
$ hear_GW_media               <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <dbl+lbl> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2,…
$ age                         <dbl> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <dbl+lbl> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3,…
$ generation                  <dbl+lbl> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5,…
$ educ                        <dbl+lbl>  9,  6, 14, 13, 10, 12, 12, 12, 12, 12…
$ educ_category               <dbl+lbl> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2,…
$ income                      <dbl+lbl> 12,  9,  9, 16, 13, 14,  3, 12, 16, 17…
$ income_category             <dbl+lbl> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3,…
$ race                        <dbl+lbl> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1,…
$ ideology                    <dbl+lbl> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3,…
$ party                       <dbl+lbl> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3,…
$ party_w_leaners             <dbl+lbl> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2,…
$ party_x_ideo                <dbl+lbl>  5, -2,  5,  5,  5,  5,  5,  3,  3,  5…
$ registered_voter            <dbl+lbl> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ region9                     <dbl+lbl> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2,…
$ region4                     <dbl+lbl> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1,…
$ religion                    <dbl+lbl>  2,  2,  4,  2,  1, 11,  4, 15,  2,  1…
$ religion_other_nonchristian <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ evangelical                 <dbl+lbl> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2,…
$ service_attendance          <dbl+lbl> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2,…
$ marit_status                <dbl+lbl> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1,…
$ employment                  <dbl+lbl> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5,…
$ house_head                  <dbl+lbl> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,…
$ house_size                  <dbl> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <dbl> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <dbl> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <dbl+lbl> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1,…
$ house_own                   <dbl+lbl> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1,…

In [46]:
# convert all data to integers type
survey_data = mutate_all(survey_data, 
                         as.integer)

glimpse(survey_data)

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

Rows: 18,514
Columns: 54
$ case_ID                     <int> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ year                        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ weight_wave                 <int> 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, …
$ weight_aggregate            <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ happening                   <int> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, …
$ cause_original              <int> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1, 1, …
$ cause_other_text            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <int> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6, 6, …
$ sci_consensus               <int> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4, 4, …
$ worry                       <int> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, …
$ harm_personally             <int> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, …
$ harm_US                     <int> 3, -1, 1, 2, 0, 0, 3, 3, 1, 0, 0, 0, 3, 2,…
$ harm_dev_countries          <int> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, …
$ harm_future_gen             <int> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, …
$ harm_plants_animals         <int> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, …
$ when_harm_US                <int> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, …
$ reg_CO2_pollutant           <int> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, …
$ reg_utilities               <int> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, …
$ fund_research               <int> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, …
$ reg_coal_emissions          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <int> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, …
$ hear_GW_media               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <int> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, …
$ age                         <int> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <int> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, …
$ generation                  <int> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5, 4, …
$ educ                        <int> 9, 6, 14, 13, 10, 12, 12, 12, 12, 12, 9, 1…
$ educ_category               <int> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, …
$ income                      <int> 12, 9, 9, 16, 13, 14, 3, 12, 16, 17, 8, 7,…
$ income_category             <int> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, …
$ race                        <int> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, …
$ ideology                    <int> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3, 3, …
$ party                       <int> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3, 2, …
$ party_w_leaners             <int> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2, 2, …
$ party_x_ideo                <int> 5, -2, 5, 5, 5, 5, 5, 3, 3, 5, 2, 5, 2, 2,…
$ registered_voter            <int> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ region9                     <int> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2, 4, …
$ region4                     <int> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1, 2, …
$ religion                    <int> 2, 2, 4, 2, 1, 11, 4, 15, 2, 1, 2, 2, 5, 3…
$ religion_other_nonchristian <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <int> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, …
$ service_attendance          <int> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2, 1, …
$ marit_status                <int> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1, 3, …
$ employment                  <int> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5, 5, …
$ house_head                  <int> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ house_size                  <int> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <int> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <int> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1, 1, …
$ house_own                   <int> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, …

In [47]:
# add new columns
# note that when you use the old name, the column is replaced with the new one

survey_data = mutate(survey_data, 
                     happening_cont = happening + rnorm(mean=0, sd=.5, n=nrow(survey_data)),
                     worry_cont = worry + rnorm(mean=0, sd=.5, n=nrow(survey_data)),
                     year=recode(year, 
                                 `1` = 2008,
                                 `2` = 2010,
                                 `3` = 2011,
                                 `4` = 2012, 
                                 `5` = 2013,
                                 `6` = 2014,
                                 `7` = 2015,
                                 `8` = 2016,
                                 `9` = 2017),
                     happening_labels=recode(happening,
                                             `1` = "no",
                                             `2` = "dont know",
                                             `3` = "yes"),
                     cause_recoded=recode(cause_recoded,
                                          `1` = "dont know",
                                          `2` = "other",
                                          `3` = "not happening",
                                          `4` = "natural",
                                          `5` = "human",
                                          `6` = "natural and human"),
                     sci_consensus=recode(sci_consensus,
                                          `1` = "dont know",
                                          `2` = "disagreement",
                                          `3` = "not happening",
                                          `4` = "happening"),
                     gender=recode(gender,
                                   `1` = "male",
                                   `2` = "female"),
                     age_category_labels=recode(age_category,
                                                `1` = "18-34",
                                                `2` = "35-54",
                                                `3` = "55+"),
                     educ_category_labels=recode(educ_category,
                                                 `1` = "no highschool",
                                                 `2` = "highschool",
                                                 `3` = "college",
                                                 `4` = "bachelor or higher"),
                     income_category_labels=recode(income_category,
                                                   `1` = "less 50000",
                                                   `2` = "50000-99999",
                                                   `3` = "more 100000"),
                     race=recode(race,
                                 `1` = 'white non hisp',
                                 `2` = 'black non hisp',
                                 `3` = 'other non hisp',
                                 `4` = 'hisp'),
                     party_x_ideo=recode(party_x_ideo,
                                         `-2` = "no interest",
                                         `-1` = "refused",
                                         `1` = "liberal democrat",
                                         `2` = "moderate democrate",
                                         `3` = "independent",
                                         `4` = "moderate republican",
                                         `5` = "conservative republican"),
                     region4 = recode(region4,
                                      `1` = "northeast",
                                      `2` = "midwest",
                                      `3` = "south",
                                      `4` = "west"),
                     employment = recode(employment,
                                         `1` = "Working/as a paid employee",
                                         `2` = "Working/selfemploye",
                                         `3` = "Not working/temporary",
                                         `4` = "Not working/looking",
                                         `5` = "Not working/retired",
                                         `6` = "Not working/disabled",
                                         `7` = "Not working/other"))

glimpse(survey_data)

Rows: 18,514
Columns: 60
$ case_ID                     <int> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ year                        <dbl> 2008, 2008, 2008, 2008, 2008, 2008, 2008, …
$ weight_wave                 <int> 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, …
$ weight_aggregate            <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ happening                   <int> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, …
$ cause_original              <int> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1, 1, …
$ cause_other_text            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <chr> "natural and human", "natural and human", …
$ sci_consensus               <chr> "happening", "dont know", "disagreement", …
$ worry                       <int> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, …
$ harm_personally             <int> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, …
$ harm_US                     <int> 3, -1, 1, 2, 0, 0, 3, 3, 1, 0, 0, 0, 3, 2,…
$ harm_dev_countries          <int> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, …
$ harm_future_gen             <int> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, …
$ harm_plants_animals         <int> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, …
$ when_harm_US                <int> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, …
$ reg_CO2_pollutant           <int> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, …
$ reg_utilities               <int> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, …
$ fund_research               <int> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, …
$ reg_coal_emissions          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <int> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, …
$ hear_GW_media               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <chr> "female", "male", "female", "male", "femal…
$ age                         <int> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <int> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, …
$ generation                  <int> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5, 4, …
$ educ                        <int> 9, 6, 14, 13, 10, 12, 12, 12, 12, 12, 9, 1…
$ educ_category               <int> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, …
$ income                      <int> 12, 9, 9, 16, 13, 14, 3, 12, 16, 17, 8, 7,…
$ income_category             <int> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, …
$ race                        <chr> "white non hisp", "white non hisp", "hisp"…
$ ideology                    <int> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3, 3, …
$ party                       <int> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3, 2, …
$ party_w_leaners             <int> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2, 2, …
$ party_x_ideo                <chr> "conservative republican", "no interest", …
$ registered_voter            <int> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ region9                     <int> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2, 4, …
$ region4                     <chr> "south", "midwest", "west", "south", "sout…
$ religion                    <int> 2, 2, 4, 2, 1, 11, 4, 15, 2, 1, 2, 2, 5, 3…
$ religion_other_nonchristian <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <int> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, …
$ service_attendance          <int> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2, 1, …
$ marit_status                <int> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1, 3, …
$ employment                  <chr> "Not working/retired", "Not working/disabl…
$ house_head                  <int> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ house_size                  <int> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <int> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <int> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1, 1, …
$ house_own                   <int> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, …
$ happening_cont              <dbl> 3.2669560, 2.5307221, 1.7941374, 2.4745326…
$ worry_cont                  <dbl> 2.8489717, 2.6450540, 1.1535924, 3.8647019…
$ happening_labels            <chr> "yes", "dont know", "dont know", "yes", "y…
$ age_category_labels         <chr> "55+", "35-54", "35-54", "55+", "18-34", "…
$ educ_category_labels        <chr> "highschool", "no highschool", "bachelor o…
$ income_category_labels      <chr> "50000-99999", "less 50000", "less 50000",…

In [48]:
# get summary statistics
summarise(survey_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  count min_worry  quantile25_worry mean_worry quantile75_worry max_worry
1 18514 -0.7220643 1.750692         2.515488   3.278537         5.668872
  min_happening quantile25_happening mean_happening quantile75_happening
1 -0.8506721    1.941644             2.500211       3.165808
  max_happening
1 4.997041

In [51]:
summarise(survey_data,
          mean_happening = mean(happening))

  mean_happening
1 2.497137

In [52]:
# get summary statistics per group
grouped_data = group_by(survey_data, year)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  year count min_worry  quantile25_worry mean_worry quantile75_worry max_worry
1 2008 2130  -0.3927797 1.916179         2.597420   3.342210         5.550540
2 2010 1993  -0.3115859 1.639959         2.429998   3.184343         5.314106
3 2011 1946  -0.7220643 1.684914         2.441148   3.207412         5.515601
4 2012 2050  -0.1440749 1.736873         2.505093   3.247409         5.295962
5 2013 1858  -0.4683116 1.712821         2.463908   3.222179         5.580491
6 2014 2282  -0.2673345 1.739637         2.501283   3.271777         5.215640
7 2015 1263  -0.2805715 1.669397         2.427352   3.166260         5.430075
8 2016 2427  -0.4125858 1.789614         2.567817   3.343851         5.668872
9 2017 2565  -0.5065381 1.829111         2.622467   3.436215         5.290933
  min_happening quantile25_happening mean_happening quantile75_happening
1 -0.3423387    2.146728             2.585329       3.205378
2 -0.5653837    1.705061             2.358985       3.061807
3 -0.5463585    1.846228             2.446981       3.140426
4 -0.4358974    1.962621             2.520049       3.183055
5 -0.8506721    1.848234             2.464009       3.126596
6 -0.5048299    1.849123             2.483263       3.186023
7 -0.4825196    1.776431             2.422404       3.126370
8 -0.3246237    2.095261             2.583620       3.196113
9 -0.3133885    2.069724             2.564479       3.201190
  max_happening
1 4.773472
2 4.509432
3 4.631332
4 4.774200
5 4.896754
6 4.441031
7 4.364806
8 4.997041
9 4.664485

In [54]:
# split columns
survey_data = separate(survey_data,
                       col = employment,
                       into = c('working', 'working_type'),
                       sep = '/',
                       remove = FALSE)
head(survey_data)

  case_ID wave year weight_wave weight_aggregate happening cause_original
1 2       1    2008 0           0                3         1
2 3       1    2008 0           0                2         1
3 5       1    2008 0           0                2         2
4 6       1    2008 0           0                3         2
5 7       1    2008 1           0                3         1
6 8       1    2008 2           1                2         2
  cause_other_text cause_recoded     sci_consensus ⋯ house_ages13to17
1 NA               natural and human happening     ⋯ 0
2 NA               natural and human dont know     ⋯ 0
3 NA               natural           disagreement  ⋯ 0
4 NA               natural           happening     ⋯ 0
5 NA               natural and human disagreement  ⋯ 0
6 NA               natural           disagreement  ⋯ 0
  house_ages18plus house_type house_own happening_cont worry_cont
1 3                1          1         3.266956       2.848972
2 2                4          2         2.530722       2.645054
3 2                1          1         1.794137       1.153592
4 2                1          1         2.474533       3.864702
5 2                1          1         3.545490       3.388383
6 2                2          1         2.702304       1.567124
  happening_labels age_category_labels educ_category_labels
1 yes              55+                 highschool
2 dont know        35-54               no highschool
3 dont know        35-54               bachelor or higher
4 yes              55+                 bachelor or higher
5 yes              18-34               college
6 dont know        18-34               bachelor or higher
  income_category_labels
1 50000-99999
2 less 50000
3 less 50000
4 more 100000
5 50000-99999
6 50000-99999

In [56]:
head(select(survey_data, employment, working, working_type), 10)

   employment                 working     working_type
1  Not working/retired        Not working retired
2  Not working/disabled       Not working disabled
3  Not working/looking        Not working looking
4  Not working/retired        Not working retired
5  Working/as a paid employee Working     as a paid employee
6  Working/selfemploye        Working     selfemploye
7  Working/as a paid employee Working     as a paid employee
8  Working/as a paid employee Working     as a paid employee
9  Working/selfemploye        Working     selfemploye
10 Not working/other          Not working other

In [13]:
# you can also create a new column via mutate + case_when
survey_data = mutate(survey_data,
                     working_recoded = case_when(working == "Not working" & working_type == 'looking' ~ 0,
                                                 working == "Not working" & working_type != 'looking' ~ 1,
                                                 working == "Working" ~ 2))
                     
head(survey_data)

  case_ID wave year weight_wave weight_aggregate happening cause_original
1 2       1    2008 0           0                3         1
2 3       1    2008 0           0                2         1
3 5       1    2008 0           0                2         2
4 6       1    2008 0           0                3         2
5 7       1    2008 1           0                3         1
6 8       1    2008 2           1                2         2
  cause_other_text cause_recoded     sci_consensus ⋯ house_ages18plus
1 NA               natural and human happening     ⋯ 3
2 NA               natural and human dont know     ⋯ 2
3 NA               natural           disagreement  ⋯ 2
4 NA               natural           happening     ⋯ 2
5 NA               natural and human disagreement  ⋯ 2
6 NA               natural           disagreement  ⋯ 2
  house_type house_own happening_cont worry_cont happening_labels
1 1          1         3.056241       2.3100179  yes
2 4          2         1.731782       1.3004009  dont know
3 1          1         2.138899       0.8891299  dont know
4 1          1         2.634722       2.6197094  yes
5 1          1         2.839183       3.3024369  yes
6 2          1         2.069168       1.7538779  dont know
  age_category_labels educ_category_labels income_category_labels
1 55+                 highschool           50000-99999
2 35-54               no highschool        less 50000
3 35-54               bachelor or higher   less 50000
4 55+                 bachelor or higher   more 100000
5 18-34               college              50000-99999
6 18-34               bachelor or higher   50000-99999
  working_recoded
1 1
2 1
3 0
4 1
5 2
6 2

In [14]:
# get summary statistics per group
grouped_data = group_by(survey_data, working)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  working     count min_worry  quantile25_worry mean_worry quantile75_worry
1 Not working  7996 -0.6586089 1.679884         2.495902   3.275594
2 Working     10518 -0.6520476 1.761303         2.518348   3.261592
  max_worry min_happening quantile25_happening mean_happening
1 5.982889  -0.6008759    1.933319             2.487035
2 5.472525  -0.5642335    1.949186             2.505483
  quantile75_happening max_happening
1 3.147362             4.966268
2 3.170093             4.728332

In [15]:
# first filter, and then get summary statistics per group
not_working_data = filter(survey_data, working == "Not working")

grouped_data = group_by(not_working_data, working_type)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  working_type count min_worry  quantile25_worry mean_worry quantile75_worry
1 disabled     1259  -0.2401911 1.827150         2.653900   3.448619
2 looking      1112  -0.3035424 1.834188         2.566945   3.329871
3 other        1370  -0.1126759 1.622634         2.451294   3.245454
4 retired      4099  -0.6586089 1.634284         2.437806   3.208241
5 temporary     156  -0.4445072 1.996483         2.632633   3.354567
  max_worry min_happening quantile25_happening mean_happening
1 5.982889  -0.20679568   2.025617             2.547773
2 5.281822  -0.08184402   2.024150             2.538151
3 5.064805  -0.31213974   1.817457             2.413063
4 5.798388  -0.60087587   1.905837             2.477839
5 4.994663  -0.02185727   1.975121             2.523775
  quantile75_happening max_happening
1 3.175139             4.350300
2 3.159666             4.966268
3 3.096053             4.601692
4 3.159022             4.885373
5 3.122823             4.424609

In [16]:
# merge two columns
survey_data = unite(survey_data,
                    "race_gender",
                    race, 
                    gender,
                    sep = "_",
                    remove=FALSE)

head(select(survey_data, race, gender, race_gender))

  race           gender race_gender
1 white non hisp female white non hisp_female
2 white non hisp male   white non hisp_male
3 hisp           female hisp_female
4 white non hisp male   white non hisp_male
5 white non hisp female white non hisp_female
6 white non hisp male   white non hisp_male

In [17]:
# get summary statistics per group
grouped_data = group_by(survey_data, race_gender)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  race_gender           count min_worry   quantile25_worry mean_worry
1 black non hisp_female  875  -0.24019109 1.879707         2.588897
2 black non hisp_male    724  -0.01588894 1.922064         2.602359
3 hisp_female            875  -0.29912027 2.188762         2.824133
4 hisp_male              919  -0.33369004 1.893070         2.661824
5 other non hisp_female  562  -0.44450721 1.983426         2.678921
6 other non hisp_male    570  -0.48427703 1.828078         2.598533
7 white non hisp_female 7000  -0.65204756 1.823520         2.558634
8 white non hisp_male   6989  -0.65860888 1.527819         2.358183
  quantile75_worry max_worry min_happening quantile25_happening mean_happening
1 3.311132         5.441786   0.05294922   2.189714             2.671290
2 3.357832         5.060470  -0.04330143   2.255510             2.683641
3 3.552391         5.281822  -0.31384439   2.266097             2.650710
4 3.388720         5.136557  -0.19538005   2.130875             2.586498
5 3.444922         5.070073   0.06101070   2.158176             2.591642
6 3.391631         5.207507  -0.14499356   2.095778             2.608301
7 3.290383         5.472525  -0.55949790   1.980839             2.511432
8 3.140056         5.982889  -0.60087587   1.693950             2.395056
  quantile75_happening max_happening
1 3.183817             4.966268
2 3.200117             4.421751
3 3.195488             4.637214
4 3.174853             4.661810
5 3.172762             4.601692
6 3.292107             4.885373
7 3.173051             4.746761
8 3.122377             4.683554

In [18]:
# similar results with 2 grouping variables in this case:

# get summary statistics per group
grouped_data = group_by(survey_data, race, gender)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

`summarise()` has grouped output by 'race'. You can override using the `.groups` argument.

  race           gender count min_worry   quantile25_worry mean_worry
1 black non hisp female  875  -0.24019109 1.879707         2.588897
2 black non hisp male    724  -0.01588894 1.922064         2.602359
3 hisp           female  875  -0.29912027 2.188762         2.824133
4 hisp           male    919  -0.33369004 1.893070         2.661824
5 other non hisp female  562  -0.44450721 1.983426         2.678921
6 other non hisp male    570  -0.48427703 1.828078         2.598533
7 white non hisp female 7000  -0.65204756 1.823520         2.558634
8 white non hisp male   6989  -0.65860888 1.527819         2.358183
  quantile75_worry max_worry min_happening quantile25_happening mean_happening
1 3.311132         5.441786   0.05294922   2.189714             2.671290
2 3.357832         5.060470  -0.04330143   2.255510             2.683641
3 3.552391         5.281822  -0.31384439   2.266097             2.650710
4 3.388720         5.136557  -0.19538005   2.130875             2.586498
5 3.444922         5.070073   0.06101070   2.158176             2.591642
6 3.391631         5.207507  -0.14499356   2.095778             2.608301
7 3.290383         5.472525  -0.55949790   1.980839             2.511432
8 3.140056         5.982889  -0.60087587   1.693950             2.395056
  quantile75_happening max_happening
1 3.183817             4.966268
2 3.200117             4.421751
3 3.195488             4.637214
4 3.174853             4.661810
5 3.172762             4.601692
6 3.292107             4.885373
7 3.173051             4.746761
8 3.122377             4.683554

### Do everything again but with pipes:

In [19]:
survey_data = read_spss("https://github.com/laurafontanesi/r-seminar/raw/main/data/ccam_original.sav")

survey_data = survey_data %>%
    select(all_of(interesting_columns)) %>%
    filter(happening > 0, 
           cause_recoded > 0, 
           sci_consensus > 0, 
           worry > 0)  %>%
    mutate_all(as.integer) %>%
    mutate(happening_cont = happening + rnorm(mean=0, sd=.5, n=n()),
           worry_cont = worry + rnorm(mean=0, sd=.5, n=n()),
           year=recode(year, 
                       `1` = 2008, 
                       `2` = 2010,
                       `3` = 2011,
                       `4` = 2012, 
                       `5` = 2013,
                       `6` = 2014,
                       `7` = 2015,
                       `8` = 2016,
                       `9` = 2017),
           happening_labels=recode(happening,
                                   `1` = "no",
                                   `2` = "dont know",
                                   `3` = "yes"),
           cause_recoded=recode(cause_recoded,
                                `1` = "dont know",
                                `2` = "other",
                                `3` = "not happening",
                                `4` = "natural",
                                `5` = "human",
                                `6` = "natural and human"),
           sci_consensus=recode(sci_consensus,
                                `1` = "dont know",
                                `2` = "disagreement",
                                `3` = "not happening",
                                `4` = "happening"),
           gender=recode(gender,
                         `1` = "male",
                         `2` = "female"),
           age_category_labels=recode(age_category,
                                      `1` = "18-34",
                                      `2` = "35-54",
                                      `3` = "55+"),
           educ_category_labels=recode(educ_category,
                                       `1` = "no highschool",
                                       `2` = "highschool",
                                       `3` = "college",
                                       `4` = "bachelor or higher"),
           income_category_labels=recode(income_category,
                        `1` = "less 50000",
                        `2` = "50000-99999",
                        `3` = "more 100000"),
           race=recode(race,
                      `1` = 'white non hisp',
                      `2` = 'black non hisp',
                      `3` = 'other non hisp',
                      `4` = 'hisp'),
           party_x_ideo=recode(party_x_ideo,
                               `-2` = "no interest",
                               `-1` = "refused",
                               `1` = "liberal democrat",
                               `2` = "moderate democrate",
                               `3` = "independent",
                               `4` = "moderate republican",
                               `5` = "conservative republican"),
           region4 = recode(region4,
                            `1` = "northeast",
                            `2` = "midwest",
                            `3` = "south",
                            `4` = "west"),
           employment = recode(employment,
                               `1` = "Working/as a paid employee",
                               `2` = "Working/selfemploye",
                               `3` = "Not working/temporary",
                               `4` = "Not working/looking",
                               `5` = "Not working/retired",
                               `6` = "Not working/disabled",
                               `7` = "Not working/other")) %>%
    separate(col = employment,
             into = c('working', 'working_type'),
             sep = '/') %>%
    glimpse()  %>%
    filter(working == "Not working")  %>%
    group_by(working_type) %>%
    summarise(count=n(), 
              min_worry=min(worry_cont),
              quantile25_worry=quantile(worry_cont, .25),
              mean_worry=mean(worry_cont), 
              quantile75_worry=quantile(worry_cont, .75),
              max_worry=max(worry_cont),
              min_happening=min(happening_cont),
              quantile25_happening=quantile(happening_cont, .25),
              mean_happening=mean(happening_cont),
              quantile75_happening=quantile(happening_cont, .75),
              max_happening=max(happening_cont))

Rows: 18,514
Columns: 31
$ wave                   <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ year                   <dbl> 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008,…
$ happening              <int> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, 3, 2,…
$ cause_recoded          <chr> "natural and human", "natural and human", "natu…
$ sci_consensus          <chr> "happening", "dont know", "disagreement", "happ…
$ worry                  <int> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, 4, 2,…
$ harm_personally        <int> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, 4, 2,…
$ harm_US                <int> 3, -1, 1, 2, 0, 0, 3, 3, 1, 0, 0, 0, 3, 2, 4, 2…
$ harm_dev_countries     <int> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, 4, 2,…
$ harm_future_gen        <int> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, 4, 3,…
$ harm_plants_animals    <int> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, 4, 3,…
$ when_harm_US           <int> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, 5, 2,…
$ reg_CO2_pollutant      <int> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, 3, 2,…
$ reg_utilities          <int> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, 2, 2,…
$ fund_research          <int> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, 4, 3,…
$ discuss_GW             <int> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, 3, 2,…
$ gender                 <chr> "female", "male", "female", "male", "female", "…
$ age_category           <int> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 3, 1,…
$ educ_category          <int> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, 2, 4,…
$ income_category        <int> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, 1, 3,…
$ race                   <chr> "white non hisp", "white non hisp", "hisp", "wh…
$ party_x_ideo           <chr> "conservative republican", "no interest", "cons…
$ region4                <chr> "south", "midwest", "west", "south", "south", "…
$ working                <chr> "Not working", "Not working", "Not working", "N…
$ working_type           <chr> "retired", "disabled", "looking", "retired", "a…
$ happening_cont         <dbl> 3.0301539, 1.9283118, 1.2136283, 3.0228394, 3.4…
$ worry_cont             <dbl> 3.2899311, 2.1401586, 0.6560752, 2.6777870, 2.2…
$ happening_labels       <chr> "yes", "dont know", "dont know", "yes", "yes", …
$ age_category_labels    <chr> "55+", "35-54", "35-54", "55+", "18-34", "18-34…
$ educ_category_labels   <chr> "highschool", "no highschool", "bachelor or hig…
$ income_category_labels <chr> "50000-99999", "less 50000", "less 50000", "mor…

In [20]:
survey_data

  working_type count min_worry  quantile25_worry mean_worry quantile75_worry
1 disabled     1259  -0.3450973 1.847914         2.649353   3.417099
2 looking      1112  -0.7993344 1.800246         2.588710   3.337353
3 other        1370  -0.4547012 1.653970         2.467892   3.249009
4 retired      4099  -0.7864020 1.660573         2.445598   3.207742
5 temporary     156  -0.3075076 1.827336         2.641118   3.340376
  max_worry min_happening quantile25_happening mean_happening
1 5.433630  -0.08154421   2.026419             2.545677
2 5.481321  -0.38594915   2.078609             2.540877
3 5.279238  -0.44942441   1.855090             2.435884
4 5.852408  -0.70716133   1.913939             2.483626
5 5.000605   0.01530584   1.918700             2.435012
  quantile75_happening max_happening
1 3.163761             4.612078
2 3.161652             4.409675
3 3.133755             4.469079
4 3.159312             4.548772
5 2.957991             4.348925

### Wide and long format

In [57]:
# Create fake data:
N = 15
mean_score_students = runif(N, 5, 10)
fake_data_wide = tibble( # same as data.frame but in tidyverse!
    student = 1:N,
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1),
    score_wpa4 = mean_score_students*0.7 + rnorm(N, 0, 0.2)
)

fake_data_wide

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      36  8.905596   8.013918   4.515312   6.372985
2   2      29  8.955627   8.319392   2.513488   6.302063
3   3      26  8.516956   7.602864   4.926717   5.841144
4   4      35  5.892600   5.256673   4.090330   4.156560
5   5      35  9.932439   8.951219   5.807841   6.939727
6   6      31  5.743221   5.134868   2.571183   4.119941
7   7      30  5.285043   4.840777   1.091220   3.631815
8   8      35  9.124636   8.401753   5.286606   6.500770
9   9      34  6.370761   5.761381   2.693338   4.490940
10 10      35  8.851371   7.994847   3.418851   6.345005
11 11      34  6.008673   5.426717   4.206966   4.117240
12 12      29  5.271905   4.636130   2.612359   3.607067
13 13      30  5.395714   4.922460   3.627386   3.980684
14 14      17  9.764138   8.710580   4.703211   7.064244
15 15      28  8.131176   7.284222   2.393546   5.880925

In [58]:
# transform from wide to long format
fake_data_long = gather(fake_data_wide,
                        key='wpa',
                        value='score',
                        score_wpa1:score_wpa4)
head(fake_data_long, 30)

   student age wpa        score
1   1      36  score_wpa1 8.905596
2   2      29  score_wpa1 8.955627
3   3      26  score_wpa1 8.516956
4   4      35  score_wpa1 5.892600
5   5      35  score_wpa1 9.932439
6   6      31  score_wpa1 5.743221
7   7      30  score_wpa1 5.285043
8   8      35  score_wpa1 9.124636
9   9      34  score_wpa1 6.370761
10 10      35  score_wpa1 8.851371
11 11      34  score_wpa1 6.008673
12 12      29  score_wpa1 5.271905
13 13      30  score_wpa1 5.395714
14 14      17  score_wpa1 9.764138
15 15      28  score_wpa1 8.131176
16  1      36  score_wpa2 8.013918
17  2      29  score_wpa2 8.319392
18  3      26  score_wpa2 7.602864
19  4      35  score_wpa2 5.256673
20  5      35  score_wpa2 8.951219
21  6      31  score_wpa2 5.134868
22  7      30  score_wpa2 4.840777
23  8      35  score_wpa2 8.401753
24  9      34  score_wpa2 5.761381
25 10      35  score_wpa2 7.994847
26 11      34  score_wpa2 5.426717
27 12      29  score_wpa2 4.636130
28 13      30  score_wpa2 4.922460
29 14      17  score_wpa2 8.710580
30 15      28  score_wpa2 7.284222

In [59]:
# reorder based on student
head(arrange(fake_data_long, student), 20)

   student age wpa        score
1  1       36  score_wpa1 8.905596
2  1       36  score_wpa2 8.013918
3  1       36  score_wpa3 4.515312
4  1       36  score_wpa4 6.372985
5  2       29  score_wpa1 8.955627
6  2       29  score_wpa2 8.319392
7  2       29  score_wpa3 2.513488
8  2       29  score_wpa4 6.302063
9  3       26  score_wpa1 8.516956
10 3       26  score_wpa2 7.602864
11 3       26  score_wpa3 4.926717
12 3       26  score_wpa4 5.841144
13 4       35  score_wpa1 5.892600
14 4       35  score_wpa2 5.256673
15 4       35  score_wpa3 4.090330
16 4       35  score_wpa4 4.156560
17 5       35  score_wpa1 9.932439
18 5       35  score_wpa2 8.951219
19 5       35  score_wpa3 5.807841
20 5       35  score_wpa4 6.939727

In [24]:
# bring back
fake_data_wide = spread(fake_data_long,
                        key='wpa',
                        value='score')
head(fake_data_wide, 5)

  student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1 1       30  9.613046   8.647702   3.869661   6.878325
2 2       21  8.126878   7.281788   4.631706   5.633209
3 3       35  8.115797   7.319044   2.984329   5.484108
4 4       28  6.765072   6.250457   2.435545   4.942459
5 5       31  9.350953   8.213587   5.446737   6.770676

### Join dataframes

In [25]:
# Create fake data:
mean_score_students = runif(N, 5, 10)
fake_data_wide_second_batch = tibble( # same as data.frame but in tidyverse!
    student = (N+1):(2*N),
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1)
)
fake_data_wide_second_batch

   student age score_wpa1 score_wpa2 score_wpa3
1  16      29  7.049776   6.361519   2.155088
2  17      22  7.823474   7.071929   3.399427
3  18      34  7.975223   7.220197   4.119979
4  19      37  6.852429   6.217484   2.844917
5  20      28  8.095159   7.263675   2.626156
6  21      36  8.707826   7.776302   5.527149
7  22      31  9.181646   8.332580   4.084750
8  23      32  8.959001   8.187085   4.077113
9  24      36  5.963147   5.354572   1.366125
10 25      35  6.132548   5.561943   1.468390
11 26      22  8.190263   7.301085   5.585512
12 27      31  8.763733   7.922259   4.775920
13 28      26  8.940067   7.922945   5.638682
14 29      24  5.609913   5.007906   2.627255
15 30      33  7.756784   7.021258   2.642360

In [26]:
fake_data_wide = bind_rows(fake_data_wide, fake_data_wide_second_batch)
fake_data_wide

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      30  9.613046   8.647702   3.869661   6.878325
2   2      21  8.126878   7.281788   4.631706   5.633209
3   3      35  8.115797   7.319044   2.984329   5.484108
4   4      28  6.765072   6.250457   2.435545   4.942459
5   5      31  9.350953   8.213587   5.446737   6.770676
6   6      33  9.879264   8.749852   5.488602   7.146320
7   7      31  9.268526   8.500613   5.307144   6.400382
8   8      24  5.813402   4.969971   3.596073   4.184853
9   9      33  6.371678   5.499888   2.747135   4.857705
10 10      29  8.990089   8.222961   4.008688   6.567310
11 11      36  9.317528   8.241609   4.724428   6.528948
12 12      31  9.402026   8.461878   3.527063   6.675549
13 13      29  9.806837   8.795387   4.794727   6.894022
14 14      29  8.629926   7.819062   4.686281   6.263572
15 15      29  6.976350   6.142705   2.691408   5.270638
16 16      29  7.049776   6.361519   2.155088         NA
17 17      22  7.823474   7.071929   3.399427         NA
18 18      34  7.975223   7.220197   4.119979         NA
19 19      37  6.852429   6.217484   2.844917         NA
20 20      28  8.095159   7.263675   2.626156         NA
21 21      36  8.707826   7.776302   5.527149         NA
22 22      31  9.181646   8.332580   4.084750         NA
23 23      32  8.959001   8.187085   4.077113         NA
24 24      36  5.963147   5.354572   1.366125         NA
25 25      35  6.132548   5.561943   1.468390         NA
26 26      22  8.190263   7.301085   5.585512         NA
27 27      31  8.763733   7.922259   4.775920         NA
28 28      26  8.940067   7.922945   5.638682         NA
29 29      24  5.609913   5.007906   2.627255         NA
30 30      33  7.756784   7.021258   2.642360         NA

In [27]:
# new variables
new_info = tibble(
    student = 1:(2*N),
    score_wpa5 = mean_score_students*0.5 + rnorm(2*N, 0, 1),
    gender = rbinom(2*N, 1, .5)
)

In [28]:
new_info

   student score_wpa5 gender
1   1      3.7761692  0
2   2      3.5769571  1
3   3      4.7110730  0
4   4      4.1618091  0
5   5      5.2428611  1
6   6      4.5877791  0
7   7      7.4653186  0
8   8      6.3044295  0
9   9      2.5536046  0
10 10      2.5666061  1
11 11      4.4644651  1
12 12      3.1196213  1
13 13      2.9820640  0
14 14      0.6120617  1
15 15      6.1583087  0
16 16      2.2709930  1
17 17      4.2011099  0
18 18      3.9717151  0
19 19      3.6199683  1
20 20      3.7428076  1
21 21      6.7126823  0
22 22      4.9934596  0
23 23      4.7293262  1
24 24      3.4049877  1
25 25      3.5113641  0
26 26      3.2261523  0
27 27      6.8279045  1
28 28      5.9497059  1
29 29      1.9832112  1
30 30      4.0863073  0

In [29]:
fake_data_wide = bind_cols(fake_data_wide,
                           new_info)
fake_data_wide

New names:
* student -> student...1
* student -> student...7

   student...1 age score_wpa1 score_wpa2 score_wpa3 score_wpa4 student...7
1   1          30  9.613046   8.647702   3.869661   6.878325    1
2   2          21  8.126878   7.281788   4.631706   5.633209    2
3   3          35  8.115797   7.319044   2.984329   5.484108    3
4   4          28  6.765072   6.250457   2.435545   4.942459    4
5   5          31  9.350953   8.213587   5.446737   6.770676    5
6   6          33  9.879264   8.749852   5.488602   7.146320    6
7   7          31  9.268526   8.500613   5.307144   6.400382    7
8   8          24  5.813402   4.969971   3.596073   4.184853    8
9   9          33  6.371678   5.499888   2.747135   4.857705    9
10 10          29  8.990089   8.222961   4.008688   6.567310   10
11 11          36  9.317528   8.241609   4.724428   6.528948   11
12 12          31  9.402026   8.461878   3.527063   6.675549   12
13 13          29  9.806837   8.795387   4.794727   6.894022   13
14 14          29  8.629926   7.819062   4.686281   6.263572   14
15 15          29  6.976350   6.142705   2.691408   5.270638   15
16 16          29  7.049776   6.361519   2.155088         NA   16
17 17          22  7.823474   7.071929   3.399427         NA   17
18 18          34  7.975223   7.220197   4.119979         NA   18
19 19          37  6.852429   6.217484   2.844917         NA   19
20 20          28  8.095159   7.263675   2.626156         NA   20
21 21          36  8.707826   7.776302   5.527149         NA   21
22 22          31  9.181646   8.332580   4.084750         NA   22
23 23          32  8.959001   8.187085   4.077113         NA   23
24 24          36  5.963147   5.354572   1.366125         NA   24
25 25          35  6.132548   5.561943   1.468390         NA   25
26 26          22  8.190263   7.301085   5.585512         NA   26
27 27          31  8.763733   7.922259   4.775920         NA   27
28 28          26  8.940067   7.922945   5.638682         NA   28
29 29          24  5.609913   5.007906   2.627255         NA   29
30 30          33  7.756784   7.021258   2.642360         NA   30
   score_wpa5 gender
1  3.7761692  0
2  3.5769571  1
3  4.7110730  0
4  4.1618091  0
5  5.2428611  1
6  4.5877791  0
7  7.4653186  0
8  6.3044295  0
9  2.5536046  0
10 2.5666061  1
11 4.4644651  1
12 3.1196213  1
13 2.9820640  0
14 0.6120617  1
15 6.1583087  0
16 2.2709930  1
17 4.2011099  0
18 3.9717151  0
19 3.6199683  1
20 3.7428076  1
21 6.7126823  0
22 4.9934596  0
23 4.7293262  1
24 3.4049877  1
25 3.5113641  0
26 3.2261523  0
27 6.8279045  1
28 5.9497059  1
29 1.9832112  1
30 4.0863073  0

A better way to join dataframes is to use the "join" functions:

In [30]:
# Create fake data:
N = 15
mean_score_students = runif(N, 5, 10)
first_batch = tibble(
    student = 1:N,
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1),
    score_wpa4 = mean_score_students*0.7 + rnorm(N, 0, 0.2)
)
M = 5
mean_score_students = runif(M, 8, 10)
second_batch = tibble( 
    student = (N+1):(N+M),
    age = round(rnorm(M, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(M, 0, 0.1),
    score_wpa5 = mean_score_students*0.5 + rnorm(M, 0, 1)
)
new_info = tibble(
    student = 1:(N+M),
    score_wpa6 = runif(N+M, 6, 10)*0.5 + rnorm(N+M, 0, 1),
    gender = rbinom(N+M, 1, .5)
)

In [31]:
first_batch

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      36  6.575032   5.959418   3.7385418  4.567160
2   2      33  7.305106   6.659721   4.1409305  5.099636
3   3      22  8.167501   7.347120   2.0944950  5.670520
4   4      24  9.599796   8.583694   4.8744302  6.587251
5   5      35  5.580731   4.982749   0.1980864  3.790323
6   6      25  8.254474   7.512952   5.2405398  5.821498
7   7      42  7.835433   7.013537   4.9739404  5.223777
8   8      32  5.897613   5.351547   2.8498347  3.924801
9   9      27  9.042060   8.113039   6.5490713  6.302011
10 10      20  5.718601   5.101399   2.0382295  4.301046
11 11      26  6.689887   5.978198   3.9226172  4.838364
12 12      35  7.086281   6.275308   4.1817775  4.990921
13 13      35  8.345295   7.510840   3.5580634  6.138115
14 14      31  8.809514   7.791858   2.8313308  5.879224
15 15      26  7.430406   6.704379   4.2190336  5.397816

In [32]:
second_batch

  student age score_wpa1 score_wpa2 score_wpa5
1 16      35  8.964359   7.995072   6.267603
2 17      36  8.185402   7.132565   3.146001
3 18      28  9.625447   8.711131   4.272152
4 19      18  9.183475   8.253673   4.839979
5 20      20  9.075595   8.201273   3.801261

In [33]:
new_info

   student score_wpa6 gender
1   1      4.185758   1
2   2      3.949482   1
3   3      3.768711   1
4   4      5.242373   1
5   5      4.374980   0
6   6      5.592993   0
7   7      3.947497   0
8   8      2.186486   1
9   9      4.698960   0
10 10      4.491651   0
11 11      4.250652   1
12 12      6.082085   1
13 13      3.626620   1
14 14      3.669836   0
15 15      3.441346   1
16 16      6.332544   1
17 17      3.400046   0
18 18      6.179762   1
19 19      2.350995   0
20 20      3.426876   1

In [34]:
full_join(first_batch, second_batch, by='student')

   student age.x score_wpa1.x score_wpa2.x score_wpa3 score_wpa4 age.y
1   1      36    6.575032     5.959418     3.7385418  4.567160   NA
2   2      33    7.305106     6.659721     4.1409305  5.099636   NA
3   3      22    8.167501     7.347120     2.0944950  5.670520   NA
4   4      24    9.599796     8.583694     4.8744302  6.587251   NA
5   5      35    5.580731     4.982749     0.1980864  3.790323   NA
6   6      25    8.254474     7.512952     5.2405398  5.821498   NA
7   7      42    7.835433     7.013537     4.9739404  5.223777   NA
8   8      32    5.897613     5.351547     2.8498347  3.924801   NA
9   9      27    9.042060     8.113039     6.5490713  6.302011   NA
10 10      20    5.718601     5.101399     2.0382295  4.301046   NA
11 11      26    6.689887     5.978198     3.9226172  4.838364   NA
12 12      35    7.086281     6.275308     4.1817775  4.990921   NA
13 13      35    8.345295     7.510840     3.5580634  6.138115   NA
14 14      31    8.809514     7.791858     2.8313308  5.879224   NA
15 15      26    7.430406     6.704379     4.2190336  5.397816   NA
16 16      NA          NA           NA            NA        NA   35
17 17      NA          NA           NA            NA        NA   36
18 18      NA          NA           NA            NA        NA   28
19 19      NA          NA           NA            NA        NA   18
20 20      NA          NA           NA            NA        NA   20
   score_wpa1.y score_wpa2.y score_wpa5
1        NA           NA           NA
2        NA           NA           NA
3        NA           NA           NA
4        NA           NA           NA
5        NA           NA           NA
6        NA           NA           NA
7        NA           NA           NA
8        NA           NA           NA
9        NA           NA           NA
10       NA           NA           NA
11       NA           NA           NA
12       NA           NA           NA
13       NA           NA           NA
14       NA           NA           NA
15       NA           NA           NA
16 8.964359     7.995072     6.267603
17 8.185402     7.132565     3.146001
18 9.625447     8.711131     4.272152
19 9.183475     8.253673     4.839979
20 9.075595     8.201273     3.801261

In [35]:
full_join(first_batch, second_batch, by=c('student', 'age', "score_wpa1", "score_wpa2"))

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4 score_wpa5
1   1      36  6.575032   5.959418   3.7385418  4.567160         NA
2   2      33  7.305106   6.659721   4.1409305  5.099636         NA
3   3      22  8.167501   7.347120   2.0944950  5.670520         NA
4   4      24  9.599796   8.583694   4.8744302  6.587251         NA
5   5      35  5.580731   4.982749   0.1980864  3.790323         NA
6   6      25  8.254474   7.512952   5.2405398  5.821498         NA
7   7      42  7.835433   7.013537   4.9739404  5.223777         NA
8   8      32  5.897613   5.351547   2.8498347  3.924801         NA
9   9      27  9.042060   8.113039   6.5490713  6.302011         NA
10 10      20  5.718601   5.101399   2.0382295  4.301046         NA
11 11      26  6.689887   5.978198   3.9226172  4.838364         NA
12 12      35  7.086281   6.275308   4.1817775  4.990921         NA
13 13      35  8.345295   7.510840   3.5580634  6.138115         NA
14 14      31  8.809514   7.791858   2.8313308  5.879224         NA
15 15      26  7.430406   6.704379   4.2190336  5.397816         NA
16 16      35  8.964359   7.995072          NA        NA   6.267603
17 17      36  8.185402   7.132565          NA        NA   3.146001
18 18      28  9.625447   8.711131          NA        NA   4.272152
19 19      18  9.183475   8.253673          NA        NA   4.839979
20 20      20  9.075595   8.201273          NA        NA   3.801261

In [36]:
left_join(first_batch, new_info, by=c('student'))

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4 score_wpa6 gender
1   1      36  6.575032   5.959418   3.7385418  4.567160   4.185758   1
2   2      33  7.305106   6.659721   4.1409305  5.099636   3.949482   1
3   3      22  8.167501   7.347120   2.0944950  5.670520   3.768711   1
4   4      24  9.599796   8.583694   4.8744302  6.587251   5.242373   1
5   5      35  5.580731   4.982749   0.1980864  3.790323   4.374980   0
6   6      25  8.254474   7.512952   5.2405398  5.821498   5.592993   0
7   7      42  7.835433   7.013537   4.9739404  5.223777   3.947497   0
8   8      32  5.897613   5.351547   2.8498347  3.924801   2.186486   1
9   9      27  9.042060   8.113039   6.5490713  6.302011   4.698960   0
10 10      20  5.718601   5.101399   2.0382295  4.301046   4.491651   0
11 11      26  6.689887   5.978198   3.9226172  4.838364   4.250652   1
12 12      35  7.086281   6.275308   4.1817775  4.990921   6.082085   1
13 13      35  8.345295   7.510840   3.5580634  6.138115   3.626620   1
14 14      31  8.809514   7.791858   2.8313308  5.879224   3.669836   0
15 15      26  7.430406   6.704379   4.2190336  5.397816   3.441346   1

In [37]:
right_join(new_info, second_batch, by=c('student'))

  student score_wpa6 gender age score_wpa1 score_wpa2 score_wpa5
1 16      6.332544   1      35  8.964359   7.995072   6.267603
2 17      3.400046   0      36  8.185402   7.132565   3.146001
3 18      6.179762   1      28  9.625447   8.711131   4.272152
4 19      2.350995   0      18  9.183475   8.253673   4.839979
5 20      3.426876   1      20  9.075595   8.201273   3.801261

## 3. Now it's your turn

Now you will analyze data from Matthews et al. (2016): Why do we overestimate others' willingness to pay? The purpose of this research was to test if our beliefs about other people's affluence (i.e.; wealth) affect how much we think they will be willing to pay for items. You can find the full paper at http://journal.sjdm.org/15/15909/jdm15909.pdf.

**Variables description:**

Here are descriptions of the data variables (taken from the author's dataset notes available at http://journal.sjdm.org/15/15909/Notes.txt)

- `id`: participant id code
- `gender`: participant gender. 1 = male, 2 = female
- `age`: participant age
- `income`: participant annual household income on categorical scale with 8 categorical options: Less than 5,000; 15,001–25,000; 25,001–35,000; 35,001–50,000; 50,001–75,000; 75,001–100,000; 100,001–150,000; greater than 150,000.
- `p1-p10`: whether the "typical" survey respondent would pay more (coded 1) or less (coded 0) than oneself, for each of the 10 products 
- `task`: whether the participant had to judge the proportion of other people who "have more money than you do" (coded 1) or the proportion who "have less money than you do" (coded 0)
- `havemore`: participant's response when task = 1
- `haveless`: participant's response when task = 0
- `pcmore`: participant's estimate of the proportion of people who have more than they do (calculated as 100-haveless when task=0)

In [38]:
# load some data
matthews_data = read_csv('https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/data_wpa4.csv')

demographics = read_csv("https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/matthews_demographics.csv")

glimpse(matthews_data)

glimpse(demographics)

── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  id = col_character(),
  gender = col_double(),
  age = col_double(),
  income = col_double(),
  p1 = col_double(),
  p2 = col_double(),
  p3 = col_double(),
  p4 = col_double(),
  p5 = col_double(),
  p6 = col_double(),
  p7 = col_double(),
  p8 = col_double(),
  p9 = col_double(),
  p10 = col_double(),
  task = col_double(),
  havemore = col_double(),
  haveless = col_double(),
  pcmore = col_double()
)


Warning message:
“Missing column names filled in: 'X1' [1]”

── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  X1 = col_double(),
  id = col_character(),
  height = col_double(),
  race = col_character()
)

Rows: 190
Columns: 18
$ id       <chr> "R_3PtNn51LmSFdLNM", "R_2AXrrg62pgFgtMV", "R_cwEOX3HgnMeVQHL"…
$ gender   <dbl> 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2…
$ age      <dbl> 26, 32, 25, 33, 24, 22, 47, 26, 29, 32, 29, 28, 31, 24, 25, 2…
$ income   <dbl> 7, 4, 2, 5, 1, 2, 3, 4, 1, 7, 4, 3, 2, 2, 6, 3, 2, 2, 1, 3, 3…
$ p1       <dbl> 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0…
$ p2       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1…
$ p3       <dbl> 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1…
$ p4       <dbl> 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p5       <dbl> 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1…
$ p6       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1…
$ p7       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0…
$ p8       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p9       <dbl> 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p10      <dbl> 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1…
$ task     <dbl> 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1…
$ havemore <dbl> NA, NA, NA, NA, 99, NA, 95, NA, 70, 25, 50, 50, NA, NA, NA, 9…
$ haveless <dbl> 50, 25, 10, 50, NA, 20, NA, 30, NA, NA, NA, NA, 44, 20, 65, N…
$ pcmore   <dbl> 50, 75, 90, 50, 99, 80, 95, 70, 70, 25, 50, 50, 56, 80, 35, 9…
Rows: 190
Columns: 4
$ X1     <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, …
$ id     <chr> "R_2zOA03wY3kZPHKj", "R_1f30AbYQR0D1wpt", "R_2YgEERKijE2Hz6K", …
$ height <dbl> 182, 184, 175, 177, 187, 178, 168, 193, 180, 159, 160, 172, 165…
$ race   <chr> "black", "white", "hispanic", "white", "white", "white", "white…

**Task A**

Note: do not use pipes from 1 to 4.

1. Currently `gender` is coded as 1 and 2. Create a new dataframe called `new_matthews_data`, in which there is a new column called `gender_labels` that codes gender as "male" and "female". Do it using `mutate`. Then, rename the original `gender` column to `gender_binary` using `rename`. Subtract 1 to all values of `gender_binary`, so that it is coded as 0 and 1 instead of 1 and 2 using `mutate` again.

2. In `new_matthews_data`, create new column called `income_labels` that codes income based on the data description above using `mutate`. Then, create a new column, called `income_recoded`, where you only have 4 income categories (coded as numbers from 1 to 4): below 25,000, 25,000-50,000, 50,000-100,000, and above 100,000 using `case_when`. How many observations are there for each of these 4 categories? Use `summarise` to reply.

3. In `new_matthews_data`, transform all numeric columns into integers numbers using `mutate_if`.

4. From `new_matthews_data`, create a summary of the dataset using `summarise`, to answer the following questions: What percent of participants were female? What was the minimum, mean, and maximum `income`? What was the 25th percentile, median, and the 75th percentile of `age`? Use good names for columns.

5. Repeat steps from 1 to 4 (apart from the `summarise` in point 2) using pipes and assign the result to `new_matthews_data_summary`.

**Task B**

1. From `new_matthews_data`, calculate the mean `p1` to `p10` across participants using `summarise_all` and `select`. Which product scored the highest? Do it again, grouping the data by gender. Is there a difference across gender? What is the mean of the mean `p1` to `p10` across participants? Calculate it on the result of the previous step. You can do these either using pipes or not.

2. Transform the data from wide to long format. In particular, you want 10 rows per subjects, with their responses on the products 1 to 10 in a column called `wtp`, and the product label in a column called `product`. Call the resulting dataframe `new_matthews_data_long`. Re-order it by `id`. Print the first 20 cases to check this worked. Check that `new_matthews_data_long` has 10 times more rows than `new_matthews_data`.

**Task C**

1. Drop the `X1` column in `demographics` using `select`.

2. Join `new_matthews_data_long` and `demographics` based on the `id`, in order to retain as many rows and columns as possible. Call the resulting dataframe `matthews_data_all`.

3. Calculate the mean `wtp` per subject using `group_by`. You can use pipes or not. Called the resulting dataframe `mean_matthews_data_all`. This should have as many rows as the number of subjects and 2 columns (`id` and mean wtp). Add as a third and fourth columns `heigth` and `race` using one of the join functions.

4. Using `mean_matthews_data_all`, make a barplot showing the mean `wtp` across ethnic groups. Plot confidence intervals. Give appropriate labels to the plot. Do you think there is a difference in willingness to pay across groups?

5. Using `mean_matthews_data_all`, make a scatterplot showing the wtp on the y-axis and the height on the x-axis. Add a regression line. Do you think height predicts willingness to pay?

## Submit your assignment

Save and email your script to me at [laura.fontanesi@unibas.ch](mailto:laura.fontanesi@unibas.ch) by the end of Friday.