# Data wrangling

Open RStudio.

Open a new R script in R and **save it as** `wpa_4_LastFirst.R` (where Last and First is your last and first name). 

Careful about: capitalizing, last and first name order, and using `_` instead of `-`.

At the top of your script, write the following (**with appropriate changes**):

In [1]:
# Assignment: WPA 4
# Name: Laura Fontanesi
# Date: 23 March 2020

#### Load some data in R

In [2]:
library(tidyverse)
library(haven) # NOTE: you might need to install.packages("haven") first

# Load data in R
survey_data = read_spss("https://github.com/laurafontanesi/r-seminar/raw/main/data/ccam_original.sav")

glimpse(survey_data)

── Attaching packages ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.0     ✔ dplyr   1.0.4
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Rows: 20,024
Columns: 54
$ case_ID                     <dbl> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ year                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ weight_wave                 <dbl> 0.54, 0.85, 0.49, 0.29, 1.29, 2.56, 0.23, …
$ weight_aggregate            <dbl> 0.2939263, 0.4626617, 0.2667109, 0.1578493…
$ happening                   <dbl+lbl> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3,…
$ cause_original              <dbl+lbl> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1,…
$ cause_other_text            <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ cause_recoded               <dbl+lbl> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6,…
$ sci_consensus               <dbl+lbl> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4,…
$ worry                       <dbl+lbl> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3,…
$ harm_personally             <dbl+lbl> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3,…
$ harm_US                     <dbl+lbl>  3, -1,  1,  2,  0,  0,  3,  3,  1,  0…
$ harm_dev_countries          <dbl+lbl> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4,…
$ harm_future_gen             <dbl+lbl> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4,…
$ harm_plants_animals         <dbl+lbl> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4,…
$ when_harm_US                <dbl+lbl> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5,…
$ reg_CO2_pollutant           <dbl+lbl> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4,…
$ reg_utilities               <dbl+lbl> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4,…
$ fund_research               <dbl+lbl> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3,…
$ reg_coal_emissions          <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <dbl+lbl> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2,…
$ hear_GW_media               <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <dbl+lbl> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2,…
$ age                         <dbl> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <dbl+lbl> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3,…
$ generation                  <dbl+lbl> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5,…
$ educ                        <dbl+lbl>  9,  6, 14, 13, 10, 12, 12, 12, 12, 12…
$ educ_category               <dbl+lbl> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2,…
$ income                      <dbl+lbl> 12,  9,  9, 16, 13, 14,  3, 12, 16, 17…
$ income_category             <dbl+lbl> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3,…
$ race                        <dbl+lbl> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1,…
$ ideology                    <dbl+lbl> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3,…
$ party                       <dbl+lbl> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3,…
$ party_w_leaners             <dbl+lbl> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2,…
$ party_x_ideo                <dbl+lbl>  5, -2,  5,  5,  5,  5,  5,  3,  3,  5…
$ registered_voter            <dbl+lbl> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ region9                     <dbl+lbl> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2,…
$ region4                     <dbl+lbl> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1,…
$ religion                    <dbl+lbl>  2,  2,  4,  2,  1, 11,  4, 15,  2,  1…
$ religion_other_nonchristian <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ evangelical                 <dbl+lbl> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2,…
$ service_attendance          <dbl+lbl> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2,…
$ marit_status                <dbl+lbl> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1,…
$ employment                  <dbl+lbl> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5,…
$ house_head                  <dbl+lbl> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,…
$ house_size                  <dbl> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <dbl> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <dbl> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <dbl+lbl> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1,…
$ house_own                   <dbl+lbl> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1,…

## 1. What is data wrangling?

Data wrangling is the process of transforming data from a raw format (in which they were collected) into another format with the intent of making it more appropriate and valuable for exploratory and confirmatory data analyses.

Until now, we only worked with "tidy" datasets, i.e., dataset that were already ready for being plotted/analysed. But this is an exeption. Especially when collecting your own data, but also when accessing another researcher's data, we typically have to go through a few steps before being able to run analysese or plotting.

Today's class is based on specific functions in the tidyverse that will serve exactly this purpuse.

## 2. Functions to know and some examples

Virtually all you need to know is in [this cheatsheet](https://rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf).

The more frequent functions you will use are:

- `%>%`: The pipe operator, to chain functions (not recommended at the beginning).

- `arrange`: order the dataframe based on values of variables.

- `rename`: to rename specific columns.

- `filter` and `slice`: to select subsets of rows.

- `select`: to select subsets of columns.

- `mutate`: make new columns based on modifications of existing ones.

- `mutate_all`: make the same modification on all columns. 

- `mutate_if`: make the same modification on columns satisfying specific conditions. 

Look [here](https://dplyr.tidyverse.org/reference/mutate_all.html) for other kinds of mutate.

- `summarize`: to calculate summary statistics.

- `summarize_all`: to calculate summary statistics on all columns. 

- `summarize_if`: to calculate summary statistics on columns satisfying specific conditions. 

Look [here](https://dplyr.tidyverse.org/reference/summarise_all.html) for other kinds of summarize.

- `group_by`: to group the data based on some variables, so that subsequent calculations are done on such variables.

- `full_join`, `left_join`, `right_join`: to join separate dataframes.

- `bind_rows` and `bind_cols`: to append dataframes vertically or horizontally.

- `gather` and `spread`: bring wide form to long form and viceversa.

- `unite`: make a column from multiple columns.

- `separate`: make multiple columns from one column.

In [3]:
# only select columns of interest equivalent to data.frame[,interesting_columns]
interesting_columns = c('wave', 'year', 'happening', 'cause_recoded', 'sci_consensus', 'worry', 'harm_personally', 
                        'harm_US', 'harm_dev_countries', 'harm_future_gen', 'harm_plants_animals', 'when_harm_US',
                        'reg_CO2_pollutant', 'reg_utilities', 'fund_research', 'discuss_GW',
                        'gender', 'age_category', 'educ_category', 'income_category', 'race', 'party_x_ideo', 'region4', 'employment')

columns_to_drop = c('case_ID', 'weight_wave', 'weight_aggregate', 'cause_original', 'cause_other_text',
                    'reg_coal_emissions', 'hear_GW_media', 'age', 'generation', 'educ', 'income', 'ideology',
                    'party', 'party_w_leaners', 'registered_voter', 'region9', 'religion', 'religion_other_nonchristian',
                    'evangelical', 'service_attendance', 'marit_status', 'house_head', 'house_size',
                    'house_ages0to1', 'house_ages2to5', 'house_ages6to12', 'house_ages13to17', 'house_ages18plus',
                    'house_type', 'house_own')

new_survey_data = select(survey_data, all_of(interesting_columns))

#or:
new_survey_data = select(survey_data, -all_of(columns_to_drop))

glimpse(new_survey_data)

Rows: 20,024
Columns: 24
$ wave                <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ year                <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ happening           <dbl+lbl> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, 3, 2…
$ cause_recoded       <dbl+lbl> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6, 6, 5, 4…
$ sci_consensus       <dbl+lbl> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4, 4, 4, 2…
$ worry               <dbl+lbl> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, 4, 2…
$ harm_personally     <dbl+lbl> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, 4, 2…
$ harm_US             <dbl+lbl>  3, -1,  1,  2,  0,  0,  3,  3,  1,  0,  0,  0…
$ harm_dev_countries  <dbl+lbl> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, 4, 2…
$ harm_future_gen     <dbl+lbl> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, 4, 3…
$ harm_plants_animals <dbl+lbl> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, 4, 3…
$ when_harm_US        <dbl+lbl> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, 5, 2…
$ reg_CO2_pollutant   <dbl+lbl> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, 3, 2…
$ reg_utilities       <dbl+lbl> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, 2, 2…
$ fund_research       <dbl+lbl> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, 4, 3…
$ discuss_GW          <dbl+lbl> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, 3, 2…
$ gender              <dbl+lbl> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2…
$ age_category        <dbl+lbl> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 3, 1…
$ educ_category       <dbl+lbl> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, 2, 4…
$ income_category     <dbl+lbl> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, 1, 3…
$ race                <dbl+lbl> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 3, 1…
$ party_x_ideo        <dbl+lbl>  5, -2,  5,  5,  5,  5,  5,  3,  3,  5,  2,  5…
$ region4             <dbl+lbl> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1, 2, 3, 3…
$ employment          <dbl+lbl> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5, 5, 1, 7…

In [4]:
# sort by one variable, and only show the first 6 values
head(arrange(survey_data, weight_wave), 6)

  case_ID wave year weight_wave weight_aggregate happening cause_original
1 7159    3    2    0.06        0.06901654       3         1
2 7279    3    2    0.06        0.06901654       3         1
3 7354    3    2    0.06        0.06901654       1         4
4 3568    2    2    0.08        0.09413645       2         2
5 4092    2    2    0.08        0.09413645       3         1
6 4109    2    2    0.08        0.09413645       3         3
  cause_other_text                    cause_recoded sci_consensus ⋯ employment
1                                     6             4             ⋯ 1
2                                     6             4             ⋯ 1
3                                     3             1             ⋯ 1
4                                     4             2             ⋯ 1
5                                     6             4             ⋯ 1
6 both natural withthe help of humans 5             2             ⋯ 1
  house_head house_size house_ages0to1 house_ages2to5 house_ages6to12
1 2          4          0              1              0
2 2          4          0              0              0
3 2          3          0              0              0
4 2          4          0              0              1
5 2          3          0              0              0
6 2          4          0              0              1
  house_ages13to17 house_ages18plus house_type house_own
1 1                2                1          1
2 1                3                1          1
3 1                2                1          1
4 1                2                1          1
5 1                2                1          1
6 1                2                1          1

In [6]:
# sort by 2 variables (one in opposite order), and only show the last 10 values
tail(arrange(survey_data, weight_wave, desc(weight_aggregate)), 10)

   case_ID wave year weight_wave weight_aggregate happening cause_original
1  2432    1    1    5.12        2.786857         3          1
2  2469    1    1    5.12        2.786857         3          3
3  3138    2    2    5.28        6.213006         2         -1
4  3511    2    2    5.28        6.213006         2          2
5  3572    2    2    5.28        6.213006         1          4
6  3598    2    2    5.28        6.213006         1          2
7  3613    2    2    5.28        6.213006         1         -1
8  3634    2    2    5.28        6.213006         3          1
9  3667    2    2    5.28        6.213006         3          2
10 3736    2    2    5.28        6.213006         1          2
   cause_other_text
1
2  by alll the polution from airplanes and rockets they send into space
3
4
5
6
7
8
9
10
   cause_recoded sci_consensus ⋯ employment house_head house_size
1   6             4            ⋯ 1          1          4
2   6             2            ⋯ 5          2          2
3  -1             1            ⋯ 1          2          2
4   4             1            ⋯ 1          2          3
5   3             4            ⋯ 1          2          2
6   4             1            ⋯ 7          2          5
7  -1            -1            ⋯ 1          2          1
8   6             4            ⋯ 5          2          2
9   4             4            ⋯ 7          1          4
10  4             2            ⋯ 1          2          5
   house_ages0to1 house_ages2to5 house_ages6to12 house_ages13to17
1  0              0              0               0
2  0              0              0               0
3  0              0              0               0
4  1              0              0               0
5  0              0              0               0
6  1              0              2               0
7  0              0              0               0
8  0              0              0               0
9  0              0              0               0
10 0              0              1               0
   house_ages18plus house_type house_own
1  4                1          1
2  2                1          1
3  2                3          2
4  2                1          1
5  2                3          2
6  2                1          1
7  1                1          1
8  2                1          1
9  4                1          1
10 4                1          1

In [7]:
# another way to select rows (equivalent to data.frame[200:210,])
slice(survey_data, 200:210)

   case_ID wave year weight_wave weight_aggregate happening cause_original
1  217     1    1    0.78        0.4245602        3         3
2  218     1    1    0.42        0.2286093        2         2
3  219     1    1    0.67        0.3646863        1         2
4  220     1    1    0.87        0.4735479        2         2
5  221     1    1    0.93        0.5062064        1         2
6  222     1    1    0.77        0.4191171        3         1
7  223     1    1    2.09        1.1376036        3         1
8  224     1    1    0.79        0.4300033        3         3
9  225     1    1    2.35        1.2791236        3         1
10 226     1    1    0.59        0.3211417        3         1
11 227     1    1    1.97        1.0722866        1         2
   cause_other_text                                  cause_recoded
1  human and  natural occurences                     5
2                                                    4
3                                                    4
4                                                    4
5                                                    4
6                                                    6
7                                                    6
8  caused by a combination of both humans and nature 5
9                                                    6
10                                                   6
11                                                   4
   sci_consensus ⋯ employment house_head house_size house_ages0to1
1  2             ⋯ 1          1          4          0
2  2             ⋯ 1          2          3          0
3  2             ⋯ 6          1          1          0
4  2             ⋯ 4          2          4          0
5  2             ⋯ 1          2          2          0
6  4             ⋯ 4          2          6          0
7  4             ⋯ 7          2          4          0
8  4             ⋯ 1          2          4          0
9  4             ⋯ 7          2          1          0
10 4             ⋯ 5          2          1          0
11 2             ⋯ 2          2          6          0
   house_ages2to5 house_ages6to12 house_ages13to17 house_ages18plus house_type
1  0              0               0                4                1
2  0              0               0                3                1
3  0              0               0                1                1
4  0              2               0                2                1
5  0              0               0                2                1
6  0              1               1                4                1
7  1              1               0                2                1
8  0              0               0                4                1
9  0              0               0                1                2
10 0              0               0                1                1
11 0              0               3                3                1
   house_own
1  1
2  2
3  2
4  1
5  1
6  1
7  1
8  1
9  1
10 1
11 1

In [8]:
# eliminate people (i.e., rows) who didn't reply in some variables of interest (an absence of reply was coded as -1 here)
survey_data = filter(survey_data, 
                     happening > 0, 
                     cause_recoded > 0, 
                     sci_consensus > 0, 
                     worry > 0)

glimpse(survey_data)

Rows: 18,514
Columns: 54
$ case_ID                     <dbl> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ year                        <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ weight_wave                 <dbl> 0.54, 0.85, 0.49, 0.29, 1.29, 2.56, 0.23, …
$ weight_aggregate            <dbl> 0.2939263, 0.4626617, 0.2667109, 0.1578493…
$ happening                   <dbl+lbl> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3,…
$ cause_original              <dbl+lbl> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1,…
$ cause_other_text            <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ cause_recoded               <dbl+lbl> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6,…
$ sci_consensus               <dbl+lbl> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4,…
$ worry                       <dbl+lbl> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3,…
$ harm_personally             <dbl+lbl> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3,…
$ harm_US                     <dbl+lbl>  3, -1,  1,  2,  0,  0,  3,  3,  1,  0…
$ harm_dev_countries          <dbl+lbl> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4,…
$ harm_future_gen             <dbl+lbl> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4,…
$ harm_plants_animals         <dbl+lbl> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4,…
$ when_harm_US                <dbl+lbl> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5,…
$ reg_CO2_pollutant           <dbl+lbl> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4,…
$ reg_utilities               <dbl+lbl> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4,…
$ fund_research               <dbl+lbl> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3,…
$ reg_coal_emissions          <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <dbl+lbl> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2,…
$ hear_GW_media               <dbl+lbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <dbl+lbl> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2,…
$ age                         <dbl> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <dbl+lbl> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3,…
$ generation                  <dbl+lbl> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5,…
$ educ                        <dbl+lbl>  9,  6, 14, 13, 10, 12, 12, 12, 12, 12…
$ educ_category               <dbl+lbl> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2,…
$ income                      <dbl+lbl> 12,  9,  9, 16, 13, 14,  3, 12, 16, 17…
$ income_category             <dbl+lbl> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3,…
$ race                        <dbl+lbl> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1,…
$ ideology                    <dbl+lbl> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3,…
$ party                       <dbl+lbl> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3,…
$ party_w_leaners             <dbl+lbl> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2,…
$ party_x_ideo                <dbl+lbl>  5, -2,  5,  5,  5,  5,  5,  3,  3,  5…
$ registered_voter            <dbl+lbl> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ region9                     <dbl+lbl> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2,…
$ region4                     <dbl+lbl> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1,…
$ religion                    <dbl+lbl>  2,  2,  4,  2,  1, 11,  4, 15,  2,  1…
$ religion_other_nonchristian <chr> "", "", "", "", "", "", "", "", "", "", ""…
$ evangelical                 <dbl+lbl> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2,…
$ service_attendance          <dbl+lbl> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2,…
$ marit_status                <dbl+lbl> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1,…
$ employment                  <dbl+lbl> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5,…
$ house_head                  <dbl+lbl> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,…
$ house_size                  <dbl> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <dbl> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <dbl> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <dbl+lbl> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1,…
$ house_own                   <dbl+lbl> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1,…

In [9]:
# convert all data to integers type
survey_data = mutate_all(survey_data, 
                         as.integer)

glimpse(survey_data)

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

Rows: 18,514
Columns: 54
$ case_ID                     <int> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ year                        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ weight_wave                 <int> 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, …
$ weight_aggregate            <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ happening                   <int> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, …
$ cause_original              <int> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1, 1, …
$ cause_other_text            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <int> 6, 6, 4, 4, 6, 4, 6, 6, 3, 4, 6, 6, 6, 6, …
$ sci_consensus               <int> 4, 1, 2, 4, 2, 2, 2, 3, 2, 4, 1, 2, 4, 4, …
$ worry                       <int> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, …
$ harm_personally             <int> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, …
$ harm_US                     <int> 3, -1, 1, 2, 0, 0, 3, 3, 1, 0, 0, 0, 3, 2,…
$ harm_dev_countries          <int> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, …
$ harm_future_gen             <int> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, …
$ harm_plants_animals         <int> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, …
$ when_harm_US                <int> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, …
$ reg_CO2_pollutant           <int> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, …
$ reg_utilities               <int> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, …
$ fund_research               <int> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, …
$ reg_coal_emissions          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <int> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, …
$ hear_GW_media               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <int> 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, …
$ age                         <int> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <int> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, …
$ generation                  <int> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5, 4, …
$ educ                        <int> 9, 6, 14, 13, 10, 12, 12, 12, 12, 12, 9, 1…
$ educ_category               <int> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, …
$ income                      <int> 12, 9, 9, 16, 13, 14, 3, 12, 16, 17, 8, 7,…
$ income_category             <int> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, …
$ race                        <int> 1, 1, 4, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, …
$ ideology                    <int> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3, 3, …
$ party                       <int> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3, 2, …
$ party_w_leaners             <int> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2, 2, …
$ party_x_ideo                <int> 5, -2, 5, 5, 5, 5, 5, 3, 3, 5, 2, 5, 2, 2,…
$ registered_voter            <int> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ region9                     <int> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2, 4, …
$ region4                     <int> 3, 2, 4, 3, 3, 4, 4, 4, 1, 3, 3, 3, 1, 2, …
$ religion                    <int> 2, 2, 4, 2, 1, 11, 4, 15, 2, 1, 2, 2, 5, 3…
$ religion_other_nonchristian <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <int> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, …
$ service_attendance          <int> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2, 1, …
$ marit_status                <int> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1, 3, …
$ employment                  <int> 5, 6, 4, 5, 1, 2, 1, 1, 2, 7, 1, 5, 5, 5, …
$ house_head                  <int> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ house_size                  <int> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <int> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <int> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1, 1, …
$ house_own                   <int> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, …

In [10]:
# add new columns
# note that when you use the old name, the column is replaced with the new one

survey_data = mutate(survey_data, 
                     happening_cont = happening + rnorm(mean=0, sd=.5, n=nrow(survey_data)),
                     worry_cont = worry + rnorm(mean=0, sd=.5, n=nrow(survey_data)),
                     year=recode(year, 
                                 `1` = 2008, 
                                 `2` = 2010,
                                 `3` = 2011,
                                 `4` = 2012, 
                                 `5` = 2013,
                                 `6` = 2014,
                                 `7` = 2015,
                                 `8` = 2016,
                                 `9` = 2017),
                     happening_labels=recode(happening,
                                             `1` = "no",
                                             `2` = "dont know",
                                             `3` = "yes"),
                     cause_recoded=recode(cause_recoded,
                                          `1` = "dont know",
                                          `2` = "other",
                                          `3` = "not happening",
                                          `4` = "natural",
                                          `5` = "human",
                                          `6` = "natural and human"),
                     sci_consensus=recode(sci_consensus,
                                          `1` = "dont know",
                                          `2` = "disagreement",
                                          `3` = "not happening",
                                          `4` = "happening"),
                     gender=recode(gender,
                                   `1` = "male",
                                   `2` = "female"),
                     age_category_labels=recode(age_category,
                                                `1` = "18-34",
                                                `2` = "35-54",
                                                `3` = "55+"),
                     educ_category_labels=recode(educ_category,
                                                 `1` = "no highschool",
                                                 `2` = "highschool",
                                                 `3` = "college",
                                                 `4` = "bachelor or higher"),
                     income_category_labels=recode(income_category,
                                                   `1` = "less 50000",
                                                   `2` = "50000-99999",
                                                   `3` = "more 100000"),
                     race=recode(race,
                                 `1` = 'white non hisp',
                                 `2` = 'black non hisp',
                                 `3` = 'other non hisp',
                                 `4` = 'hisp'),
                     party_x_ideo=recode(party_x_ideo,
                                         `-2` = "no interest",
                                         `-1` = "refused",
                                         `1` = "liberal democrat",
                                         `2` = "moderate democrate",
                                         `3` = "independent",
                                         `4` = "moderate republican",
                                         `5` = "conservative republican"),
                     region4 = recode(region4,
                                      `1` = "northeast",
                                      `2` = "midwest",
                                      `3` = "south",
                                      `4` = "west"),
                     employment = recode(employment,
                                         `1` = "Working/as a paid employee",
                                         `2` = "Working/selfemploye",
                                         `3` = "Not working/temporary",
                                         `4` = "Not working/looking",
                                         `5` = "Not working/retired",
                                         `6` = "Not working/disabled",
                                         `7` = "Not working/other"))

glimpse(survey_data)

Rows: 18,514
Columns: 60
$ case_ID                     <int> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ year                        <dbl> 2008, 2008, 2008, 2008, 2008, 2008, 2008, …
$ weight_wave                 <int> 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, …
$ weight_aggregate            <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ happening                   <int> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, …
$ cause_original              <int> 1, 1, 2, 2, 1, 2, 1, 1, 4, 2, 1, 1, 1, 1, …
$ cause_other_text            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <chr> "natural and human", "natural and human", …
$ sci_consensus               <chr> "happening", "dont know", "disagreement", …
$ worry                       <int> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, …
$ harm_personally             <int> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, …
$ harm_US                     <int> 3, -1, 1, 2, 0, 0, 3, 3, 1, 0, 0, 0, 3, 2,…
$ harm_dev_countries          <int> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, …
$ harm_future_gen             <int> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, …
$ harm_plants_animals         <int> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, …
$ when_harm_US                <int> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, …
$ reg_CO2_pollutant           <int> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, …
$ reg_utilities               <int> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, …
$ fund_research               <int> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, …
$ reg_coal_emissions          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <int> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, …
$ hear_GW_media               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <chr> "female", "male", "female", "male", "femal…
$ age                         <int> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <int> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, …
$ generation                  <int> 5, 4, 4, 5, 2, 3, 3, 3, 4, 4, 5, 5, 5, 4, …
$ educ                        <int> 9, 6, 14, 13, 10, 12, 12, 12, 12, 12, 9, 1…
$ educ_category               <int> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, …
$ income                      <int> 12, 9, 9, 16, 13, 14, 3, 12, 16, 17, 8, 7,…
$ income_category             <int> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, …
$ race                        <chr> "white non hisp", "white non hisp", "hisp"…
$ ideology                    <int> 4, 3, 4, 4, 4, 5, 4, 2, 4, 5, 3, 4, 3, 3, …
$ party                       <int> 1, 5, 1, 3, 1, 3, 1, 3, 3, 1, 2, 1, 3, 2, …
$ party_w_leaners             <int> 1, 4, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2, 2, …
$ party_x_ideo                <chr> "conservative republican", "no interest", …
$ registered_voter            <int> 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ region9                     <int> 5, 3, 8, 5, 6, 9, 8, 8, 2, 7, 5, 7, 2, 4, …
$ region4                     <chr> "south", "midwest", "west", "south", "sout…
$ religion                    <int> 2, 2, 4, 2, 1, 11, 4, 15, 2, 1, 2, 2, 5, 3…
$ religion_other_nonchristian <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <int> 2, 3, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, …
$ service_attendance          <int> 5, 2, 5, 2, 5, 5, 5, 1, 5, 4, 3, 2, 2, 1, …
$ marit_status                <int> 2, 5, 1, 1, 1, 1, 1, 3, 1, 1, 2, 3, 1, 3, …
$ employment                  <chr> "Not working/retired", "Not working/disabl…
$ house_head                  <int> 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ house_size                  <int> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <int> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <int> 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1, 1, …
$ house_own                   <int> 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, …
$ happening_cont              <dbl> 2.6994028, 1.9570671, 1.5869645, 2.6224361…
$ worry_cont                  <dbl> 2.6809807, 1.7813645, 1.2097600, 3.1425171…
$ happening_labels            <chr> "yes", "dont know", "dont know", "yes", "y…
$ age_category_labels         <chr> "55+", "35-54", "35-54", "55+", "18-34", "…
$ educ_category_labels        <chr> "highschool", "no highschool", "bachelor o…
$ income_category_labels      <chr> "50000-99999", "less 50000", "less 50000",…

In [11]:
# get summary statistics
summarise(survey_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  count min_worry  quantile25_worry mean_worry quantile75_worry max_worry
1 18514 -0.6258795 1.719682         2.506957   3.271744         5.74584
  min_happening quantile25_happening mean_happening quantile75_happening
1 -0.5494569    1.931903             2.498503       3.163341
  max_happening
1 4.837948

In [12]:
# get summary statistics per group
grouped_data = group_by(survey_data, year)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  year count min_worry  quantile25_worry mean_worry quantile75_worry max_worry
1 2008 2130  -0.2426371 1.854922         2.607816   3.336053         5.520410
2 2010 1993  -0.6258795 1.636806         2.425449   3.208264         5.067025
3 2011 1946  -0.4806778 1.686930         2.443734   3.185321         5.356783
4 2012 2050  -0.1290887 1.754469         2.486256   3.225240         5.199948
5 2013 1858  -0.4649053 1.685115         2.456085   3.216821         5.745840
6 2014 2282  -0.4006516 1.670680         2.465560   3.235121         5.180764
7 2015 1263  -0.2308368 1.640797         2.435744   3.158306         5.160600
8 2016 2427  -0.4607928 1.747913         2.564169   3.367576         5.594512
9 2017 2565  -0.4541047 1.810128         2.605655   3.402962         5.621749
  min_happening quantile25_happening mean_happening quantile75_happening
1 -0.2863030    2.082753             2.579255       3.194827
2 -0.3495524    1.691202             2.367490       3.081541
3 -0.5220632    1.814369             2.455834       3.162717
4 -0.5298587    1.969532             2.513324       3.137003
5 -0.1720199    1.825942             2.464917       3.165608
6 -0.5090169    1.851020             2.462436       3.162255
7 -0.2880229    1.734081             2.431554       3.153858
8 -0.5494569    2.127999             2.584379       3.207885
9 -0.3531685    2.093490             2.561895       3.165562
  max_happening
1 4.656575
2 4.715149
3 4.422473
4 4.837948
5 4.666515
6 4.565332
7 4.593237
8 4.626011
9 4.645457

In [13]:
# split columns
survey_data = separate(survey_data,
                       col = employment,
                       into = c('working', 'working_type'),
                       sep = '/',
                       remove = FALSE)
head(survey_data)

  case_ID wave year weight_wave weight_aggregate happening cause_original
1 2       1    2008 0           0                3         1
2 3       1    2008 0           0                2         1
3 5       1    2008 0           0                2         2
4 6       1    2008 0           0                3         2
5 7       1    2008 1           0                3         1
6 8       1    2008 2           1                2         2
  cause_other_text cause_recoded     sci_consensus ⋯ house_ages13to17
1 NA               natural and human happening     ⋯ 0
2 NA               natural and human dont know     ⋯ 0
3 NA               natural           disagreement  ⋯ 0
4 NA               natural           happening     ⋯ 0
5 NA               natural and human disagreement  ⋯ 0
6 NA               natural           disagreement  ⋯ 0
  house_ages18plus house_type house_own happening_cont worry_cont
1 3                1          1         2.699403       2.6809807
2 2                4          2         1.957067       1.7813645
3 2                1          1         1.586964       1.2097600
4 2                1          1         2.622436       3.1425171
5 2                1          1         1.844088       3.9230972
6 2                2          1         2.231114       0.6860478
  happening_labels age_category_labels educ_category_labels
1 yes              55+                 highschool
2 dont know        35-54               no highschool
3 dont know        35-54               bachelor or higher
4 yes              55+                 bachelor or higher
5 yes              18-34               college
6 dont know        18-34               bachelor or higher
  income_category_labels
1 50000-99999
2 less 50000
3 less 50000
4 more 100000
5 50000-99999
6 50000-99999

In [14]:
# you can also create a new column via mutate + case_when
survey_data = mutate(survey_data,
                     working_recoded = case_when(working == "Not working" & working_type == 'looking' ~ 0,
                                                 working == "Not working" & working_type != 'looking' ~ 1,
                                                 working == "Working" ~ 2))
                     
head(survey_data)

  case_ID wave year weight_wave weight_aggregate happening cause_original
1 2       1    2008 0           0                3         1
2 3       1    2008 0           0                2         1
3 5       1    2008 0           0                2         2
4 6       1    2008 0           0                3         2
5 7       1    2008 1           0                3         1
6 8       1    2008 2           1                2         2
  cause_other_text cause_recoded     sci_consensus ⋯ house_ages18plus
1 NA               natural and human happening     ⋯ 3
2 NA               natural and human dont know     ⋯ 2
3 NA               natural           disagreement  ⋯ 2
4 NA               natural           happening     ⋯ 2
5 NA               natural and human disagreement  ⋯ 2
6 NA               natural           disagreement  ⋯ 2
  house_type house_own happening_cont worry_cont happening_labels
1 1          1         2.699403       2.6809807  yes
2 4          2         1.957067       1.7813645  dont know
3 1          1         1.586964       1.2097600  dont know
4 1          1         2.622436       3.1425171  yes
5 1          1         1.844088       3.9230972  yes
6 2          1         2.231114       0.6860478  dont know
  age_category_labels educ_category_labels income_category_labels
1 55+                 highschool           50000-99999
2 35-54               no highschool        less 50000
3 35-54               bachelor or higher   less 50000
4 55+                 bachelor or higher   more 100000
5 18-34               college              50000-99999
6 18-34               bachelor or higher   50000-99999
  working_recoded
1 1
2 1
3 0
4 1
5 2
6 2

In [15]:
# get summary statistics per group
grouped_data = group_by(survey_data, working)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  working     count min_worry  quantile25_worry mean_worry quantile75_worry
1 Not working  7996 -0.4806778 1.673718         2.493921   3.27398
2 Working     10518 -0.6258795 1.760594         2.516867   3.26933
  max_worry min_happening quantile25_happening mean_happening
1 5.621749  -0.5220632    1.933887             2.492015
2 5.745840  -0.5494569    1.928954             2.503436
  quantile75_happening max_happening
1 3.158318             4.565332
2 3.167996             4.837948

In [16]:
# first filter, and then get summary statistics per group
not_working_data = filter(survey_data, working == "Not working")

grouped_data = group_by(not_working_data, working_type)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  working_type count min_worry  quantile25_worry mean_worry quantile75_worry
1 disabled     1259  -0.4806778 1.779522         2.616278   3.429904
2 looking      1112  -0.1158791 1.811909         2.575762   3.310607
3 other        1370  -0.3661752 1.617906         2.460524   3.299985
4 retired      4099  -0.3816105 1.641896         2.441283   3.206911
5 temporary     156  -0.1290887 1.837270         2.599458   3.403330
  max_worry min_happening quantile25_happening mean_happening
1 5.527859  -0.04945407   2.040900             2.546194
2 5.199948  -0.34955238   2.027665             2.543600
3 5.093385  -0.41008379   1.797891             2.412514
4 5.621749  -0.52206317   1.919534             2.490048
5 4.619754   0.13202814   1.713294             2.436918
  quantile75_happening max_happening
1 3.174655             4.463715
2 3.184616             4.565332
3 3.124717             4.372438
4 3.160324             4.557202
5 3.175384             4.324968

In [17]:
# merge two columns
survey_data = unite(survey_data,
                    "race_gender",
                    race, 
                    gender,
                    sep = "_",
                    remove=FALSE)

head(select(survey_data, race, gender, race_gender))

  race           gender race_gender
1 white non hisp female white non hisp_female
2 white non hisp male   white non hisp_male
3 hisp           female hisp_female
4 white non hisp male   white non hisp_male
5 white non hisp female white non hisp_female
6 white non hisp male   white non hisp_male

In [18]:
# get summary statistics per group
grouped_data = group_by(survey_data, race_gender)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  race_gender           count min_worry  quantile25_worry mean_worry
1 black non hisp_female  875  -0.1158791 1.875653         2.598808
2 black non hisp_male    724  -0.1448984 1.852317         2.575395
3 hisp_female            875  -0.2489429 2.247289         2.881320
4 hisp_male              919  -0.2353865 1.883334         2.688781
5 other non hisp_female  562  -0.1190635 2.070893         2.739171
6 other non hisp_male    570  -0.2915990 1.827029         2.589867
7 white non hisp_female 7000  -0.4649053 1.811896         2.552876
8 white non hisp_male   6989  -0.6258795 1.528652         2.346165
  quantile75_worry max_worry min_happening quantile25_happening mean_happening
1 3.334745         5.317738  -0.02556552   2.180405             2.680251
2 3.309677         5.621749  -0.32420326   2.237087             2.657089
3 3.621627         5.745840  -0.52206317   2.147278             2.619380
4 3.450993         5.199948  -0.06314938   2.152118             2.592218
5 3.495784         5.410425  -0.14155930   2.116481             2.578122
6 3.435291         5.159589  -0.23768181   2.147599             2.573326
7 3.291461         5.520410  -0.54945689   1.984883             2.529487
8 3.121543         5.449068  -0.52985869   1.704728             2.388327
  quantile75_happening max_happening
1 3.224097             4.557202
2 3.234361             4.197769
3 3.178460             4.645457
4 3.224947             4.593187
5 3.209441             4.205555
6 3.198083             4.626011
7 3.179724             4.715149
8 3.114763             4.837948

In [19]:
# similar results with 2 grouping variables in this case:

# get summary statistics per group
grouped_data = group_by(survey_data, race, gender)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

`summarise()` has grouped output by 'race'. You can override using the `.groups` argument.

  race           gender count min_worry  quantile25_worry mean_worry
1 black non hisp female  875  -0.1158791 1.875653         2.598808
2 black non hisp male    724  -0.1448984 1.852317         2.575395
3 hisp           female  875  -0.2489429 2.247289         2.881320
4 hisp           male    919  -0.2353865 1.883334         2.688781
5 other non hisp female  562  -0.1190635 2.070893         2.739171
6 other non hisp male    570  -0.2915990 1.827029         2.589867
7 white non hisp female 7000  -0.4649053 1.811896         2.552876
8 white non hisp male   6989  -0.6258795 1.528652         2.346165
  quantile75_worry max_worry min_happening quantile25_happening mean_happening
1 3.334745         5.317738  -0.02556552   2.180405             2.680251
2 3.309677         5.621749  -0.32420326   2.237087             2.657089
3 3.621627         5.745840  -0.52206317   2.147278             2.619380
4 3.450993         5.199948  -0.06314938   2.152118             2.592218
5 3.495784         5.410425  -0.14155930   2.116481             2.578122
6 3.435291         5.159589  -0.23768181   2.147599             2.573326
7 3.291461         5.520410  -0.54945689   1.984883             2.529487
8 3.121543         5.449068  -0.52985869   1.704728             2.388327
  quantile75_happening max_happening
1 3.224097             4.557202
2 3.234361             4.197769
3 3.178460             4.645457
4 3.224947             4.593187
5 3.209441             4.205555
6 3.198083             4.626011
7 3.179724             4.715149
8 3.114763             4.837948

### Do everything again but with pipes:

In [24]:
survey_data = read_spss("https://github.com/laurafontanesi/r-seminar/raw/main/data/ccam_original.sav")

survey_data = survey_data %>%
    select(all_of(interesting_columns)) %>%
    filter(happening > 0, 
           cause_recoded > 0, 
           sci_consensus > 0, 
           worry > 0)  %>%
    mutate_all(as.integer) %>%
    mutate(happening_cont = happening + rnorm(mean=0, sd=.5, n=n()),
           worry_cont = worry + rnorm(mean=0, sd=.5, n=n()),
           year=recode(year, 
                       `1` = 2008, 
                       `2` = 2010,
                       `3` = 2011,
                       `4` = 2012, 
                       `5` = 2013,
                       `6` = 2014,
                       `7` = 2015,
                       `8` = 2016,
                       `9` = 2017),
           happening_labels=recode(happening,
                                   `1` = "no",
                                   `2` = "dont know",
                                   `3` = "yes"),
           cause_recoded=recode(cause_recoded,
                                `1` = "dont know",
                                `2` = "other",
                                `3` = "not happening",
                                `4` = "natural",
                                `5` = "human",
                                `6` = "natural and human"),
           sci_consensus=recode(sci_consensus,
                                `1` = "dont know",
                                `2` = "disagreement",
                                `3` = "not happening",
                                `4` = "happening"),
           gender=recode(gender,
                         `1` = "male",
                         `2` = "female"),
           age_category_labels=recode(age_category,
                                      `1` = "18-34",
                                      `2` = "35-54",
                                      `3` = "55+"),
           educ_category_labels=recode(educ_category,
                                       `1` = "no highschool",
                                       `2` = "highschool",
                                       `3` = "college",
                                       `4` = "bachelor or higher"),
           income_category_labels=recode(income_category,
                        `1` = "less 50000",
                        `2` = "50000-99999",
                        `3` = "more 100000"),
           race=recode(race,
                      `1` = 'white non hisp',
                      `2` = 'black non hisp',
                      `3` = 'other non hisp',
                      `4` = 'hisp'),
           party_x_ideo=recode(party_x_ideo,
                               `-2` = "no interest",
                               `-1` = "refused",
                               `1` = "liberal democrat",
                               `2` = "moderate democrate",
                               `3` = "independent",
                               `4` = "moderate republican",
                               `5` = "conservative republican"),
           region4 = recode(region4,
                            `1` = "northeast",
                            `2` = "midwest",
                            `3` = "south",
                            `4` = "west"),
           employment = recode(employment,
                               `1` = "Working/as a paid employee",
                               `2` = "Working/selfemploye",
                               `3` = "Not working/temporary",
                               `4` = "Not working/looking",
                               `5` = "Not working/retired",
                               `6` = "Not working/disabled",
                               `7` = "Not working/other")) %>%
    separate(col = employment,
             into = c('working', 'working_type'),
             sep = '/') %>%
    glimpse()  %>%
    filter(working == "Not working")  %>%
    group_by(working_type) %>%
    summarise(count=n(), 
              min_worry=min(worry_cont),
              quantile25_worry=quantile(worry_cont, .25),
              mean_worry=mean(worry_cont), 
              quantile75_worry=quantile(worry_cont, .75),
              max_worry=max(worry_cont),
              min_happening=min(happening_cont),
              quantile25_happening=quantile(happening_cont, .25),
              mean_happening=mean(happening_cont),
              quantile75_happening=quantile(happening_cont, .75),
              max_happening=max(happening_cont))

Rows: 18,514
Columns: 31
$ wave                   <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ year                   <dbl> 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008,…
$ happening              <int> 3, 2, 2, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, 3, 2,…
$ cause_recoded          <chr> "natural and human", "natural and human", "natu…
$ sci_consensus          <chr> "happening", "dont know", "disagreement", "happ…
$ worry                  <int> 3, 2, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, 4, 2,…
$ harm_personally        <int> 2, 2, 1, 2, 0, 0, 2, 3, 1, 0, 0, 1, 3, 2, 4, 2,…
$ harm_US                <int> 3, -1, 1, 2, 0, 0, 3, 3, 1, 0, 0, 0, 3, 2, 4, 2…
$ harm_dev_countries     <int> 4, 2, 1, 3, 0, 0, 4, 3, 1, 0, 0, 0, 4, 2, 4, 2,…
$ harm_future_gen        <int> 4, 3, 1, 3, 0, 0, 4, 3, 1, 4, 0, 0, 4, 3, 4, 3,…
$ harm_plants_animals    <int> 4, 3, 1, 3, 3, 0, 4, 3, 1, 4, 0, 3, 4, 2, 4, 3,…
$ when_harm_US           <int> 5, 3, 1, 4, 2, 2, 5, 4, 1, 3, 3, 3, 5, 4, 5, 2,…
$ reg_CO2_pollutant      <int> 4, 3, 2, 3, 3, 1, 3, 2, 2, 3, 3, 4, 4, 3, 3, 2,…
$ reg_utilities          <int> 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 4, 3, 2, 2,…
$ fund_research          <int> 4, 3, 1, 4, 4, 3, 4, 2, 3, 4, 3, 1, 3, 3, 4, 3,…
$ discuss_GW             <int> 3, 2, 1, 2, 1, 2, 3, 2, 3, 3, 2, 2, 2, 1, 3, 2,…
$ gender                 <chr> "female", "male", "female", "male", "female", "…
$ age_category           <int> 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 3, 1,…
$ educ_category          <int> 2, 1, 4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 2, 3, 2, 4,…
$ income_category        <int> 2, 1, 1, 3, 2, 2, 1, 2, 3, 3, 1, 1, 3, 1, 1, 3,…
$ race                   <chr> "white non hisp", "white non hisp", "hisp", "wh…
$ party_x_ideo           <chr> "conservative republican", "no interest", "cons…
$ region4                <chr> "south", "midwest", "west", "south", "south", "…
$ working                <chr> "Not working", "Not working", "Not working", "N…
$ working_type           <chr> "retired", "disabled", "looking", "retired", "a…
$ happening_cont         <dbl> 2.767021, 3.021819, 2.531061, 2.495423, 3.33629…
$ worry_cont             <dbl> 2.7941767, 3.0537782, 1.0651929, 2.8366341, 3.0…
$ happening_labels       <chr> "yes", "dont know", "dont know", "yes", "yes", …
$ age_category_labels    <chr> "55+", "35-54", "35-54", "55+", "18-34", "18-34…
$ educ_category_labels   <chr> "highschool", "no highschool", "bachelor or hig…
$ income_category_labels <chr> "50000-99999", "less 50000", "less 50000", "mor…

In [25]:
survey_data

  working_type count min_worry  quantile25_worry mean_worry quantile75_worry
1 disabled     1259  -0.5274345 1.894911         2.650565   3.431261
2 looking      1112  -0.3327282 1.838980         2.590275   3.346440
3 other        1370  -0.3866536 1.697890         2.494001   3.274734
4 retired      4099  -0.4218140 1.639102         2.441367   3.217301
5 temporary     156   0.0734630 1.959426         2.640567   3.371713
  max_worry min_happening quantile25_happening mean_happening
1 5.062389  -0.034134691  2.092491             2.557690
2 5.568882  -0.469420986  2.043406             2.528569
3 5.751406  -0.256908539  1.812741             2.428002
4 5.276488  -0.416997103  1.895164             2.481944
5 4.751222  -0.009043448  1.919005             2.439284
  quantile75_happening max_happening
1 3.161638             4.403080
2 3.139001             4.729237
3 3.122647             4.703120
4 3.142185             4.757752
5 3.180008             4.182468

### Wide and long format

In [26]:
# Create fake data:
N = 15
mean_score_students = runif(N, 5, 10)
fake_data_wide = tibble( # same as data.frame but in tidyverse!
    student = 1:N,
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1),
    score_wpa4 = mean_score_students*0.7 + rnorm(N, 0, 0.2)
)

fake_data_wide

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      35  9.611650   8.592914   3.8075889  6.683910
2   2      31  5.670439   5.041977   2.2673191  3.988347
3   3      32  5.425435   4.895512   0.3303576  3.628375
4   4      29  5.543246   4.860492   2.5065663  3.696674
5   5      34  7.409691   6.481713   2.7112266  5.107628
6   6      35  9.176711   8.346924   5.3017751  6.046222
7   7      30  7.736210   6.924039   2.8251164  5.124120
8   8      32  9.972413   9.167900   5.8555009  7.012729
9   9      33  6.235357   5.619340   3.4555574  4.411119
10 10      36  5.766049   5.136701   1.7499740  4.085280
11 11      32  5.333492   4.712582   2.5379208  3.772024
12 12      29  9.375325   8.297236   5.6928468  6.677636
13 13      26  7.105528   6.335122   4.1300204  4.777580
14 14      35  5.136454   4.570192   3.5216481  3.686792
15 15      30  7.360579   6.471954   3.5356021  5.267668

In [27]:
# transform from wide to long format
fake_data_long = gather(fake_data_wide,
                        key='wpa',
                        value='score',
                        score_wpa1:score_wpa4)
head(fake_data_long, 10)

   student age wpa        score
1   1      35  score_wpa1 9.611650
2   2      31  score_wpa1 5.670439
3   3      32  score_wpa1 5.425435
4   4      29  score_wpa1 5.543246
5   5      34  score_wpa1 7.409691
6   6      35  score_wpa1 9.176711
7   7      30  score_wpa1 7.736210
8   8      32  score_wpa1 9.972413
9   9      33  score_wpa1 6.235357
10 10      36  score_wpa1 5.766049

In [28]:
# reorder based on student
head(arrange(fake_data_long, student), 20)

   student age wpa        score
1  1       35  score_wpa1 9.6116497
2  1       35  score_wpa2 8.5929137
3  1       35  score_wpa3 3.8075889
4  1       35  score_wpa4 6.6839096
5  2       31  score_wpa1 5.6704387
6  2       31  score_wpa2 5.0419771
7  2       31  score_wpa3 2.2673191
8  2       31  score_wpa4 3.9883466
9  3       32  score_wpa1 5.4254345
10 3       32  score_wpa2 4.8955120
11 3       32  score_wpa3 0.3303576
12 3       32  score_wpa4 3.6283750
13 4       29  score_wpa1 5.5432457
14 4       29  score_wpa2 4.8604916
15 4       29  score_wpa3 2.5065663
16 4       29  score_wpa4 3.6966742
17 5       34  score_wpa1 7.4096915
18 5       34  score_wpa2 6.4817129
19 5       34  score_wpa3 2.7112266
20 5       34  score_wpa4 5.1076275

In [29]:
# bring back
fake_data_wide = spread(fake_data_long,
                        key='wpa',
                        value='score')
head(fake_data_wide, 5)

  student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1 1       35  9.611650   8.592914   3.8075889  6.683910
2 2       31  5.670439   5.041977   2.2673191  3.988347
3 3       32  5.425435   4.895512   0.3303576  3.628375
4 4       29  5.543246   4.860492   2.5065663  3.696674
5 5       34  7.409691   6.481713   2.7112266  5.107628

### Join dataframes

In [30]:
# Create fake data:
mean_score_students = runif(N, 5, 10)
fake_data_wide_second_batch = tibble( # same as data.frame but in tidyverse!
    student = (N+1):(2*N),
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1)
)
fake_data_wide_second_batch

   student age score_wpa1 score_wpa2 score_wpa3
1  16      36  9.203653   8.183801   3.3226918
2  17      37  8.208796   7.402148   5.3570783
3  18      32  5.768995   5.388315   2.1051820
4  19      24  5.196818   4.585138   0.6219846
5  20      37  5.528854   4.830406   1.8598178
6  21      28  8.209422   7.316592   4.1165174
7  22      46  7.223616   6.485374   4.4178270
8  23      34  6.619410   5.922780   4.1309810
9  24      40  6.936085   6.241133   2.0953651
10 25      28  5.265450   4.651569   4.6084070
11 26      35  5.945266   5.444195   3.0624266
12 27      29  6.349817   5.772955   3.4534057
13 28      13  5.589301   4.984302   3.8589453
14 29      31  5.920900   5.322575   1.6876657
15 30      28  6.864485   6.196012   4.5766968

In [31]:
fake_data_wide = bind_rows(fake_data_wide, fake_data_wide_second_batch)
fake_data_wide

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      35  9.611650   8.592914   3.8075889  6.683910
2   2      31  5.670439   5.041977   2.2673191  3.988347
3   3      32  5.425435   4.895512   0.3303576  3.628375
4   4      29  5.543246   4.860492   2.5065663  3.696674
5   5      34  7.409691   6.481713   2.7112266  5.107628
6   6      35  9.176711   8.346924   5.3017751  6.046222
7   7      30  7.736210   6.924039   2.8251164  5.124120
8   8      32  9.972413   9.167900   5.8555009  7.012729
9   9      33  6.235357   5.619340   3.4555574  4.411119
10 10      36  5.766049   5.136701   1.7499740  4.085280
11 11      32  5.333492   4.712582   2.5379208  3.772024
12 12      29  9.375325   8.297236   5.6928468  6.677636
13 13      26  7.105528   6.335122   4.1300204  4.777580
14 14      35  5.136454   4.570192   3.5216481  3.686792
15 15      30  7.360579   6.471954   3.5356021  5.267668
16 16      36  9.203653   8.183801   3.3226918        NA
17 17      37  8.208796   7.402148   5.3570783        NA
18 18      32  5.768995   5.388315   2.1051820        NA
19 19      24  5.196818   4.585138   0.6219846        NA
20 20      37  5.528854   4.830406   1.8598178        NA
21 21      28  8.209422   7.316592   4.1165174        NA
22 22      46  7.223616   6.485374   4.4178270        NA
23 23      34  6.619410   5.922780   4.1309810        NA
24 24      40  6.936085   6.241133   2.0953651        NA
25 25      28  5.265450   4.651569   4.6084070        NA
26 26      35  5.945266   5.444195   3.0624266        NA
27 27      29  6.349817   5.772955   3.4534057        NA
28 28      13  5.589301   4.984302   3.8589453        NA
29 29      31  5.920900   5.322575   1.6876657        NA
30 30      28  6.864485   6.196012   4.5766968        NA

In [32]:
# new variables
new_info = tibble(
    student = 1:(2*N),
    score_wpa5 = mean_score_students*0.5 + rnorm(2*N, 0, 1),
    gender = rbinom(2*N, 1, .5)
)

In [33]:
new_info

   student score_wpa5 gender
1   1      5.192904   0
2   2      3.656604   1
3   3      4.146213   0
4   4      2.825169   1
5   5      2.952313   1
6   6      3.240976   0
7   7      2.934205   0
8   8      4.043050   1
9   9      4.286768   1
10 10      3.243423   1
11 11      2.834963   1
12 12      3.379446   0
13 13      3.834692   1
14 14      3.651178   0
15 15      1.934941   0
16 16      4.232654   1
17 17      4.431068   0
18 18      2.286707   1
19 19      1.694617   0
20 20      1.471178   1
21 21      3.576158   1
22 22      4.221807   1
23 23      4.179427   1
24 24      3.162951   1
25 25      2.401201   0
26 26      4.106709   0
27 27      2.157229   1
28 28      1.416020   0
29 29      5.116962   0
30 30      4.646050   0

In [34]:
fake_data_wide = bind_cols(fake_data_wide,
                           new_info)
fake_data_wide

New names:
* student -> student...1
* student -> student...7

   student...1 age score_wpa1 score_wpa2 score_wpa3 score_wpa4 student...7
1   1          35  9.611650   8.592914   3.8075889  6.683910    1
2   2          31  5.670439   5.041977   2.2673191  3.988347    2
3   3          32  5.425435   4.895512   0.3303576  3.628375    3
4   4          29  5.543246   4.860492   2.5065663  3.696674    4
5   5          34  7.409691   6.481713   2.7112266  5.107628    5
6   6          35  9.176711   8.346924   5.3017751  6.046222    6
7   7          30  7.736210   6.924039   2.8251164  5.124120    7
8   8          32  9.972413   9.167900   5.8555009  7.012729    8
9   9          33  6.235357   5.619340   3.4555574  4.411119    9
10 10          36  5.766049   5.136701   1.7499740  4.085280   10
11 11          32  5.333492   4.712582   2.5379208  3.772024   11
12 12          29  9.375325   8.297236   5.6928468  6.677636   12
13 13          26  7.105528   6.335122   4.1300204  4.777580   13
14 14          35  5.136454   4.570192   3.5216481  3.686792   14
15 15          30  7.360579   6.471954   3.5356021  5.267668   15
16 16          36  9.203653   8.183801   3.3226918        NA   16
17 17          37  8.208796   7.402148   5.3570783        NA   17
18 18          32  5.768995   5.388315   2.1051820        NA   18
19 19          24  5.196818   4.585138   0.6219846        NA   19
20 20          37  5.528854   4.830406   1.8598178        NA   20
21 21          28  8.209422   7.316592   4.1165174        NA   21
22 22          46  7.223616   6.485374   4.4178270        NA   22
23 23          34  6.619410   5.922780   4.1309810        NA   23
24 24          40  6.936085   6.241133   2.0953651        NA   24
25 25          28  5.265450   4.651569   4.6084070        NA   25
26 26          35  5.945266   5.444195   3.0624266        NA   26
27 27          29  6.349817   5.772955   3.4534057        NA   27
28 28          13  5.589301   4.984302   3.8589453        NA   28
29 29          31  5.920900   5.322575   1.6876657        NA   29
30 30          28  6.864485   6.196012   4.5766968        NA   30
   score_wpa5 gender
1  5.192904   0
2  3.656604   1
3  4.146213   0
4  2.825169   1
5  2.952313   1
6  3.240976   0
7  2.934205   0
8  4.043050   1
9  4.286768   1
10 3.243423   1
11 2.834963   1
12 3.379446   0
13 3.834692   1
14 3.651178   0
15 1.934941   0
16 4.232654   1
17 4.431068   0
18 2.286707   1
19 1.694617   0
20 1.471178   1
21 3.576158   1
22 4.221807   1
23 4.179427   1
24 3.162951   1
25 2.401201   0
26 4.106709   0
27 2.157229   1
28 1.416020   0
29 5.116962   0
30 4.646050   0

A better way to join dataframes is to use the "join" functions:

In [35]:
# Create fake data:
N = 15
mean_score_students = runif(N, 5, 10)
first_batch = tibble(
    student = 1:N,
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1),
    score_wpa4 = mean_score_students*0.7 + rnorm(N, 0, 0.2)
)
M = 5
mean_score_students = runif(M, 8, 10)
second_batch = tibble( 
    student = (N+1):(N+M),
    age = round(rnorm(M, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(M, 0, 0.1),
    score_wpa5 = mean_score_students*0.5 + rnorm(M, 0, 1)
)
new_info = tibble(
    student = 1:(N+M),
    score_wpa6 = runif(N+M, 6, 10)*0.5 + rnorm(N+M, 0, 1),
    gender = rbinom(N+M, 1, .5)
)

In [36]:
first_batch

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      33  5.501741   5.089879   3.197318   3.843986
2   2      30  8.041109   7.163939   2.828186   5.717182
3   3      34  8.731506   7.619818   2.935576   5.884716
4   4      34  5.212309   4.746820   2.295576   3.431870
5   5      29  6.442860   5.584512   2.518008   4.571424
6   6      37  9.709375   8.533699   5.565570   7.324670
7   7      34  6.937850   6.255918   2.586756   4.703950
8   8      28  6.680778   5.982418   3.025616   4.407783
9   9      28  5.952873   5.376740   1.867463   3.815981
10 10      41  6.797962   5.935221   2.323379   4.986290
11 11      38  6.588754   5.917646   4.089597   4.563106
12 12      34  8.184275   7.260014   4.876548   5.174300
13 13      32  5.822969   5.311373   3.028195   4.126358
14 14      40  7.706366   6.912456   3.388086   5.661208
15 15      33  6.127914   5.455332   3.037560   4.408412

In [37]:
second_batch

  student age score_wpa1 score_wpa2 score_wpa5
1 16      26  8.674148   7.652888   4.210289
2 17      25  9.218964   8.261916   4.585231
3 18      24  9.839950   8.757856   4.594295
4 19      31  9.087484   8.072908   4.330349
5 20      41  9.916671   9.022350   4.055233

In [38]:
new_info

   student score_wpa6 gender
1   1      4.644891   1
2   2      6.215744   0
3   3      6.258009   1
4   4      4.483813   1
5   5      3.348648   1
6   6      3.466887   1
7   7      1.755883   1
8   8      1.934805   0
9   9      2.871360   0
10 10      4.556432   0
11 11      4.670584   0
12 12      3.568236   0
13 13      4.730982   0
14 14      3.542438   0
15 15      2.027587   1
16 16      3.275201   0
17 17      4.301249   1
18 18      4.417206   1
19 19      4.940966   0
20 20      4.597250   0

In [39]:
full_join(first_batch, second_batch, by='student')

   student age.x score_wpa1.x score_wpa2.x score_wpa3 score_wpa4 age.y
1   1      33    5.501741     5.089879     3.197318   3.843986   NA
2   2      30    8.041109     7.163939     2.828186   5.717182   NA
3   3      34    8.731506     7.619818     2.935576   5.884716   NA
4   4      34    5.212309     4.746820     2.295576   3.431870   NA
5   5      29    6.442860     5.584512     2.518008   4.571424   NA
6   6      37    9.709375     8.533699     5.565570   7.324670   NA
7   7      34    6.937850     6.255918     2.586756   4.703950   NA
8   8      28    6.680778     5.982418     3.025616   4.407783   NA
9   9      28    5.952873     5.376740     1.867463   3.815981   NA
10 10      41    6.797962     5.935221     2.323379   4.986290   NA
11 11      38    6.588754     5.917646     4.089597   4.563106   NA
12 12      34    8.184275     7.260014     4.876548   5.174300   NA
13 13      32    5.822969     5.311373     3.028195   4.126358   NA
14 14      40    7.706366     6.912456     3.388086   5.661208   NA
15 15      33    6.127914     5.455332     3.037560   4.408412   NA
16 16      NA          NA           NA           NA         NA   26
17 17      NA          NA           NA           NA         NA   25
18 18      NA          NA           NA           NA         NA   24
19 19      NA          NA           NA           NA         NA   31
20 20      NA          NA           NA           NA         NA   41
   score_wpa1.y score_wpa2.y score_wpa5
1        NA           NA           NA
2        NA           NA           NA
3        NA           NA           NA
4        NA           NA           NA
5        NA           NA           NA
6        NA           NA           NA
7        NA           NA           NA
8        NA           NA           NA
9        NA           NA           NA
10       NA           NA           NA
11       NA           NA           NA
12       NA           NA           NA
13       NA           NA           NA
14       NA           NA           NA
15       NA           NA           NA
16 8.674148     7.652888     4.210289
17 9.218964     8.261916     4.585231
18 9.839950     8.757856     4.594295
19 9.087484     8.072908     4.330349
20 9.916671     9.022350     4.055233

In [40]:
full_join(first_batch, second_batch, by=c('student', 'age', "score_wpa1", "score_wpa2"))

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4 score_wpa5
1   1      33  5.501741   5.089879   3.197318   3.843986         NA
2   2      30  8.041109   7.163939   2.828186   5.717182         NA
3   3      34  8.731506   7.619818   2.935576   5.884716         NA
4   4      34  5.212309   4.746820   2.295576   3.431870         NA
5   5      29  6.442860   5.584512   2.518008   4.571424         NA
6   6      37  9.709375   8.533699   5.565570   7.324670         NA
7   7      34  6.937850   6.255918   2.586756   4.703950         NA
8   8      28  6.680778   5.982418   3.025616   4.407783         NA
9   9      28  5.952873   5.376740   1.867463   3.815981         NA
10 10      41  6.797962   5.935221   2.323379   4.986290         NA
11 11      38  6.588754   5.917646   4.089597   4.563106         NA
12 12      34  8.184275   7.260014   4.876548   5.174300         NA
13 13      32  5.822969   5.311373   3.028195   4.126358         NA
14 14      40  7.706366   6.912456   3.388086   5.661208         NA
15 15      33  6.127914   5.455332   3.037560   4.408412         NA
16 16      26  8.674148   7.652888         NA         NA   4.210289
17 17      25  9.218964   8.261916         NA         NA   4.585231
18 18      24  9.839950   8.757856         NA         NA   4.594295
19 19      31  9.087484   8.072908         NA         NA   4.330349
20 20      41  9.916671   9.022350         NA         NA   4.055233

In [41]:
left_join(first_batch, new_info, by=c('student'))

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4 score_wpa6 gender
1   1      33  5.501741   5.089879   3.197318   3.843986   4.644891   1
2   2      30  8.041109   7.163939   2.828186   5.717182   6.215744   0
3   3      34  8.731506   7.619818   2.935576   5.884716   6.258009   1
4   4      34  5.212309   4.746820   2.295576   3.431870   4.483813   1
5   5      29  6.442860   5.584512   2.518008   4.571424   3.348648   1
6   6      37  9.709375   8.533699   5.565570   7.324670   3.466887   1
7   7      34  6.937850   6.255918   2.586756   4.703950   1.755883   1
8   8      28  6.680778   5.982418   3.025616   4.407783   1.934805   0
9   9      28  5.952873   5.376740   1.867463   3.815981   2.871360   0
10 10      41  6.797962   5.935221   2.323379   4.986290   4.556432   0
11 11      38  6.588754   5.917646   4.089597   4.563106   4.670584   0
12 12      34  8.184275   7.260014   4.876548   5.174300   3.568236   0
13 13      32  5.822969   5.311373   3.028195   4.126358   4.730982   0
14 14      40  7.706366   6.912456   3.388086   5.661208   3.542438   0
15 15      33  6.127914   5.455332   3.037560   4.408412   2.027587   1

In [42]:
right_join(new_info, second_batch, by=c('student'))

  student score_wpa6 gender age score_wpa1 score_wpa2 score_wpa5
1 16      3.275201   0      26  8.674148   7.652888   4.210289
2 17      4.301249   1      25  9.218964   8.261916   4.585231
3 18      4.417206   1      24  9.839950   8.757856   4.594295
4 19      4.940966   0      31  9.087484   8.072908   4.330349
5 20      4.597250   0      41  9.916671   9.022350   4.055233

## 3. Now it's your turn

Now you will analyze data from Matthews et al. (2016): Why do we overestimate others' willingness to pay? The purpose of this research was to test if our beliefs about other people's affluence (i.e.; wealth) affect how much we think they will be willing to pay for items. You can find the full paper at http://journal.sjdm.org/15/15909/jdm15909.pdf.

**Variables description:**

Here are descriptions of the data variables (taken from the author's dataset notes available at http://journal.sjdm.org/15/15909/Notes.txt)

- `id`: participant id code
- `gender`: participant gender. 1 = male, 2 = female
- `age`: participant age
- `income`: participant annual household income on categorical scale with 8 categorical options: Less than 5,000; 15,001–25,000; 25,001–35,000; 35,001–50,000; 50,001–75,000; 75,001–100,000; 100,001–150,000; greater than 150,000.
- `p1-p10`: whether the "typical" survey respondent would pay more (coded 1) or less (coded 0) than oneself, for each of the 10 products 
- `task`: whether the participant had to judge the proportion of other people who "have more money than you do" (coded 1) or the proportion who "have less money than you do" (coded 0)
- `havemore`: participant's response when task = 1
- `haveless`: participant's response when task = 0
- `pcmore`: participant's estimate of the proportion of people who have more than they do (calculated as 100-haveless when task=0)

In [43]:
# load some data
matthews_data = read_csv('https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/data_wpa4.csv')

demographics = read_csv("https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/matthews_demographics.csv")

glimpse(matthews_data)

glimpse(demographics)

── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  id = col_character(),
  gender = col_double(),
  age = col_double(),
  income = col_double(),
  p1 = col_double(),
  p2 = col_double(),
  p3 = col_double(),
  p4 = col_double(),
  p5 = col_double(),
  p6 = col_double(),
  p7 = col_double(),
  p8 = col_double(),
  p9 = col_double(),
  p10 = col_double(),
  task = col_double(),
  havemore = col_double(),
  haveless = col_double(),
  pcmore = col_double()
)


Warning message:
“Missing column names filled in: 'X1' [1]”

── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  X1 = col_double(),
  id = col_character(),
  height = col_double(),
  race = col_character()
)

Rows: 190
Columns: 18
$ id       <chr> "R_3PtNn51LmSFdLNM", "R_2AXrrg62pgFgtMV", "R_cwEOX3HgnMeVQHL"…
$ gender   <dbl> 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2…
$ age      <dbl> 26, 32, 25, 33, 24, 22, 47, 26, 29, 32, 29, 28, 31, 24, 25, 2…
$ income   <dbl> 7, 4, 2, 5, 1, 2, 3, 4, 1, 7, 4, 3, 2, 2, 6, 3, 2, 2, 1, 3, 3…
$ p1       <dbl> 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0…
$ p2       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1…
$ p3       <dbl> 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1…
$ p4       <dbl> 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p5       <dbl> 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1…
$ p6       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1…
$ p7       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0…
$ p8       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p9       <dbl> 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p10      <dbl> 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1…
$ task     <dbl> 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1…
$ havemore <dbl> NA, NA, NA, NA, 99, NA, 95, NA, 70, 25, 50, 50, NA, NA, NA, 9…
$ haveless <dbl> 50, 25, 10, 50, NA, 20, NA, 30, NA, NA, NA, NA, 44, 20, 65, N…
$ pcmore   <dbl> 50, 75, 90, 50, 99, 80, 95, 70, 70, 25, 50, 50, 56, 80, 35, 9…
Rows: 190
Columns: 4
$ X1     <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, …
$ id     <chr> "R_2zOA03wY3kZPHKj", "R_1f30AbYQR0D1wpt", "R_2YgEERKijE2Hz6K", …
$ height <dbl> 182, 184, 175, 177, 187, 178, 168, 193, 180, 159, 160, 172, 165…
$ race   <chr> "black", "white", "hispanic", "white", "white", "white", "white…

**Task A**

Note: do not use pipes from 1 to 4.

1. Currently `gender` is coded as 1 and 2. Create a new dataframe called `new_matthews_data`, in which there is a new column called `gender_labels` that codes gender as "male" and "female". Do it using `mutate`. Then, rename the original `gender` column to `gender_binary` using `rename`. Subtract 1 to all values of `gender_binary`, so that it is coded as 0 and 1 instead of 1 and 2 using `mutate` again.

2. In `new_matthews_data`, create new column called `income_labels` that codes income based on the data description above using `mutate`. Then, create a new column, called `income_recoded`, where you only have 4 income categories (coded as numbers from 1 to 4): below 25,000, 25,000-50,000, 50,000-100,000, and above 100,000 using `case_when`. How many observations are there for each of these 4 categories? Use `summarise` to reply.

3. In `new_matthews_data`, transform all numeric columns into integers numbers using `mutate_if`.

4. From `new_matthews_data`, create a summary of the dataset using `summarise`, to answer the following questions: What percent of participants were female? What was the minimum, mean, and maximum `income`? What was the 25th percentile, median, and the 75th percentile of `age`? Use good names for columns.

5. Repeat steps from 1 to 4 (apart from the `summarise` in point 2) using pipes and assign the result to `new_matthews_data_summary`.

**Task B**

1. From `new_matthews_data`, calculate the mean `p1` to `p10` across participants using `summarise_all` and `select`. Which product scored the highest? Do it again, grouping the data by gender. Is there a difference across gender? What is the mean of the mean `p1` to `p10` across participants? Calculate it on the result of the previous step. You can do these either using pipes or not.

2. Transform the data from wide to long format. In particular, you want 10 rows per subjects, with their responses on the products 1 to 10 in a column called `wtp`, and the product label in a column called `product`. Call the resulting dataframe `new_matthews_data_long`. Re-order it by `id`. Print the first 20 cases to check this worked. Check that `new_matthews_data_long` has 10 times more rows than `new_matthews_data`.

**Task C**

1. Drop the `X1` column in `demographics` using `select`.

2. Join `new_matthews_data_long` and `demographics` based on the `id`, in order to retain as many rows and columns as possible. Call the resulting dataframe `matthews_data_all`.

3. Calculate the mean `wtp` per subject using `group_by`. You can use pipes or not. Called the resulting dataframe `mean_matthews_data_all`. This should have as many rows as the number of subjects and 2 columns (`id` and mean wtp). Add as a third and fourth columns `heigth` and `race` using one of the join functions.

4. Using `mean_matthews_data_all`, make a barplot showing the mean `wtp` across ethnic groups. Plot confidence intervals. Give appropriate labels to the plot. Do you think there is a difference in willingness to pay across groups?

5. Using `mean_matthews_data_all`, make a scatterplot showing the wtp on the y-axis and the height on the x-axis. Add a regression line. Do you think height predicts willingness to pay?

## Submit your assignment

Save and email your script to me at [laura.fontanesi@unibas.ch](mailto:laura.fontanesi@unibas.ch) by the end of Friday.