# Data wrangling

Open RStudio.

Open a new R script in R and **save it as** `wpa_4_LastFirst.R` (where Last and First is your last and first name). 

Careful about: capitalizing, last and first name order, and using `_` instead of `-`.

At the top of your script, write the following (**with appropriate changes**):

In [3]:
# Assignment: WPA 4
# Name: Laura Fontanesi
# Date: 23 March 2020

#### Load some data in R

In [4]:
library(tidyverse)

# Load data in R
survey_data = read_csv("https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv")

glimpse(survey_data)

Warning message:
“Missing column names filled in: 'X1' [1]”

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  .default = col_character(),
  X1 = col_double(),
  case_ID = col_double(),
  year = col_double(),
  weight_wave = col_double(),
  weight_aggregate = col_double(),
  reg_coal_emissions = col_logical(),
  hear_GW_media = col_logical(),
  age = col_double(),
  religion_other_nonchristian = col_logical(),
  house_size = col_double(),
  house_ages0to1 = col_double(),
  house_ages2to5 = col_double(),
  house_ages6to12 = col_double(),
  house_ages13to17 = col_double(),
  house_ages18plus = col_double()
)
ℹ Use `spec()` for the full column specifications.


Warning message:
“17354 parsing failures.
 row                col           expected           actual                                                                              file
8269 reg_coal_emissions 1/0/T/F/TRUE/FALSE Strongly oppose  'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
8270 reg_coal_emissions 1/0/T/F/TRUE/FALSE Strongly support 'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
8271 reg_coal_emissions 1/0/T/F/TRUE/FALSE Strongly oppose  'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
8272 reg_coal_emissions 1/0/T/F/TRUE/FALSE Somewhat support 'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
8273 reg_coal_emissions 1/0/T/F/TRUE/FALSE Strongly oppose  'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
.... .................. .................. ................ .................................................................................
See problems(...) for more details.
”

Rows: 20,024
Columns: 55
$ X1                          <dbl> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, …
$ case_ID                     <dbl> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <chr> "Nov 2008", "Nov 2008", "Nov 2008", "Nov 2…
$ year                        <dbl> 2008, 2008, 2008, 2008, 2008, 2008, 2008, …
$ weight_wave                 <dbl> 0.54, 0.85, 0.49, 0.29, 1.29, 2.56, 0.23, …
$ weight_aggregate            <dbl> 0.2939263, 0.4626617, 0.2667109, 0.1578493…
$ happening                   <chr> "Yes", "Don't know", "Don't know", "Yes", …
$ cause_original              <chr> "Caused mostly by human activities", "Caus…
$ cause_other_text            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <chr> "Caused mostly by human activities", "Caus…
$ sci_consensus               <chr> "Most scientists think global warming is h…
$ worry                       <chr> "Somewhat worried", "Not very worried", "N…
$ harm_personally             <chr> "Only a little", "Only a little", "Not at …
$ harm_US                     <chr> "A moderate amount", "Refused", "Not at al…
$ harm_dev_countries          <chr> "A great deal", "Only a little", "Not at a…
$ harm_future_gen             <chr> "A great deal", "A moderate amount", "Not …
$ harm_plants_animals         <chr> "A great deal", "A moderate amount", "Not …
$ when_harm_US                <chr> "In 10 years", "In 50 years", "Never", "In…
$ reg_CO2_pollutant           <chr> "Strongly support", "Somewhat support", "S…
$ reg_utilities               <chr> "Strongly support", "Somewhat support", "S…
$ fund_research               <chr> "Strongly support", "Somewhat support", "S…
$ reg_coal_emissions          <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <chr> "Occasionally", "Rarely", "Never", "Rarely…
$ hear_GW_media               <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <chr> "Female", "Male", "Female", "Male", "Femal…
$ age                         <dbl> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <chr> "55+ years", "35-54 years", "35-54 years",…
$ generation                  <chr> "Silent (1928 - 1945)", "Baby Boomers (194…
$ educ                        <chr> "High school graduate - high school diplom…
$ educ_category               <chr> "High school", "Less than high school", "B…
$ income                      <chr> "$50,000 to $59,999", "$30,000 to $34,999"…
$ income_category             <chr> "$50,000 to $99,999", "Less than $50,000",…
$ race                        <chr> "White, Non-Hispanic", "White, Non-Hispani…
$ ideology                    <chr> "Somewhat conservative", "Moderate, middle…
$ party                       <chr> "Republican", "No party/not interested in …
$ party_w_leaners             <chr> "Republicans", "No party/Not interested in…
$ party_x_ideo                <chr> "Conservative Republican", "No Party/Not I…
$ registered_voter            <chr> "Registered", "Not registered", "Registere…
$ region9                     <chr> "South Atlantic", "East-North Central", "M…
$ region4                     <chr> "South", "Midwest", "West", "South", "Sout…
$ religion                    <chr> "Protestant (e.g., Methodist, Lutheran, Pr…
$ religion_other_nonchristian <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <chr> "No", "Don't Know", "No", "No", "Yes", "Ye…
$ service_attendance          <chr> "Once a week", "Once a year or less", "Onc…
$ marit_status                <chr> "Widowed", "Never married", "Married", "Ma…
$ employment                  <chr> "Not working - retired", "Not working - di…
$ house_head                  <chr> "Not head of household", "Head of househol…
$ house_size                  <dbl> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <dbl> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <dbl> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <chr> "One-family house detached from any other …
$ house_own                   <chr> "Owned by you or someone in your household…

## 1. What is data wrangling?

Data wrangling is the process of transforming data from a raw format (in which they were collected) into another format with the intent of making it more appropriate and valuable for exploratory and confirmatory data analyses.

Until now, we only worked with "tidy" datasets, i.e., dataset that were already ready for being plotted/analysed. But this is an exeption. Especially when collecting your own data, but also when accessing another researcher's data, we typically have to go through a few steps before being able to run analysese or plotting.

Today's class is based on specific functions in the tidyverse that will serve exactly this purpuse.

## 2. Functions to know and some examples

Virtually all you need to know is in [this cheatsheet](https://rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf).

The more frequent functions you will use are:

- `%>%`: The pipe operator, to chain functions (not recommended at the beginning).

- `arrange`: order the dataframe based on values of variables.

- `rename`: to rename specific columns.

- `filter` and `slice`: to select subsets of rows.

- `select`: to select subsets of columns.

- `mutate`: make new columns based on modifications of existing ones.

- `mutate_all`: make the same modification on all columns. 

- `mutate_if`: make the same modification on columns satisfying specific conditions. 

Look [here](https://dplyr.tidyverse.org/reference/mutate_all.html) for other kinds of mutate.

- `summarize`: to calculate summary statistics.

- `summarize_all`: to calculate summary statistics on all columns. 

- `summarize_if`: to calculate summary statistics on columns satisfying specific conditions. 

Look [here](https://dplyr.tidyverse.org/reference/summarise_all.html) for other kinds of summarize.

- `group_by`: to group the data based on some variables, so that subsequent calculations are done on such variables.

- `full_join`, `left_join`, `right_join`: to join separate dataframes.

- `bind_rows` and `bind_cols`: to append dataframes vertically or horizontally.

- `gather` and `spread`: bring wide form to long form and viceversa.

- `unite`: make a column from multiple columns.

- `separate`: make multiple columns from one column.

In [5]:
# only select columns of interest equivalent to data.frame[,interesting_columns]
interesting_columns = c('wave', 'year', 'happening', 'cause_recoded', 'sci_consensus', 'worry', 'harm_personally', 
                        'harm_US', 'harm_dev_countries', 'harm_future_gen', 'harm_plants_animals', 'when_harm_US',
                        'reg_CO2_pollutant', 'reg_utilities', 'fund_research', 'discuss_GW',
                        'gender', 'age_category', 'educ_category', 'income_category', 'race', 'party_x_ideo', 'region4', 'employment')

columns_to_drop = c('case_ID', 'weight_wave', 'weight_aggregate', 'cause_original', 'cause_other_text',
                    'reg_coal_emissions', 'hear_GW_media', 'age', 'generation', 'educ', 'income', 'ideology',
                    'party', 'party_w_leaners', 'registered_voter', 'region9', 'religion', 'religion_other_nonchristian',
                    'evangelical', 'service_attendance', 'marit_status', 'house_head', 'house_size',
                    'house_ages0to1', 'house_ages2to5', 'house_ages6to12', 'house_ages13to17', 'house_ages18plus',
                    'house_type', 'house_own')

new_survey_data = select(survey_data, all_of(interesting_columns))

#or:
new_survey_data = select(survey_data, -all_of(columns_to_drop))

glimpse(new_survey_data)

Rows: 20,024
Columns: 25
$ X1                  <dbl> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, …
$ wave                <chr> "Nov 2008", "Nov 2008", "Nov 2008", "Nov 2008", "N…
$ year                <dbl> 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 20…
$ happening           <chr> "Yes", "Don't know", "Don't know", "Yes", "Yes", "…
$ cause_recoded       <chr> "Caused mostly by human activities", "Caused mostl…
$ sci_consensus       <chr> "Most scientists think global warming is happening…
$ worry               <chr> "Somewhat worried", "Not very worried", "Not at al…
$ harm_personally     <chr> "Only a little", "Only a little", "Not at all", "O…
$ harm_US             <chr> "A moderate amount", "Refused", "Not at all", "Onl…
$ harm_dev_countries  <chr> "A great deal", "Only a little", "Not at all", "A …
$ harm_future_gen     <chr> "A great deal", "A moderate amount", "Not at all",…
$ harm_plants_animals <chr> "A great deal", "A moderate amount", "Not at all",…
$ when_harm_US        <chr> "In 10 years", "In 50 years", "Never", "In 25 year…
$ reg_CO2_pollutant   <chr> "Strongly support", "Somewhat support", "Somewhat …
$ reg_utilities       <chr> "Strongly support", "Somewhat support", "Strongly …
$ fund_research       <chr> "Strongly support", "Somewhat support", "Strongly …
$ discuss_GW          <chr> "Occasionally", "Rarely", "Never", "Rarely", "Neve…
$ gender              <chr> "Female", "Male", "Female", "Male", "Female", "Mal…
$ age_category        <chr> "55+ years", "35-54 years", "35-54 years", "55+ ye…
$ educ_category       <chr> "High school", "Less than high school", "Bachelor'…
$ income_category     <chr> "$50,000 to $99,999", "Less than $50,000", "Less t…
$ race                <chr> "White, Non-Hispanic", "White, Non-Hispanic", "His…
$ party_x_ideo        <chr> "Conservative Republican", "No Party/Not Intereste…
$ region4             <chr> "South", "Midwest", "West", "South", "South", "Wes…
$ employment          <chr> "Not working - retired", "Not working - disabled",…

In [6]:
# sort by one variable, and only show the first 5 values
head(arrange(survey_data, happening), 6)

  X1 case_ID wave     year weight_wave weight_aggregate happening
1  1  3      Nov 2008 2008 0.85        0.4626617        Don't know
2  2  5      Nov 2008 2008 0.49        0.2667109        Don't know
3  5  8      Nov 2008 2008 2.56        1.3934283        Don't know
4 15 20      Nov 2008 2008 0.82        0.4463325        Don't know
5 26 32      Nov 2008 2008 0.77        0.4191171        Don't know
6 33 40      Nov 2008 2008 1.73        0.9416527        Don't know
  cause_original                                      cause_other_text
1 Caused mostly by human activities                   NA
2 Caused mostly by natural changes in the environment NA
3 Caused mostly by natural changes in the environment NA
4 Caused mostly by natural changes in the environment NA
5 Caused mostly by natural changes in the environment NA
6 Caused mostly by natural changes in the environment NA
  cause_recoded                                       ⋯
1 Caused mostly by human activities                   ⋯
2 Caused mostly by natural changes in the environment ⋯
3 Caused mostly by natural changes in the environment ⋯
4 Caused mostly by natural changes in the environment ⋯
5 Caused mostly by natural changes in the environment ⋯
6 Caused mostly by natural changes in the environment ⋯
  employment                     house_head        house_size house_ages0to1
1 Not working - disabled         Head of household 2          0
2 Not working - looking for work Head of household 2          0
3 Working - self-employed        Head of household 3          0
4 Not working - other            Head of household 3          0
5 Not working - retired          Head of household 2          0
6 Working - as a paid employee   Head of household 4          0
  house_ages2to5 house_ages6to12 house_ages13to17 house_ages18plus
1 0              0               0                2
2 0              0               0                2
3 0              1               0                2
4 1              0               0                2
5 0              0               0                2
6 0              0               0                4
  house_type
1 Mobile home
2 One-family house detached from any other house
3 One-family house attached to one or more houses (such as a condo or townhouse)
4 One-family house detached from any other house
5 Mobile home
6 One-family house detached from any other house
  house_own
1 Rented
2 Owned by you or someone in your household
3 Owned by you or someone in your household
4 Owned by you or someone in your household
5 Owned by you or someone in your household
6 Owned by you or someone in your household

In [7]:
# sort by 2 variables (one in opposite order), and only show the last 10 values
tail(arrange(survey_data, happening, desc(cause_recoded)), 10)

   X1    case_ID wave     year weight_wave weight_aggregate happening
1  19879 35283   Oct 2017 2017 0.8294      0.7491838        Yes
2  19880 35285   Oct 2017 2017 2.5982      2.3469125        Yes
3  19924 35332   Oct 2017 2017 1.0176      0.9191818        Yes
4  19925 35334   Oct 2017 2017 0.9679      0.8742886        Yes
5  19928 35337   Oct 2017 2017 0.6358      0.5743080        Yes
6  19950 35365   Oct 2017 2017 1.2562      1.1347054        Yes
7  19960 35377   Oct 2017 2017 0.5589      0.5048454        Yes
8  19974 35396   Oct 2017 2017 0.8183      0.7391573        Yes
9  20008 35436   Oct 2017 2017 0.8983      0.8114200        Yes
10 20020 35451   Oct 2017 2017 0.9108      0.8227111        Yes
   cause_original
1  Other (Please specify)
2  Other (Please specify)
3  Other (Please specify)
4  Other (Please specify)
5  Other (Please specify)
6  Other (Please specify)
7  Other (Please specify)
8  Other (Please specify)
9  Other (Please specify)
10 Other (Please specify)
   cause_other_text
1  A combination of both...
2  caused by both human and natural activities
3  I think it's a combo of human and natural
4  Combination of human and nature
5  both human activity and nature
6  A little bit of both
7  i understand iut to be a natyral , recurring phenomenon that currently is being exacerbated by human activity
8  a combination of both humand and natural changes
9  Both human activities and natural causes
10 combination of natural and human activities
   cause_recoded                                  ⋯
1  Caused by human activities and natural changes ⋯
2  Caused by human activities and natural changes ⋯
3  Caused by human activities and natural changes ⋯
4  Caused by human activities and natural changes ⋯
5  Caused by human activities and natural changes ⋯
6  Caused by human activities and natural changes ⋯
7  Caused by human activities and natural changes ⋯
8  Caused by human activities and natural changes ⋯
9  Caused by human activities and natural changes ⋯
10 Caused by human activities and natural changes ⋯
   employment                     house_head        house_size house_ages0to1
1  Not working - retired          Head of household 3          0
2  Not working - looking for work Head of household 4          0
3  Working - self-employed        Head of household 2          0
4  Working - as a paid employee   Head of household 3          1
5  Working - as a paid employee   Head of household 1          0
6  Working - as a paid employee   Head of household 3          0
7  Working - as a paid employee   Head of household 2          0
8  Working - as a paid employee   Head of household 6          0
9  Working - as a paid employee   Head of household 5          0
10 Working - as a paid employee   Head of household 3          0
   house_ages2to5 house_ages6to12 house_ages13to17 house_ages18plus
1  0              0               0                3
2  0              1               1                2
3  0              0               0                2
4  0              0               0                2
5  0              0               0                1
6  0              0               0                3
7  0              0               0                2
8  0              0               0                6
9  0              0               2                3
10 0              0               0                3
   house_type
1  One-family house detached from any other house
2  One-family house attached to one or more houses (such as a condo or townhouse)
3  One-family house detached from any other house
4  One-family house attached to one or more houses (such as a condo or townhouse)
5  Building with 2 or more apartments
6  One-family house detached from any other house
7  Building with 2 or more apartments
8  One-family house detached from any other house
9  One-family house detached from any other house
10 One-family house attached to one or more houses (such as a condo or townhouse)
   house_own
1  Rented
2  Rented
3  Owned by you or someone in your household
4  Owned by you or someone in your household
5  Owned by you or someone in your household
6  Rented
7  Rented
8  Owned by you or someone in your household
9  Owned by you or someone in your household
10 Rented

In [8]:
# another way to select rows (equivalent to data.frame[200:210,])
slice(survey_data, 200:210)

   X1  case_ID wave     year weight_wave weight_aggregate happening
1  199 217     Nov 2008 2008 0.78        0.4245602        Yes
2  200 218     Nov 2008 2008 0.42        0.2286093        Don't know
3  201 219     Nov 2008 2008 0.67        0.3646863        No
4  202 220     Nov 2008 2008 0.87        0.4735479        Don't know
5  203 221     Nov 2008 2008 0.93        0.5062064        No
6  204 222     Nov 2008 2008 0.77        0.4191171        Yes
7  205 223     Nov 2008 2008 2.09        1.1376036        Yes
8  206 224     Nov 2008 2008 0.79        0.4300033        Yes
9  207 225     Nov 2008 2008 2.35        1.2791236        Yes
10 208 226     Nov 2008 2008 0.59        0.3211417        Yes
11 209 227     Nov 2008 2008 1.97        1.0722866        No
   cause_original
1  Other (Please specify)
2  Caused mostly by natural changes in the environment
3  Caused mostly by natural changes in the environment
4  Caused mostly by natural changes in the environment
5  Caused mostly by natural changes in the environment
6  Caused mostly by human activities
7  Caused mostly by human activities
8  Other (Please specify)
9  Caused mostly by human activities
10 Caused mostly by human activities
11 Caused mostly by natural changes in the environment
   cause_other_text
1  human and  natural occurences
2  NA
3  NA
4  NA
5  NA
6  NA
7  NA
8  caused by a combination of both humans and nature
9  NA
10 NA
11 NA
   cause_recoded                                       ⋯
1  Caused by human activities and natural changes      ⋯
2  Caused mostly by natural changes in the environment ⋯
3  Caused mostly by natural changes in the environment ⋯
4  Caused mostly by natural changes in the environment ⋯
5  Caused mostly by natural changes in the environment ⋯
6  Caused mostly by human activities                   ⋯
7  Caused mostly by human activities                   ⋯
8  Caused by human activities and natural changes      ⋯
9  Caused mostly by human activities                   ⋯
10 Caused mostly by human activities                   ⋯
11 Caused mostly by natural changes in the environment ⋯
   employment                     house_head            house_size
1  Working - as a paid employee   Not head of household 4
2  Working - as a paid employee   Head of household     3
3  Not working - disabled         Not head of household 1
4  Not working - looking for work Head of household     4
5  Working - as a paid employee   Head of household     2
6  Not working - looking for work Head of household     6
7  Not working - other            Head of household     4
8  Working - as a paid employee   Head of household     4
9  Not working - other            Head of household     1
10 Not working - retired          Head of household     1
11 Working - self-employed        Head of household     6
   house_ages0to1 house_ages2to5 house_ages6to12 house_ages13to17
1  0              0              0               0
2  0              0              0               0
3  0              0              0               0
4  0              0              2               0
5  0              0              0               0
6  0              0              1               1
7  0              1              1               0
8  0              0              0               0
9  0              0              0               0
10 0              0              0               0
11 0              0              0               3
   house_ages18plus
1  4
2  3
3  1
4  2
5  2
6  4
7  2
8  4
9  1
10 1
11 3
   house_type
1  One-family house detached from any other house
2  One-family house detached from any other house
3  One-family house detached from any other house
4  One-family house detached from any other house
5  One-family house detached from any other house
6  One-family house detached from any other house
7  One-family house detached from any other house
8  One-family house detached from any other house
9  One-family house attached to one or more houses (such as a condo or townhouse)
10 One-family house detached from any other house
11 One-family house detached from any other house
   house_own
1  Owned by you or someone in your household
2  Rented
3  Rented
4  Owned by you or someone in your household
5  Owned by you or someone in your household
6  Owned by you or someone in your household
7  Owned by you or someone in your household
8  Owned by you or someone in your household
9  Owned by you or someone in your household
10 Owned by you or someone in your household
11 Owned by you or someone in your household

In [9]:
# eliminate people (i.e., rows) who didn't reply in some variables of interest (an absence of reply was coded as -1 here)
survey_data = filter(survey_data, 
                     happening > 0, 
                     cause_recoded > 0, 
                     sci_consensus > 0, 
                     worry > 0)

glimpse(survey_data)

Rows: 18,694
Columns: 55
$ X1                          <dbl> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, …
$ case_ID                     <dbl> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <chr> "Nov 2008", "Nov 2008", "Nov 2008", "Nov 2…
$ year                        <dbl> 2008, 2008, 2008, 2008, 2008, 2008, 2008, …
$ weight_wave                 <dbl> 0.54, 0.85, 0.49, 0.29, 1.29, 2.56, 0.23, …
$ weight_aggregate            <dbl> 0.2939263, 0.4626617, 0.2667109, 0.1578493…
$ happening                   <chr> "Yes", "Don't know", "Don't know", "Yes", …
$ cause_original              <chr> "Caused mostly by human activities", "Caus…
$ cause_other_text            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <chr> "Caused mostly by human activities", "Caus…
$ sci_consensus               <chr> "Most scientists think global warming is h…
$ worry                       <chr> "Somewhat worried", "Not very worried", "N…
$ harm_personally             <chr> "Only a little", "Only a little", "Not at …
$ harm_US                     <chr> "A moderate amount", "Refused", "Not at al…
$ harm_dev_countries          <chr> "A great deal", "Only a little", "Not at a…
$ harm_future_gen             <chr> "A great deal", "A moderate amount", "Not …
$ harm_plants_animals         <chr> "A great deal", "A moderate amount", "Not …
$ when_harm_US                <chr> "In 10 years", "In 50 years", "Never", "In…
$ reg_CO2_pollutant           <chr> "Strongly support", "Somewhat support", "S…
$ reg_utilities               <chr> "Strongly support", "Somewhat support", "S…
$ fund_research               <chr> "Strongly support", "Somewhat support", "S…
$ reg_coal_emissions          <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <chr> "Occasionally", "Rarely", "Never", "Rarely…
$ hear_GW_media               <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <chr> "Female", "Male", "Female", "Male", "Femal…
$ age                         <dbl> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <chr> "55+ years", "35-54 years", "35-54 years",…
$ generation                  <chr> "Silent (1928 - 1945)", "Baby Boomers (194…
$ educ                        <chr> "High school graduate - high school diplom…
$ educ_category               <chr> "High school", "Less than high school", "B…
$ income                      <chr> "$50,000 to $59,999", "$30,000 to $34,999"…
$ income_category             <chr> "$50,000 to $99,999", "Less than $50,000",…
$ race                        <chr> "White, Non-Hispanic", "White, Non-Hispani…
$ ideology                    <chr> "Somewhat conservative", "Moderate, middle…
$ party                       <chr> "Republican", "No party/not interested in …
$ party_w_leaners             <chr> "Republicans", "No party/Not interested in…
$ party_x_ideo                <chr> "Conservative Republican", "No Party/Not I…
$ registered_voter            <chr> "Registered", "Not registered", "Registere…
$ region9                     <chr> "South Atlantic", "East-North Central", "M…
$ region4                     <chr> "South", "Midwest", "West", "South", "Sout…
$ religion                    <chr> "Protestant (e.g., Methodist, Lutheran, Pr…
$ religion_other_nonchristian <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <chr> "No", "Don't Know", "No", "No", "Yes", "Ye…
$ service_attendance          <chr> "Once a week", "Once a year or less", "Onc…
$ marit_status                <chr> "Widowed", "Never married", "Married", "Ma…
$ employment                  <chr> "Not working - retired", "Not working - di…
$ house_head                  <chr> "Not head of household", "Head of househol…
$ house_size                  <dbl> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <dbl> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <dbl> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <chr> "One-family house detached from any other …
$ house_own                   <chr> "Owned by you or someone in your household…

In [10]:
# convert all data to integers type
survey_data = mutate_all(survey_data, 
                         as.integer)

glimpse(survey_data)

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

Rows: 18,694
Columns: 55
$ X1                          <int> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, …
$ case_ID                     <int> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ year                        <int> 2008, 2008, 2008, 2008, 2008, 2008, 2008, …
$ weight_wave                 <int> 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, …
$ weight_aggregate            <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ happening                   <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_original              <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_other_text            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ sci_consensus               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ worry                       <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_personally             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_US                     <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_dev_countries          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_future_gen             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_plants_animals         <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ when_harm_US                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ reg_CO2_pollutant           <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ reg_utilities               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ fund_research               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ reg_coal_emissions          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ hear_GW_media               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ age                         <int> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ generation                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ educ                        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ educ_category               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ income                      <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ income_category             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ race                        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ ideology                    <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ party                       <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ party_w_leaners             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ party_x_ideo                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ registered_voter            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ region9                     <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ region4                     <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ religion                    <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ religion_other_nonchristian <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ service_attendance          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ marit_status                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ employment                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ house_head                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ house_size                  <int> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <int> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ house_own                   <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…

In [11]:
# add new columns
# note that when you use the old name, the column is replaced with the new one

survey_data = mutate(survey_data, 
                     happening_cont = happening + rnorm(mean=0, sd=.5, n=nrow(survey_data)),
                     worry_cont = worry + rnorm(mean=0, sd=.5, n=nrow(survey_data)),
                     year=recode(year, 
                                 `1` = 2008, 
                                 `2` = 2010,
                                 `3` = 2011,
                                 `4` = 2012, 
                                 `5` = 2013,
                                 `6` = 2014,
                                 `7` = 2015,
                                 `8` = 2016,
                                 `9` = 2017),
                     happening_labels=recode(happening,
                                             `1` = "no",
                                             `2` = "dont know",
                                             `3` = "yes"),
                     cause_recoded=recode(cause_recoded,
                                          `1` = "dont know",
                                          `2` = "other",
                                          `3` = "not happening",
                                          `4` = "natural",
                                          `5` = "human",
                                          `6` = "natural and human"),
                     sci_consensus=recode(sci_consensus,
                                          `1` = "dont know",
                                          `2` = "disagreement",
                                          `3` = "not happening",
                                          `4` = "happening"),
                     gender=recode(gender,
                                   `1` = "male",
                                   `2` = "female"),
                     age_category_labels=recode(age_category,
                                                `1` = "18-34",
                                                `2` = "35-54",
                                                `3` = "55+"),
                     educ_category_labels=recode(educ_category,
                                                 `1` = "no highschool",
                                                 `2` = "highschool",
                                                 `3` = "college",
                                                 `4` = "bachelor or higher"),
                     income_category_labels=recode(income_category,
                                                   `1` = "less 50000",
                                                   `2` = "50000-99999",
                                                   `3` = "more 100000"),
                     race=recode(race,
                                 `1` = 'white non hisp',
                                 `2` = 'black non hisp',
                                 `3` = 'other non hisp',
                                 `4` = 'hisp'),
                     party_x_ideo=recode(party_x_ideo,
                                         `-2` = "no interest",
                                         `-1` = "refused",
                                         `1` = "liberal democrat",
                                         `2` = "moderate democrate",
                                         `3` = "independent",
                                         `4` = "moderate republican",
                                         `5` = "conservative republican"),
                     region4 = recode(region4,
                                      `1` = "northeast",
                                      `2` = "midwest",
                                      `3` = "south",
                                      `4` = "west"),
                     employment = recode(employment,
                                         `1` = "Working/as a paid employee",
                                         `2` = "Working/selfemploye",
                                         `3` = "Not working/temporary",
                                         `4` = "Not working/looking",
                                         `5` = "Not working/retired",
                                         `6` = "Not working/disabled",
                                         `7` = "Not working/other"))

glimpse(survey_data)

Warning message:
“Unreplaced values treated as NA as .x is not compatible. Please specify replacements exhaustively or supply .default”

Rows: 18,694
Columns: 61
$ X1                          <int> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, …
$ case_ID                     <int> 2, 3, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 1…
$ wave                        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ year                        <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ weight_wave                 <int> 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, …
$ weight_aggregate            <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ happening                   <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_original              <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_other_text            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cause_recoded               <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ sci_consensus               <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ worry                       <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_personally             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_US                     <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_dev_countries          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_future_gen             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ harm_plants_animals         <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ when_harm_US                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ reg_CO2_pollutant           <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ reg_utilities               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ fund_research               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ reg_coal_emissions          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ discuss_GW                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ hear_GW_media               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ gender                      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ age                         <int> 78, 45, 54, 71, 26, 29, 29, 34, 46, 60, 65…
$ age_category                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ generation                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ educ                        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ educ_category               <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ income                      <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ income_category             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ race                        <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ ideology                    <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ party                       <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ party_w_leaners             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ party_x_ideo                <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ registered_voter            <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ region9                     <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ region4                     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ religion                    <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ religion_other_nonchristian <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ evangelical                 <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ service_attendance          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ marit_status                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ employment                  <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ house_head                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ house_size                  <int> 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_ages0to1              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages2to5              <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages6to12             <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages13to17            <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ house_ages18plus            <int> 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 1, 1, 2, 1, …
$ house_type                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ house_own                   <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ happening_cont              <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ worry_cont                  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ happening_labels            <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ age_category_labels         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ educ_category_labels        <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ income_category_labels      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…

In [17]:
# get summary statistics
summarise(survey_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  count min_worry quantile25_worry mean_worry quantile75_worry max_worry
1 18694 NA        NA               NA         NA               NA
  min_happening quantile25_happening mean_happening quantile75_happening
1 NA            NA                   NA             NA
  max_happening
1 NA

In [19]:
# get summary statistics per group
grouped_data = group_by(survey_data, year)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  year count min_worry quantile25_worry mean_worry quantile75_worry max_worry
1 NA   18694 NA        NA               NA         NA               NA
  min_happening quantile25_happening mean_happening quantile75_happening
1 NA            NA                   NA             NA
  max_happening
1 NA

In [20]:
# split columns
survey_data = separate(survey_data,
                       col = employment,
                       into = c('working', 'working_type'),
                       sep = '/',
                       remove = FALSE)
head(survey_data)

  X1 case_ID wave year weight_wave weight_aggregate happening cause_original
1 0  2       NA   NA   0           0                NA        NA
2 1  3       NA   NA   0           0                NA        NA
3 2  5       NA   NA   0           0                NA        NA
4 3  6       NA   NA   0           0                NA        NA
5 4  7       NA   NA   1           0                NA        NA
6 5  8       NA   NA   2           1                NA        NA
  cause_other_text cause_recoded ⋯ house_ages13to17 house_ages18plus house_type
1 NA               NA            ⋯ 0                3                NA
2 NA               NA            ⋯ 0                2                NA
3 NA               NA            ⋯ 0                2                NA
4 NA               NA            ⋯ 0                2                NA
5 NA               NA            ⋯ 0                2                NA
6 NA               NA            ⋯ 0                2                NA
  house_own happening_cont worry_cont happening_labels age_category_labels
1 NA        NA             NA         NA               NA
2 NA        NA             NA         NA               NA
3 NA        NA             NA         NA               NA
4 NA        NA             NA         NA               NA
5 NA        NA             NA         NA               NA
6 NA        NA             NA         NA               NA
  educ_category_labels income_category_labels
1 NA                   NA
2 NA                   NA
3 NA                   NA
4 NA                   NA
5 NA                   NA
6 NA                   NA

In [21]:
# you can also create a new column via mutate + case_when
survey_data = mutate(survey_data,
                     working_recoded = case_when(working == "Not working" & working_type == 'looking' ~ 0,
                                                 working == "Not working" & working_type != 'looking' ~ 1,
                                                 working == "Working" ~ 2))
                     
head(survey_data)

  X1 case_ID wave year weight_wave weight_aggregate happening cause_original
1 0  2       NA   NA   0           0                NA        NA
2 1  3       NA   NA   0           0                NA        NA
3 2  5       NA   NA   0           0                NA        NA
4 3  6       NA   NA   0           0                NA        NA
5 4  7       NA   NA   1           0                NA        NA
6 5  8       NA   NA   2           1                NA        NA
  cause_other_text cause_recoded ⋯ house_ages18plus house_type house_own
1 NA               NA            ⋯ 3                NA         NA
2 NA               NA            ⋯ 2                NA         NA
3 NA               NA            ⋯ 2                NA         NA
4 NA               NA            ⋯ 2                NA         NA
5 NA               NA            ⋯ 2                NA         NA
6 NA               NA            ⋯ 2                NA         NA
  happening_cont worry_cont happening_labels age_category_labels
1 NA             NA         NA               NA
2 NA             NA         NA               NA
3 NA             NA         NA               NA
4 NA             NA         NA               NA
5 NA             NA         NA               NA
6 NA             NA         NA               NA
  educ_category_labels income_category_labels working_recoded
1 NA                   NA                     NA
2 NA                   NA                     NA
3 NA                   NA                     NA
4 NA                   NA                     NA
5 NA                   NA                     NA
6 NA                   NA                     NA

In [23]:
# get summary statistics per group
grouped_data = group_by(survey_data, working)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  working count min_worry quantile25_worry mean_worry quantile75_worry
1 NA      18694 NA        NA               NA         NA
  max_worry min_happening quantile25_happening mean_happening
1 NA        NA            NA                   NA
  quantile75_happening max_happening
1 NA                   NA

In [24]:
# first filter, and then get summary statistics per group
not_working_data = filter(survey_data, working == "Not working")

grouped_data = group_by(not_working_data, working_type)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

Warning message in min(worry_cont):
“no non-missing arguments to min; returning Inf”
Warning message in max(worry_cont):
“no non-missing arguments to max; returning -Inf”
Warning message in min(happening_cont):
“no non-missing arguments to min; returning Inf”
Warning message in max(happening_cont):
“no non-missing arguments to max; returning -Inf”

     working_type count min_worry quantile25_worry mean_worry quantile75_worry
     max_worry min_happening quantile25_happening mean_happening
     quantile75_happening max_happening

In [25]:
# merge two columns
survey_data = unite(survey_data,
                    "race_gender",
                    race, 
                    gender,
                    sep = "_",
                    remove=FALSE)

head(select(survey_data, race, gender, race_gender))

  race gender race_gender
1 NA   NA     NA_NA
2 NA   NA     NA_NA
3 NA   NA     NA_NA
4 NA   NA     NA_NA
5 NA   NA     NA_NA
6 NA   NA     NA_NA

In [26]:
# get summary statistics per group
grouped_data = group_by(survey_data, race_gender)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

  race_gender count min_worry quantile25_worry mean_worry quantile75_worry
1 NA_NA       18694 NA        NA               NA         NA
  max_worry min_happening quantile25_happening mean_happening
1 NA        NA            NA                   NA
  quantile75_happening max_happening
1 NA                   NA

In [27]:
# similar results with 2 grouping variables in this case:

# get summary statistics per group
grouped_data = group_by(survey_data, race, gender)

summarise(grouped_data, 
          count=n(), 
          min_worry=min(worry_cont),
          quantile25_worry=quantile(worry_cont, .25, na.rm = TRUE),
          mean_worry=mean(worry_cont), 
          quantile75_worry=quantile(worry_cont, .75, na.rm = TRUE),
          max_worry=max(worry_cont),
          min_happening=min(happening_cont),
          quantile25_happening=quantile(happening_cont, .25, na.rm = TRUE),
          mean_happening=mean(happening_cont),
          quantile75_happening=quantile(happening_cont, .75, na.rm = TRUE),
          max_happening=max(happening_cont))

`summarise()` has grouped output by 'race'. You can override using the `.groups` argument.

  race gender count min_worry quantile25_worry mean_worry quantile75_worry
1 NA   NA     18694 NA        NA               NA         NA
  max_worry min_happening quantile25_happening mean_happening
1 NA        NA            NA                   NA
  quantile75_happening max_happening
1 NA                   NA

### Do everything again but with pipes:

In [28]:
survey_data = read_csv("https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv")

survey_data = survey_data %>%
    select(interesting_columns) %>%
    filter(happening > 0, 
           cause_recoded > 0, 
           sci_consensus > 0, 
           worry > 0)  %>%
    mutate_all(as.integer) %>%
    mutate(happening_cont = happening + rnorm(mean=0, sd=.5, n=n()),
           worry_cont = worry + rnorm(mean=0, sd=.5, n=n()),
           year=recode(year, 
                       `1` = 2008, 
                       `2` = 2010,
                       `3` = 2011,
                       `4` = 2012, 
                       `5` = 2013,
                       `6` = 2014,
                       `7` = 2015,
                       `8` = 2016,
                       `9` = 2017),
           happening_labels=recode(happening,
                                   `1` = "no",
                                   `2` = "dont know",
                                   `3` = "yes"),
           cause_recoded=recode(cause_recoded,
                                `1` = "dont know",
                                `2` = "other",
                                `3` = "not happening",
                                `4` = "natural",
                                `5` = "human",
                                `6` = "natural and human"),
           sci_consensus=recode(sci_consensus,
                                `1` = "dont know",
                                `2` = "disagreement",
                                `3` = "not happening",
                                `4` = "happening"),
           gender=recode(gender,
                         `1` = "male",
                         `2` = "female"),
           age_category_labels=recode(age_category,
                                      `1` = "18-34",
                                      `2` = "35-54",
                                      `3` = "55+"),
           educ_category_labels=recode(educ_category,
                                       `1` = "no highschool",
                                       `2` = "highschool",
                                       `3` = "college",
                                       `4` = "bachelor or higher"),
           income_category_labels=recode(income_category,
                        `1` = "less 50000",
                        `2` = "50000-99999",
                        `3` = "more 100000"),
           race=recode(race,
                      `1` = 'white non hisp',
                      `2` = 'black non hisp',
                      `3` = 'other non hisp',
                      `4` = 'hisp'),
           party_x_ideo=recode(party_x_ideo,
                               `-2` = "no interest",
                               `-1` = "refused",
                               `1` = "liberal democrat",
                               `2` = "moderate democrate",
                               `3` = "independent",
                               `4` = "moderate republican",
                               `5` = "conservative republican"),
           region4 = recode(region4,
                            `1` = "northeast",
                            `2` = "midwest",
                            `3` = "south",
                            `4` = "west"),
           employment = recode(employment,
                               `1` = "Working/as a paid employee",
                               `2` = "Working/selfemploye",
                               `3` = "Not working/temporary",
                               `4` = "Not working/looking",
                               `5` = "Not working/retired",
                               `6` = "Not working/disabled",
                               `7` = "Not working/other")) %>%
    separate(col = employment,
             into = c('working', 'working_type'),
             sep = '/') %>%
    glimpse()  %>%
    filter(working == "Not working")  %>%
    group_by(working_type) %>%
    summarise(count=n(), 
              min_worry=min(worry_cont),
              quantile25_worry=quantile(worry_cont, .25),
              mean_worry=mean(worry_cont), 
              quantile75_worry=quantile(worry_cont, .75),
              max_worry=max(worry_cont),
              min_happening=min(happening_cont),
              quantile25_happening=quantile(happening_cont, .25),
              mean_happening=mean(happening_cont),
              quantile75_happening=quantile(happening_cont, .75),
              max_happening=max(happening_cont))

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  .default = col_character(),
  case_ID = col_double(),
  wave = col_double(),
  weight_wave = col_double(),
  weight_aggregate = col_double(),
  happening = col_double(),
  discuss_GW = col_logical(),
  gender = col_logical(),
  age_category = col_double(),
  evangelical = col_logical(),
  house_ages0to1 = col_double(),
  house_ages2to5 = col_double(),
  house_ages6to12 = col_double(),
  house_ages13to17 = col_double(),
  house_ages18plus = col_double(),
  house_type = col_double()
)
ℹ Use `spec()` for the full column specifications.


Warning message:
“37378 parsing failures.
row col   expected     actual                                                                              file
  1  -- 54 columns 55 columns 'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
  2  -- 54 columns 55 columns 'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
  3  -- 54 columns 55 columns 'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
  4  -- 54 columns 55 columns 'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
  5  -- 54 columns 55 columns 'https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/ccam.csv'
... ... .......... .......... .................................................................................
See problems(...) for more details.
”
Note: Using an external vector in selections is ambiguous.
ℹ Use `all_of(interesting_columns)` instead of `interesting_columns` to silence this message.
ℹ See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>.
This message is displayed once per session.

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message:
“Unreplaced values treated as NA as .x is not compatible. Please specify replacements exhaustively or supply .default”
Warning message:
“Unreplaced values treated as NA as .x is not compatible. Please specify replacements exhaustively or supply .default”

Rows: 1,665
Columns: 31
$ wave                   <int> 19, 24, 43, 53, 74, 81, 88, 90, 95, 107, 139, 1…
$ year                   <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ happening              <int> 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ cause_recoded          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ sci_consensus          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ worry                  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ harm_personally        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ harm_US                <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ harm_dev_countries     <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ harm_future_gen        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ harm_plants_animals    <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ when_harm_US           <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ reg_CO2_pollutant      <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ reg_utilities          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ fund_research          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ discuss_GW             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ gender                 <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ age_category           <int> 63, 45, 55, 44, 58, 18, 38, 37, 65, 53, 27, 30,…
$ educ_category          <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ income_category        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ race                   <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ party_x_ideo           <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ region4                <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ working                <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ working_type           <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ happening_cont         <dbl> 1.153268198, 0.643683448, 0.411904114, -0.41033…
$ worry_cont             <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ happening_labels       <chr> "no", NA, "no", NA, NA, NA, NA, NA, NA, NA, NA,…
$ age_category_labels    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ educ_category_labels   <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ income_category_labels <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…

Warning message in min(worry_cont):
“no non-missing arguments to min; returning Inf”
Warning message in max(worry_cont):
“no non-missing arguments to max; returning -Inf”
Warning message in min(happening_cont):
“no non-missing arguments to min; returning Inf”
Warning message in max(happening_cont):
“no non-missing arguments to max; returning -Inf”

In [29]:
survey_data

     working_type count min_worry quantile25_worry mean_worry quantile75_worry
     max_worry min_happening quantile25_happening mean_happening
     quantile75_happening max_happening

### Wide and long format

In [30]:
# Create fake data:
N = 15
mean_score_students = runif(N, 5, 10)
fake_data_wide = tibble( # same as data.frame but in tidyverse!
    student = 1:N,
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1),
    score_wpa4 = mean_score_students*0.7 + rnorm(N, 0, 0.2)
)

fake_data_wide

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      24  5.350302   4.823460   1.348207   4.074634
2   2      32  9.289347   8.239027   4.434117   6.508575
3   3      28  6.379613   5.770534   4.299794   4.183542
4   4      30  6.076898   5.352874   2.835648   4.067586
5   5      32  7.225936   6.433638   4.978435   5.196511
6   6      23  5.101863   4.591889   1.562291   3.840820
7   7      19  9.666794   8.728218   4.471286   6.609660
8   8      31  6.187850   5.694937   2.814672   4.148429
9   9      32  6.475096   5.909518   1.925187   4.264363
10 10      24  5.522121   5.052830   2.767325   4.056865
11 11      31  9.394018   8.578777   3.143665   6.559480
12 12      32  7.575970   6.860100   3.510198   5.428941
13 13      33  7.512884   6.781970   4.293509   5.313862
14 14      33  5.092512   4.779738   3.474770   3.263306
15 15      31  5.871741   5.313093   3.078164   3.843443

In [31]:
# transform from wide to long format
fake_data_long = gather(fake_data_wide,
                        key='wpa',
                        value='score',
                        score_wpa1:score_wpa4)
head(fake_data_long, 10)

   student age wpa        score
1   1      24  score_wpa1 5.350302
2   2      32  score_wpa1 9.289347
3   3      28  score_wpa1 6.379613
4   4      30  score_wpa1 6.076898
5   5      32  score_wpa1 7.225936
6   6      23  score_wpa1 5.101863
7   7      19  score_wpa1 9.666794
8   8      31  score_wpa1 6.187850
9   9      32  score_wpa1 6.475096
10 10      24  score_wpa1 5.522121

In [32]:
# reorder based on student
head(arrange(fake_data_long, student), 20)

   student age wpa        score
1  1       24  score_wpa1 5.350302
2  1       24  score_wpa2 4.823460
3  1       24  score_wpa3 1.348207
4  1       24  score_wpa4 4.074634
5  2       32  score_wpa1 9.289347
6  2       32  score_wpa2 8.239027
7  2       32  score_wpa3 4.434117
8  2       32  score_wpa4 6.508575
9  3       28  score_wpa1 6.379613
10 3       28  score_wpa2 5.770534
11 3       28  score_wpa3 4.299794
12 3       28  score_wpa4 4.183542
13 4       30  score_wpa1 6.076898
14 4       30  score_wpa2 5.352874
15 4       30  score_wpa3 2.835648
16 4       30  score_wpa4 4.067586
17 5       32  score_wpa1 7.225936
18 5       32  score_wpa2 6.433638
19 5       32  score_wpa3 4.978435
20 5       32  score_wpa4 5.196511

In [33]:
# bring back
fake_data_wide = spread(fake_data_long,
                        key='wpa',
                        value='score')
head(fake_data_wide, 5)

  student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1 1       24  5.350302   4.823460   1.348207   4.074634
2 2       32  9.289347   8.239027   4.434117   6.508575
3 3       28  6.379613   5.770534   4.299794   4.183542
4 4       30  6.076898   5.352874   2.835648   4.067586
5 5       32  7.225936   6.433638   4.978435   5.196511

### Join dataframes

In [34]:
# Create fake data:
mean_score_students = runif(N, 5, 10)
fake_data_wide_second_batch = tibble( # same as data.frame but in tidyverse!
    student = (N+1):(2*N),
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1)
)
fake_data_wide_second_batch

   student age score_wpa1 score_wpa2 score_wpa3
1  16      29  5.837102   5.172803   4.653112
2  17      30  7.682111   6.791576   3.170778
3  18      29  7.860678   6.947076   3.514781
4  19      34  8.563173   7.730741   4.724032
5  20      34  6.030106   5.436123   2.798378
6  21      38  5.839637   5.336008   3.121091
7  22      29  9.387974   8.398024   3.431383
8  23      23  8.433041   7.557266   2.467099
9  24      31  7.232840   6.579067   2.948424
10 25      29  9.743257   8.805672   4.002627
11 26      18  6.216610   5.605820   2.066051
12 27      36  8.954143   8.028963   3.944180
13 28      26  7.261659   6.611416   2.496046
14 29      27  7.098951   6.431343   4.451039
15 30      30  7.845550   7.149683   2.118751

In [35]:
fake_data_wide = bind_rows(fake_data_wide, fake_data_wide_second_batch)
fake_data_wide

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      24  5.350302   4.823460   1.348207   4.074634
2   2      32  9.289347   8.239027   4.434117   6.508575
3   3      28  6.379613   5.770534   4.299794   4.183542
4   4      30  6.076898   5.352874   2.835648   4.067586
5   5      32  7.225936   6.433638   4.978435   5.196511
6   6      23  5.101863   4.591889   1.562291   3.840820
7   7      19  9.666794   8.728218   4.471286   6.609660
8   8      31  6.187850   5.694937   2.814672   4.148429
9   9      32  6.475096   5.909518   1.925187   4.264363
10 10      24  5.522121   5.052830   2.767325   4.056865
11 11      31  9.394018   8.578777   3.143665   6.559480
12 12      32  7.575970   6.860100   3.510198   5.428941
13 13      33  7.512884   6.781970   4.293509   5.313862
14 14      33  5.092512   4.779738   3.474770   3.263306
15 15      31  5.871741   5.313093   3.078164   3.843443
16 16      29  5.837102   5.172803   4.653112         NA
17 17      30  7.682111   6.791576   3.170778         NA
18 18      29  7.860678   6.947076   3.514781         NA
19 19      34  8.563173   7.730741   4.724032         NA
20 20      34  6.030106   5.436123   2.798378         NA
21 21      38  5.839637   5.336008   3.121091         NA
22 22      29  9.387974   8.398024   3.431383         NA
23 23      23  8.433041   7.557266   2.467099         NA
24 24      31  7.232840   6.579067   2.948424         NA
25 25      29  9.743257   8.805672   4.002627         NA
26 26      18  6.216610   5.605820   2.066051         NA
27 27      36  8.954143   8.028963   3.944180         NA
28 28      26  7.261659   6.611416   2.496046         NA
29 29      27  7.098951   6.431343   4.451039         NA
30 30      30  7.845550   7.149683   2.118751         NA

In [36]:
# new variables
new_info = tibble(
    student = 1:(2*N),
    score_wpa5 = mean_score_students*0.5 + rnorm(2*N, 0, 1),
    gender = rbinom(2*N, 1, .5)
)

In [37]:
new_info

   student score_wpa5 gender
1   1      2.656846   1
2   2      3.681722   1
3   3      3.302010   1
4   4      4.607683   1
5   5      4.048160   0
6   6      3.912829   0
7   7      3.988288   1
8   8      5.463488   0
9   9      3.099497   1
10 10      5.176658   1
11 11      5.421279   0
12 12      4.073220   0
13 13      3.367229   0
14 14      2.665178   0
15 15      4.182254   1
16 16      2.620369   1
17 17      4.826697   1
18 18      3.907420   1
19 19      5.439105   1
20 20      2.551246   1
21 21      2.018770   1
22 22      3.991946   1
23 23      3.914473   1
24 24      3.452097   0
25 25      4.827140   1
26 26      2.830177   1
27 27      5.685777   0
28 28      4.723801   1
29 29      4.348216   1
30 30      4.425842   1

In [38]:
fake_data_wide = bind_cols(fake_data_wide,
                           new_info)
fake_data_wide

New names:
* student -> student...1
* student -> student...7

   student...1 age score_wpa1 score_wpa2 score_wpa3 score_wpa4 student...7
1   1          24  5.350302   4.823460   1.348207   4.074634    1
2   2          32  9.289347   8.239027   4.434117   6.508575    2
3   3          28  6.379613   5.770534   4.299794   4.183542    3
4   4          30  6.076898   5.352874   2.835648   4.067586    4
5   5          32  7.225936   6.433638   4.978435   5.196511    5
6   6          23  5.101863   4.591889   1.562291   3.840820    6
7   7          19  9.666794   8.728218   4.471286   6.609660    7
8   8          31  6.187850   5.694937   2.814672   4.148429    8
9   9          32  6.475096   5.909518   1.925187   4.264363    9
10 10          24  5.522121   5.052830   2.767325   4.056865   10
11 11          31  9.394018   8.578777   3.143665   6.559480   11
12 12          32  7.575970   6.860100   3.510198   5.428941   12
13 13          33  7.512884   6.781970   4.293509   5.313862   13
14 14          33  5.092512   4.779738   3.474770   3.263306   14
15 15          31  5.871741   5.313093   3.078164   3.843443   15
16 16          29  5.837102   5.172803   4.653112         NA   16
17 17          30  7.682111   6.791576   3.170778         NA   17
18 18          29  7.860678   6.947076   3.514781         NA   18
19 19          34  8.563173   7.730741   4.724032         NA   19
20 20          34  6.030106   5.436123   2.798378         NA   20
21 21          38  5.839637   5.336008   3.121091         NA   21
22 22          29  9.387974   8.398024   3.431383         NA   22
23 23          23  8.433041   7.557266   2.467099         NA   23
24 24          31  7.232840   6.579067   2.948424         NA   24
25 25          29  9.743257   8.805672   4.002627         NA   25
26 26          18  6.216610   5.605820   2.066051         NA   26
27 27          36  8.954143   8.028963   3.944180         NA   27
28 28          26  7.261659   6.611416   2.496046         NA   28
29 29          27  7.098951   6.431343   4.451039         NA   29
30 30          30  7.845550   7.149683   2.118751         NA   30
   score_wpa5 gender
1  2.656846   1
2  3.681722   1
3  3.302010   1
4  4.607683   1
5  4.048160   0
6  3.912829   0
7  3.988288   1
8  5.463488   0
9  3.099497   1
10 5.176658   1
11 5.421279   0
12 4.073220   0
13 3.367229   0
14 2.665178   0
15 4.182254   1
16 2.620369   1
17 4.826697   1
18 3.907420   1
19 5.439105   1
20 2.551246   1
21 2.018770   1
22 3.991946   1
23 3.914473   1
24 3.452097   0
25 4.827140   1
26 2.830177   1
27 5.685777   0
28 4.723801   1
29 4.348216   1
30 4.425842   1

A better way to join dataframes is to use the "join" functions:

In [39]:
# Create fake data:
N = 15
mean_score_students = runif(N, 5, 10)
first_batch = tibble(
    student = 1:N,
    age = round(rnorm(N, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_wpa3 = mean_score_students*0.5 + rnorm(N, 0, 1),
    score_wpa4 = mean_score_students*0.7 + rnorm(N, 0, 0.2)
)
M = 5
mean_score_students = runif(M, 8, 10)
second_batch = tibble( 
    student = (N+1):(N+M),
    age = round(rnorm(M, 30, 5)),
    score_wpa1 = mean_score_students,
    score_wpa2 = mean_score_students*0.9 + rnorm(M, 0, 0.1),
    score_wpa5 = mean_score_students*0.5 + rnorm(M, 0, 1)
)
new_info = tibble(
    student = 1:(N+M),
    score_wpa6 = runif(N+M, 6, 10)*0.5 + rnorm(N+M, 0, 1),
    gender = rbinom(N+M, 1, .5)
)

In [40]:
first_batch

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4
1   1      26  6.585973   5.803681   3.637984   4.724408
2   2      22  6.986269   6.296002   3.045269   5.252876
3   3      32  9.088943   8.164221   5.398606   6.309631
4   4      37  5.333833   4.906472   1.046895   3.624793
5   5      33  5.271735   4.761087   1.251065   3.645108
6   6      31  8.893446   8.116180   5.282504   6.130001
7   7      27  7.755469   7.091476   3.557465   5.256445
8   8      37  5.817034   5.260826   3.789399   4.186599
9   9      33  8.219542   7.322283   4.228375   5.405467
10 10      37  8.722979   7.813720   4.452039   5.967142
11 11      30  5.413335   4.815063   4.098814   3.806316
12 12      34  9.120408   8.162680   2.965314   6.531959
13 13      32  5.291132   4.646066   3.264415   3.490048
14 14      18  8.351587   7.473515   2.146398   6.215238
15 15      30  7.299960   6.507488   5.121586   4.650846

In [41]:
second_batch

  student age score_wpa1 score_wpa2 score_wpa5
1 16      23  9.260536   8.195728   4.573286
2 17      32  9.829950   8.748276   4.734740
3 18      37  8.047509   7.323552   1.739104
4 19      28  8.987178   8.162175   4.004146
5 20      37  9.507381   8.499145   3.315042

In [42]:
new_info

   student score_wpa6 gender
1   1      2.287797   0
2   2      4.086398   1
3   3      5.894512   1
4   4      3.907379   1
5   5      1.814034   1
6   6      2.796843   1
7   7      5.031935   0
8   8      4.140034   0
9   9      3.836112   1
10 10      5.271993   0
11 11      5.056514   0
12 12      2.228353   0
13 13      3.221773   1
14 14      4.673911   0
15 15      2.601287   1
16 16      4.854776   0
17 17      3.035959   1
18 18      5.270939   0
19 19      5.186211   0
20 20      4.528591   0

In [43]:
full_join(first_batch, second_batch, by='student')

   student age.x score_wpa1.x score_wpa2.x score_wpa3 score_wpa4 age.y
1   1      26    6.585973     5.803681     3.637984   4.724408   NA
2   2      22    6.986269     6.296002     3.045269   5.252876   NA
3   3      32    9.088943     8.164221     5.398606   6.309631   NA
4   4      37    5.333833     4.906472     1.046895   3.624793   NA
5   5      33    5.271735     4.761087     1.251065   3.645108   NA
6   6      31    8.893446     8.116180     5.282504   6.130001   NA
7   7      27    7.755469     7.091476     3.557465   5.256445   NA
8   8      37    5.817034     5.260826     3.789399   4.186599   NA
9   9      33    8.219542     7.322283     4.228375   5.405467   NA
10 10      37    8.722979     7.813720     4.452039   5.967142   NA
11 11      30    5.413335     4.815063     4.098814   3.806316   NA
12 12      34    9.120408     8.162680     2.965314   6.531959   NA
13 13      32    5.291132     4.646066     3.264415   3.490048   NA
14 14      18    8.351587     7.473515     2.146398   6.215238   NA
15 15      30    7.299960     6.507488     5.121586   4.650846   NA
16 16      NA          NA           NA           NA         NA   23
17 17      NA          NA           NA           NA         NA   32
18 18      NA          NA           NA           NA         NA   37
19 19      NA          NA           NA           NA         NA   28
20 20      NA          NA           NA           NA         NA   37
   score_wpa1.y score_wpa2.y score_wpa5
1        NA           NA           NA
2        NA           NA           NA
3        NA           NA           NA
4        NA           NA           NA
5        NA           NA           NA
6        NA           NA           NA
7        NA           NA           NA
8        NA           NA           NA
9        NA           NA           NA
10       NA           NA           NA
11       NA           NA           NA
12       NA           NA           NA
13       NA           NA           NA
14       NA           NA           NA
15       NA           NA           NA
16 9.260536     8.195728     4.573286
17 9.829950     8.748276     4.734740
18 8.047509     7.323552     1.739104
19 8.987178     8.162175     4.004146
20 9.507381     8.499145     3.315042

In [44]:
full_join(first_batch, second_batch, by=c('student', 'age', "score_wpa1", "score_wpa2"))

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4 score_wpa5
1   1      26  6.585973   5.803681   3.637984   4.724408         NA
2   2      22  6.986269   6.296002   3.045269   5.252876         NA
3   3      32  9.088943   8.164221   5.398606   6.309631         NA
4   4      37  5.333833   4.906472   1.046895   3.624793         NA
5   5      33  5.271735   4.761087   1.251065   3.645108         NA
6   6      31  8.893446   8.116180   5.282504   6.130001         NA
7   7      27  7.755469   7.091476   3.557465   5.256445         NA
8   8      37  5.817034   5.260826   3.789399   4.186599         NA
9   9      33  8.219542   7.322283   4.228375   5.405467         NA
10 10      37  8.722979   7.813720   4.452039   5.967142         NA
11 11      30  5.413335   4.815063   4.098814   3.806316         NA
12 12      34  9.120408   8.162680   2.965314   6.531959         NA
13 13      32  5.291132   4.646066   3.264415   3.490048         NA
14 14      18  8.351587   7.473515   2.146398   6.215238         NA
15 15      30  7.299960   6.507488   5.121586   4.650846         NA
16 16      23  9.260536   8.195728         NA         NA   4.573286
17 17      32  9.829950   8.748276         NA         NA   4.734740
18 18      37  8.047509   7.323552         NA         NA   1.739104
19 19      28  8.987178   8.162175         NA         NA   4.004146
20 20      37  9.507381   8.499145         NA         NA   3.315042

In [45]:
left_join(first_batch, new_info, by=c('student'))

   student age score_wpa1 score_wpa2 score_wpa3 score_wpa4 score_wpa6 gender
1   1      26  6.585973   5.803681   3.637984   4.724408   2.287797   0
2   2      22  6.986269   6.296002   3.045269   5.252876   4.086398   1
3   3      32  9.088943   8.164221   5.398606   6.309631   5.894512   1
4   4      37  5.333833   4.906472   1.046895   3.624793   3.907379   1
5   5      33  5.271735   4.761087   1.251065   3.645108   1.814034   1
6   6      31  8.893446   8.116180   5.282504   6.130001   2.796843   1
7   7      27  7.755469   7.091476   3.557465   5.256445   5.031935   0
8   8      37  5.817034   5.260826   3.789399   4.186599   4.140034   0
9   9      33  8.219542   7.322283   4.228375   5.405467   3.836112   1
10 10      37  8.722979   7.813720   4.452039   5.967142   5.271993   0
11 11      30  5.413335   4.815063   4.098814   3.806316   5.056514   0
12 12      34  9.120408   8.162680   2.965314   6.531959   2.228353   0
13 13      32  5.291132   4.646066   3.264415   3.490048   3.221773   1
14 14      18  8.351587   7.473515   2.146398   6.215238   4.673911   0
15 15      30  7.299960   6.507488   5.121586   4.650846   2.601287   1

In [46]:
right_join(new_info, second_batch, by=c('student'))

  student score_wpa6 gender age score_wpa1 score_wpa2 score_wpa5
1 16      4.854776   0      23  9.260536   8.195728   4.573286
2 17      3.035959   1      32  9.829950   8.748276   4.734740
3 18      5.270939   0      37  8.047509   7.323552   1.739104
4 19      5.186211   0      28  8.987178   8.162175   4.004146
5 20      4.528591   0      37  9.507381   8.499145   3.315042

## 3. Now it's your turn

Now you will analyze data from Matthews et al. (2016): Why do we overestimate others' willingness to pay? The purpose of this research was to test if our beliefs about other people's affluence (i.e.; wealth) affect how much we think they will be willing to pay for items. You can find the full paper at http://journal.sjdm.org/15/15909/jdm15909.pdf.

**Variables description:**

Here are descriptions of the data variables (taken from the author's dataset notes available at http://journal.sjdm.org/15/15909/Notes.txt)

- `id`: participant id code
- `gender`: participant gender. 1 = male, 2 = female
- `age`: participant age
- `income`: participant annual household income on categorical scale with 8 categorical options: Less than 5,000; 15,001–25,000; 25,001–35,000; 35,001–50,000; 50,001–75,000; 75,001–100,000; 100,001–150,000; greater than 150,000.
- `p1-p10`: whether the "typical" survey respondent would pay more (coded 1) or less (coded 0) than oneself, for each of the 10 products 
- `task`: whether the participant had to judge the proportion of other people who "have more money than you do" (coded 1) or the proportion who "have less money than you do" (coded 0)
- `havemore`: participant's response when task = 1
- `haveless`: participant's response when task = 0
- `pcmore`: participant's estimate of the proportion of people who have more than they do (calculated as 100-haveless when task=0)

In [48]:
# load some data
matthews_data = read_csv('https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/data_wpa4.csv')

demographics = read_csv("https://raw.githubusercontent.com/laurafontanesi/r-seminar/master/data/matthews_demographics.csv")

glimpse(matthews_data)

glimpse(demographics)

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  id = col_character(),
  gender = col_double(),
  age = col_double(),
  income = col_double(),
  p1 = col_double(),
  p2 = col_double(),
  p3 = col_double(),
  p4 = col_double(),
  p5 = col_double(),
  p6 = col_double(),
  p7 = col_double(),
  p8 = col_double(),
  p9 = col_double(),
  p10 = col_double(),
  task = col_double(),
  havemore = col_double(),
  haveless = col_double(),
  pcmore = col_double()
)


Warning message:
“Missing column names filled in: 'X1' [1]”

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  X1 = col_double(),
  id = col_character(),
  height = col_double(),
  race = col_character()
)

Rows: 190
Columns: 18
$ id       <chr> "R_3PtNn51LmSFdLNM", "R_2AXrrg62pgFgtMV", "R_cwEOX3HgnMeVQHL"…
$ gender   <dbl> 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2…
$ age      <dbl> 26, 32, 25, 33, 24, 22, 47, 26, 29, 32, 29, 28, 31, 24, 25, 2…
$ income   <dbl> 7, 4, 2, 5, 1, 2, 3, 4, 1, 7, 4, 3, 2, 2, 6, 3, 2, 2, 1, 3, 3…
$ p1       <dbl> 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0…
$ p2       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1…
$ p3       <dbl> 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1…
$ p4       <dbl> 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p5       <dbl> 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1…
$ p6       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1…
$ p7       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0…
$ p8       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p9       <dbl> 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ p10      <dbl> 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1…
$ task     <dbl> 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1…
$ havemore <dbl> NA, NA, NA, NA, 99, NA, 95, NA, 70, 25, 50, 50, NA, NA, NA, 9…
$ haveless <dbl> 50, 25, 10, 50, NA, 20, NA, 30, NA, NA, NA, NA, 44, 20, 65, N…
$ pcmore   <dbl> 50, 75, 90, 50, 99, 80, 95, 70, 70, 25, 50, 50, 56, 80, 35, 9…
Rows: 190
Columns: 4
$ X1     <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, …
$ id     <chr> "R_2zOA03wY3kZPHKj", "R_1f30AbYQR0D1wpt", "R_2YgEERKijE2Hz6K", …
$ height <dbl> 182, 184, 175, 177, 187, 178, 168, 193, 180, 159, 160, 172, 165…
$ race   <chr> "black", "white", "hispanic", "white", "white", "white", "white…

**Task A**

Note: do not use pipes from 1 to 4.

1. Currently `gender` is coded as 1 and 2. Create a new dataframe called `new_matthews_data`, in which there is a new column called `gender_labels` that codes gender as "male" and "female". Do it using `mutate`. Then, rename the original `gender` column to `gender_binary` using `rename`. Subtract 1 to all values of `gender_binary`, so that it is coded as 0 and 1 instead of 1 and 2 using `mutate` again.

2. In `new_matthews_data`, create new column called `income_labels` that codes income based on the data description above using `mutate`. Then, create a new column, called `income_recoded`, where you only have 4 income categories (coded as numbers from 1 to 4): below 25,000, 25,000-50,000, 50,000-100,000, and above 100,000 using `case_when`. How many observations are there for each of these 4 categories? Use `summarise` to reply.

3. In `new_matthews_data`, transform all numeric columns into integers numbers using `mutate_if`.

4. From `new_matthews_data`, create a summary of the dataset using `summarise`, to answer the following questions: What percent of participants were female? What was the minimum, mean, and maximum `income`? What was the 25th percentile, median, and the 75th percentile of `age`? Use good names for columns.

5. Repeat steps from 1 to 4 (apart from the `summarise` in point 2) using pipes and assign the result to `new_matthews_data_summary`.

**Task B**

1. From `new_matthews_data`, calculate the mean `p1` to `p10` across participants using `summarise_all` and `select`. Which product scored the highest? Do it again, grouping the data by gender. Is there a difference across gender? What is the mean of the mean `p1` to `p10` across participants? Calculate it on the result of the previous step. You can do these either using pipes or not.

2. Transform the data from wide to long format. In particular, you want 10 rows per subjects, with their responses on the products 1 to 10 in a column called `wtp`, and the product label in a column called `product`. Call the resulting dataframe `new_matthews_data_long`. Re-order it by `id`. Print the first 20 cases to check this worked. Check that `new_matthews_data_long` has 10 times more rows than `new_matthews_data`.

**Task C**

1. Drop the `X1` column in `demographics` using `select`.

2. Join `new_matthews_data_long` and `demographics` based on the `id`, in order to retain as many rows and columns as possible. Call the resulting dataframe `matthews_data_all`.

3. Calculate the mean `wtp` per subject using `group_by`. You can use pipes or not. Called the resulting dataframe `mean_matthews_data_all`. This should have as many rows as the number of subjects and 2 columns (`id` and mean wtp). Add as a third and fourth columns `heigth` and `race` using one of the join functions.

4. Using `mean_matthews_data_all`, make a barplot showing the mean `wtp` across ethnic groups. Plot confidence intervals. Give appropriate labels to the plot. Do you think there is a difference in willingness to pay across groups?

5. Using `mean_matthews_data_all`, make a scatterplot showing the wtp on the y-axis and the height on the x-axis. Add a regression line. Do you think height predicts willingness to pay?

## Submit your assignment

Save and email your script to me at [laura.fontanesi@unibas.ch](mailto:laura.fontanesi@unibas.ch) by the end of Friday.